.playlist {
    width: 100%;
    margin-bottom: 20px;

    img {
        width: 100%;
        max-height: 190px;
        object-fit: cover;
    }

    .play-all {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #18B587;
        border-radius: 0;
        font-size: 16px;
        color: #ffffff;

        span {
            margin-right: 12px;
        }
    }

    .add-video, .save-playlist-changes, .cancel, .back {
        margin-top: 22px;
        padding: 6px 24px;
        background: #18B587;
        border-radius: 0;
        font-size: 16px;
        color: #ffffff;

        &.cancel, &.back {
            background: #C9C9C9;
            margin-right: 24px;
        }

    }

    .info {

        h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;
            margin-bottom: 0;
            font-size: 16px;
            font-family: "Muli-Bold";
            color: #545454;

            span {
                font-size: 22px;
                cursor: pointer;
            }
        }

        p {
            margin-top: 12px;
            color: #545454;
            font-size: 12px;
        }

        .select {
            margin-top: 16px;

            span {
                vertical-align: sub;
                font-size: 22px;
                color: #545454;
            }

            select {
                color: #545454;
                font-size: 16px;
                font-weight: 600;
                border: 0;
                padding: 0;
                outline: none;
                margin-left: 6px;
            }
        }

        #playlist-info-form {
            input, textarea {
                margin-top: 24px;
                width: 100%;
                padding: 14px 24px;
                background: #F4F4F4;
                color: #545454;
                border: 0;
                outline: none;
                resize: none;
            }
        }

        #privacy-select {
            display: flex;
        }
    }
}
