<i class="fas fa-times" (click)="closeModal()"></i>
<section class="crypto-content">
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item crypto-item-green">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item crypto-item-green">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item crypto-item-green">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item crypto-item-green">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
  <div class="crypto-item">
    <p class="crypto-text-1">Bitcoin 24h</p>
    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
    <div class="crypto-block">
      <p class="crypto-text-1">-489,86</p>
      <p class="crypto-text-1">-4,16%</p>
    </div>
    <img class="crypto-map" src="assets/img/map.png">
  </div>
</section>
