@import 'variables';
@import 'mixins';

.tab-container {
    padding-left: 20px;
    font-family: "Muli-Bold", sans-serif;


    #all-members-wrap {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        > div {
            flex: 50%;
            padding-left: 20px;


            ul {
                margin-top: 20px;
                display: flex;

                &.bordered {
                    border-right: 1px solid $light_gray;
                }

                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                }
            }
        }

        #admins {


        }

        #members {
            padding-left: 20px;

            li {
                margin-right: 10px;
                border: 1px solid #d3d3d3;
                padding: 5px;
                border-radius: 35px;

                .details {
                    display: flex;
                    align-items: center;
                }
            }
        }

        #member-requests {
            button {
                @include regularButton;
            }

            .ignore-request {
                background-color: $light-gray;
                margin-left: 20px;
            }

            .confirm-request {
                margin-left: 30px;
            }
        }
    }
}


.remove-member-btn {
    margin-left: 10px;
    cursor: pointer;
    color: $red;
}
