<div class="stocks-watchlist" id="sidebar-watchlist" *ngIf="auth.loggedIn() && !isSmallScreen">
    <ul class="nav nav-tabs" id="watchlist">
        <li class="nav-item" (click)="changeTab('watchlist')">
            <a class="nav-link" [class.active]="activeTab.name==='watchlist'" id="watchlist-tab">My Watchlist</a>
        </li>
        <li class="nav-item" (click)="changeTab('today')">
            <a class="nav-link active" [class.active]="activeTab.name==='today'" id="today-tab">Today</a>
        </li>
    </ul>
    <div class="tab-content" id="watchlistContent" [hidden]="activeTab.name!=='watchlist'">
        <app-stocks-list-sample [stocks]="userStocks" [userStocks]="userStocks" [portable]="true" [follow]="false"
                                [editPortable]="true"
                                *ngIf="selectedSortType" [sort]="selectedSortType"
                                (updatedStocksList)="updateFollowedLists($event)"></app-stocks-list-sample>

        <p (click)="viewFullWatchlist()" *ngIf="!routerUrl.includes('/channels/show')" class="see-more">
            See more
        </p>

    </div>
    <div class="tab-content" id="todayContent" [hidden]="activeTab.name!=='today'">
        <app-stocks-list-sample [stocks]="indices" [userStocks]="userStocks" [follow]="false"
                                (updatedStocksList)="updateFollowedLists($event)"
                                [portable]="true"></app-stocks-list-sample>

        <p (click)="viewFullWatchlist()" *ngIf="!routerUrl.includes('/channels/show')" class="see-more">
            See more
        </p>

        <img class="ads" src="assets/img/ads.png">
        <img class="ads" src="assets/img/ads.png">
    </div>
</div>
