@import "mixins";

@include stocksWatchlist;
.analytics-item {
    display: flex;
    margin-bottom: 12px;
}

.analytics-item-1 {
    width: 76px;
    overflow: hidden;
}

.analytics-text-1 {
    color: #777777;
    font-size: 14px;
    font-family: "Muli-Bold";
}

.analytics-text-2 {
    color: #777777;
    font-size: 12px;
    font-family: "Muli-Light";
}

//.watchlist-analytics {
//    margin-top: 13px;
//}

.analytics-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39px;
    margin: 0 12px;
}

.analytics-text-3 {
    color: #545454;
    font-size: 14px;
    font-family: "Muli-Bold";
}

.analytics-text-4 {
    color: #18B587;
    font-size: 14px;
    font-family: "Muli-Bold";
}

.analytics-text-5 {
    color: #BB0000;
    font-size: 14px;
    font-family: "Muli-Bold";
}

.analytics-percent {
    width: 80px;
}

.analytics-delete {
    color: #BB0000;
}

.analytics-delete {
    font-size: 10px;
    position: absolute;
    right: 0;
}


.analytics-text-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.stocks-top-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .search-stocks {
        max-width: 178px;
        width: 100%;
    }

    .context-actions {
        z-index: 2;
    }

    mat-icon {
        cursor: pointer;
    }
}


.analytics-item {
    cursor: pointer;
    position: relative;

    .stock-info {
        display: flex;
        width: 100%;
    }
}
