.stocks-top-actions {
    .watchlist-search {
        position: relative;

        .watchlist-input {
            padding: 8px;
        }

        .fa-search {
            position: absolute;
            right: 8px;
            top: 11px;
        }
    }

    //.mat-icon {
    //    margin-top: 12px;
    //}
}
