<div id="video-stream-container">

    <mat-spinner [diameter]="100" class="session-loader" *ngIf="loader.dataLoading"></mat-spinner>
    <!-- Shown when session connected -->
    <div id="video-chat-container" *ngIf="openViduToken">

        <!-- Publisher video recording interface -->
        <div class="video-container">
            <app-video-js-record [openViduToken]="openViduToken" [thumbnailFile]="thumbnailFile"
                                 [videoSettings]="videoSettings"
                                 (recordingStarted)="getRecordedVideoId($event)"></app-video-js-record>
        </div>
        <div class="chat-container">
            <app-chat-box [openViduToken]="openViduToken" [session]="session" [videoId]="videoId" *ngIf="videoId"
                          (sendMessage)="sendMessage($event)" [videoRecordingState]="recordingState"></app-chat-box>
        </div>
    </div>
    <div id="participants-count" *ngIf="!loader.dataLoading && openViduToken">
        <i class="fa fa-users"></i>{{participants.length}}
        <ul>
            <li *ngFor="let participant of participants">{{participant}}</li>
        </ul>
    </div>
</div>
<ng-container *ngIf="!openViduToken && !loader.dataLoading">
    <p>There was a problem white loading streaming session.</p>
    <p>Please reload the page or try again later</p>
    <mat-icon (click)="reloadPage()">refresh</mat-icon>
</ng-container>
