.session-container {
    height: 100vh;
}

#img-div {
    text-align: center;

    img {
        height: 200px;
    }
}

.join-session-btn {
    background-color: #18B587;
    width: 25%;
    margin-top: 33px;
    border: none;
}

#video-chat-container {
    display: flex;

    .video-container, .chat-container {
        flex: 1;
        display: flex;
    }

    app-video-js-record {
        flex: 1;

        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 60%;
    }
}


#streaming-not-started-yet {
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Muli-Light";
    background: #EFEFEF;
}

.stream-container {
    overflow: hidden;
}

.stream-errors {
    display: flex;
}

