#start-streaming-form {
    font-family: 'Muli-Regular';

    > div {
        margin: 20px;

        > input, textarea {
            width: 100%;
        }
    }

    #video-name {
        width: 548px;
        height: 51px;
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 0 6px #EEEEEE;
        color: #CECECE;
        //border: 0.5px solid #F53C6F;
    }

    #video-categories {
        select {
            width: 548px;
            height: 51px;
            background: #FFFFFF 0 0 no-repeat padding-box;
            box-shadow: 0 0 6px #EEEEEE;
            border: none;
            font: normal normal normal 16px/20px 'Muli-Regular';
            color: #CECECE;
            outline: none;
        }
    }

    #video-description {
        textarea {
            width: 548px;
            height: 151px;
            background: #FFFFFF 0 0 no-repeat padding-box;
            box-shadow: 0 0 6px #EEEEEE;
            opacity: 1;
            border: none;
            resize: none;
        }
    }

    label[for="custom-thumbnail"] {
        display: flex;
        align-items: center;
        width: 316px;
        height: 49px;
        background: #EEEEEE 0 0 no-repeat padding-box;
        font: normal normal normal 18px/19px 'Muli-Regular';
        color: #C9C9C9;
    }


    #custom-thumbnail {
        display: none;
    }

    #uploaded-thumbnail-container {
        position: relative;
        width: 300px;

        mat-icon {
            position: absolute;
            right: 0;
        }

        #uploaded-thumbnail {
            width: 300px;
            object-fit: cover;
        }

        #remove-thumbnail {
            color: #ffffff;
            cursor: pointer;
        }
    }

    #video-tags {
        mat-form-field {
            width: 100%;
        }
    }

    .actions {
        text-align: center;
    }
}
