
<div class="accessibility-statement text-list">
    <h1>Accessibility Statement</h1>
    <div class="text">
        <p>You’re already one of us.</p>
        <p>As children, some of our earliest memories came from the playground. When we played together, we made cherished memories. That’s what we want METL.TV to be: A place where anyone can play and make memories together.</p>
        <p class="bold">What are the guidelines?</p>
        <p>To help us make the METL.TV experience positive for everyone, we’re committed to using the Web Content Accessibility Guidelines (WCAG) 2.2. The guidelines provide a framework to make our content more accessible for everyone.</p>
        <p>WCAG has three levels of accessibility: A, AA, and AAA. We chose Level A as our target for the METL.TV experience for 2020. In 2021 we plan to level up to AA.</p>
        <p class="bold">How do we do this?</p>
        <p>Here’s a few things we’re working on right now:</p>
        <p class="bold list">Reducing accessibility defects</p>
        <p class="bold list">Including accessibility documentation in our core components</p>
        <p class="bold list">Reducing accessibility dSetting up a resource group for employees with disabilities</p>
        <p class="bold list">And more!</p>
        <p>We’re working hard on the METL.TV experience and are on our way to our Level A accessibility goal.</p>
        <p class="bold">Exceptions</p>
        <p class="list">An exception is WCAG Success Criteria 1.2.5: Audio Description. It’s not feasible for us to create accurate audio descriptions for the hours of video content streamed on our platform daily. We apologize for this inconvenience.</p>
        <p class="list">Also, METL.TV cannot be held responsible for the accessibility of content our customers create or advertisements our vendors create.</p>
        <p class="list">Also, METL.TV cannot be held responsible for the accessibility of content our customers create or advertisements our vendors create.</p>
        <p class="bold">Photosensitive Seizure Warning</p>
        <p>METL.TV allows you to watch streams of video game play and other types of video content. A very small percentage of individuals may experience epileptic seizures when exposed to certain visual images, including light patterns or flashing lights that may appear in video games or other video content. Exposure to certain patterns or backgrounds on a computer screen, or while watching video games, may induce an epileptic seizure in these individuals. Certain conditions may induce previously undetected epileptic symptoms even in persons who have no history of prior seizures or epilepsy.</p>
        <p>If you, or anyone in your family, have an epileptic condition, consult your physician prior to watching video game content on METL.TV. If you experience any of the following symptoms while watching – dizziness, altered vision, eye or muscle twitches, loss of awareness, disorientation, any involuntary movement, or convulsions – discontinue use IMMEDIATELY and consult your physician before resuming use of METL.TV.</p>
        <p class="bold">How can you help?</p>
        <p>We use automated, semi-automated, and manual checks, but if you do find any problems, we want your help to solve them!</p>
        <p>If you enjoy using the METL.TV experience, or have trouble with any part of it, please let us know!</p>
        <p class="list">Email us your story: info@metl.tv</p>
    </div>
</div>

