<div class="tab1">
    <div class="input-wrap">
        <label>Search video</label>
        <app-search-videos-form (search)="searchVideos($event)"></app-search-videos-form>
    </div>
    <div class="video-item" [class.selected]="checkIfVideoSelected(video.id)"
         [class.added]="checkIfVideoAddedToPlaylist(video)"
         *ngFor="let video of searchedVideos" (click)="selectVideo(video)">
        <div class="video-container">
            <div class="img">
                <span class="added-placeholder"></span>
                <img class="thumbnail" [src]="video.thumbnail|getImgPath">
            </div>

            <div class="details">
                <div class="title">
                    <h4 class="">{{video.name}}</h4>
                </div>
                <div class="shortened-details">
                    <span class="channel-name">{{video.channel.name}}</span>
                    <span class="dot">.</span>
                    <span class="watchers-count">17k watching</span>
                    <span class="dot">.</span>
                    <span class="upload-time">{{video.created_at|date: 'd MMM, yyyy'}}</span>
                </div>
                <p class="shortened-description">{{video.description}}</p>
            </div>
        </div>
    </div>
</div>
