@import "variables";

.login-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.login-logo {
    cursor: pointer;
}

.login-content-right {
    background: white;
    width: 57%;
}

.login-content-left {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url('assets/img/back-login.png');
}

.login-abs {
    position: absolute;
    right: 0;
}

.login-btn {
    border-radius: 28px 0 0 28px;
    width: 128px;
    height: 57px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Muli-Bold";
    color: #18B587 !important;
    transition: 0.3s ease-in-out;
}

.register-btn {
    border-radius: 28px 0 0 28px;
    width: 128px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Muli-Bold";
    color: #fff !important;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        background: white;
        color: #18B587 !important;
    }
}

.login-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

.login-title {
    color: #545454;
    font-size: 32px;
    font-family: "Muli-Bold";
    margin-bottom: 32px;
}

.login-input {
    width: 100%;
    height: 51px;
    box-shadow: 0 0 6px #006DCC2E;
    padding: 15px 32px;
    margin-bottom: 8px;
    margin-top: 20px;
    color: #8c8888;
    font-size: 16px;
    font-family: "Muli-Regular";
}
//.login-input:first-child {
//    margin-top: 0;
//}

//
//.login-input.ng-valid:not(.ng-untouched) {
//    box-shadow: 0 0 3px #18B587;
//    border: 0.2px solid #18B587 /* green */
//}

//.login-input.ng-invalid:not(.ng-untouched) {
//    box-shadow: 0 0 3px #F53C6F;
//    border: 0.2px solid #F53C6F; /* red */
//}

.login-input:focus {
    box-shadow: 0 0 6px #18B587;
    //border: 0.5px solid #006DCC2E; //#F53C6F
}

.forgot-password {
    text-align: right;
    color: #545454;
    font-size: 16px;
    font-family: "Muli-Regular";
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
        color: #f53c6f;
    }
}

.login-block {
    width: 430px;
}

.login-submit {
    width: 100%;
    height: 51px;
    background: #F53C6F;
    padding: 15px 32px;
    margin-bottom: 32px;
    color: #fff !important;
    font-size: 16px;
    font-family: "Muli-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        background: #c52551;
    }
}

.register-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-select {
    width: 200px;
    height: 51px;
    box-shadow: 0 0 6px #006DCC2E;
    padding: 15px 32px;
    margin-bottom: 8px;
    margin-top: 20px;
    color: #CECECE;
    font-size: 16px;
    font-family: "Muli-Regular";
    outline: none;
    border: 0;
}

.register-select:focus {
    box-shadow: 0 0 6px #F53C6F24;
    border: 0.5px solid #F53C6F;
}

.register-day {
    width: 100px;
    height: 51px;
    box-shadow: 0 0 6px #006DCC2E;
    padding: 15px 32px;
    margin-bottom: 8px;
    margin-top: 20px;
    color: #CECECE;
    font-size: 16px;
    font-family: "Muli-Regular";
    outline: none;
    border: 0;
}

.register-day:focus {
    box-shadow: 0 0 6px #F53C6F24;
    border: 0.5px solid #F53C6F;
}


@media (max-width: 1400px) {
    .login-logo {
        width: 250px;
        margin-left: 100px;
    }
    .login-content-left {
        align-items: start;
    }
}

@media (max-width: 1200px) {
    .login-logo {
        margin-left: 40px;
    }
    .login-content-right {
        padding-left: 80px;
    }
}

@media (max-width: 991px) {
    .login-content-left {
        align-items: start;
        height: 400px;
        width: 100%;
    }
    .login-content-right {
        padding-left: 0;
        width: 100%;
        align-items: center;
        margin-top: 60px;
    }
    .login-content {
        height: auto;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .register-block {
        flex-direction: column;
    }
    .register-select,
    .register-day {
        width: 100%;
    }
    .login-block {
        width: 90%;
    }
    .login-title {
        font-size: 27px;
        text-align: center;
    }
    .forgot-password {
        text-align: center;
    }
    .login-btn {
        width: 128px;
        height: 45px;
        font-size: 16px;
        margin-right: 0;
    }
    .register-btn {
        font-size: 16px;
        height: 45px;
    }
    .login-logo {
        width: 150px;
    }
}
