<section class="login-content">
  <div class="login-content-left">
    <img class="login-logo" src="assets/img/metltvlogo.png">
    <div class="login-abs">
      <a class="login-btn">Login</a>
      <a class="register-btn">Sign Up</a>
    </div>
  </div>
  <div class="login-content-right">
    <div class="login-block">
      <p class="login-title">Login</p>
      <input class="login-input" placeholder="Email">
      <input class="login-input" placeholder="Password" type="password">
      <p class="forgot-password">Forgot password?</p>
      <a class="login-submit">Login</a>
    </div>
  </div>
</section>
