<form [formGroup]="stripeBankAccountForm" class="col-lg-8">
    <mat-tab-group #tabGroup [selectedIndex]="stripeAccountExists">
        <mat-tab label="Personal details" [disabled]="!!stripeAccountExists">
            <div class="py-5">
                <h2>Personal Details</h2>
                <div class="text-green">Tell us a few details about yourself.</div>
            </div>
            <div class="d-flex" formGroupName="individual">
                <div class="col-xl-6 pl-0">
                    <label>Legal name of person</label>
                    <input formControlName="first_name" placeholder="First name" class="form-control">
                    <span class="error"
                          *ngIf="isSubmitted && firstName.hasError('required')">First name is required</span>
                    <span class="error" *ngIf="isSubmitted && firstName.hasError('patternInvalid')">
                    First name should contain only alphabetical characters
                </span>
                    <input formControlName="last_name" placeholder="Last name" class="form-control">
                    <span class="error"
                          *ngIf="isSubmitted && lastName.hasError('required')">Last name is required</span>
                    <span class="error" *ngIf="isSubmitted && lastName.hasError('patternInvalid')">
                    Last name should contain only alphabetical characters
                </span>
                    <label>Email Address</label>
                    <input formControlName="email" placeholder="E-mail" class="form-control">
                    <span class="error" *ngIf="isSubmitted && email.hasError('required')">E-mail is required</span>
                    <span class="error" *ngIf="isSubmitted && email.hasError('patternInvalid')">
                    E-mail is <strong>invalid</strong>
                </span>
                    <!--@todo change to mat-datepicker-->
                    <label>Date of birth</label>
<!--                    <input type="text"-->
<!--                           class="login-input form-control"-->
<!--                           placeholder="Date of birth" [bsConfig]="{maxDate:maxBirthDate, showWeekNumbers: false}"-->
<!--                           [maxDate]="maxBirthDate" (bsValueChange)="dateChanged($event)"-->
<!--                           bsDatepicker [value]="this.authUser.birthday| date: 'MM/dd/yyyy'"-->
<!--                    >-->
                    <div formGroupName="dob">
                        <input type="hidden" formControlName="day">
                        <input type="hidden" formControlName="month">
                        <input type="hidden" formControlName="year">
                    </div>
                    <span class="error"
                          *ngIf="isSubmitted && birthday.hasError('required')">Birth day is required</span>
                    <label>Home Address</label>
                    <div formGroupName="address">
                        <input formControlName="country" class="form-control">
                        <input formControlName="line1" class="form-control">
                    </div>
                </div>
                <div class="col-6" style="padding-top: 32px">
                    <div formGroupName="address">
                        <input formControlName="line2" class="form-control">
                        <input formControlName="city" class="form-control">
                        <select formControlName="state" class="form-control">
                            <option [value]="''">State</option>
                            <option *ngFor="let state of UsStates">
                                {{state.name}}
                            </option>
                        </select>
                        <input formControlName="postal_code" class="form-control">
                    </div>
                    <label>Phone Number</label>
                    <!--                    <input formControlName="phone" placeholder="Phone" class="form-control">-->
                    <international-phone-number placeholder="Phone number" formControlName="phone" [maxlength]="20"
                                                [defaultCountry]="defaultCountry" [required]="true"
                                                (change)="phoneChanged($event)"
                                                [allowedCountries]="allowedCountries"></international-phone-number>
                    <label>Social Security Number</label>
                    <input formControlName="id_number" placeholder="Phone" class="form-control">
                    <label>
                        To verify your identity, we'll need to know your full Social Security number.
                    </label>
                </div>
            </div>
            <button mat-button type="button" class="bg-light text-white mr-3"
                    (click)="router.navigate(['wallet/show'])">
                Back to Wallet
            </button>
            <button mat-button type="button" class="text-white mr-3 submit-btn" (click)="tabGroup.selectedIndex = 1">
                Next
            </button>
        </mat-tab>
        <mat-tab label="Account for payouts">
            <div class="py-5">
                <h2>Select an account for payouts</h2>
                <div class="text-green">A payout is the transfer of funds from Stripe to your bank account .</div>
            </div>
            <div class="col-xl-6 pl-0" formGroupName="external_account">
                <div class="d-flex">
                    <div role="button" class="form-control mr-3 radio-btn"
                         [class.active]="externalAccountType==='bank_account'"
                         (click)="externalAccountType='bank_account'">Bank account
                    </div>
                    <div role="button" class="form-control ml-3 radio-btn"
                         [class.active]="externalAccountType==='debit_card'" (click)="externalAccountType='debit_card'">
                        Debit card
                    </div>
                </div>

                <div [hidden]="externalAccountType==='debit_card'">

                    <label>Routing number</label>
                    <input formControlName="routing_number" class="form-control">
                    <label>Account number</label>
                    <input formControlName="account_number" class="form-control">
                </div>
                <div id="card-element" [hidden]="externalAccountType==='bank_account'">
                    <ngx-stripe-card
                        [options]="cardOptions"
                        [elementsOptions]="elementsOptions">
                    </ngx-stripe-card>
                </div>
            </div>
            <div class="d-flex py-5 align-items-center">
                <button mat-button type="button" class="bg-light text-white mr-3" [hidden]="stripeAccountExists"
                        (click)="tabGroup.selectedIndex = 0">
                    Back
                </button>
                <button mat-button type="button" class="bg-light text-white mr-3" [hidden]="!stripeAccountExists"
                        (click)="router.navigate(['wallet/show'])">
                    Back to Wallet
                </button>
                <!--            <button mat-button (click)="stepper.reset()" class="text-white mr-3 reset-btn">Reset</button>-->
                <button mat-button (click)="saveBankAccount()" class="text-white mr-3 submit-btn">Submit</button>
                <mat-spinner [diameter]="15" *ngIf="loader.formProcessing"></mat-spinner>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
