@import "variables";
form{
    font-family: "Muli", sans-serif;
    input{
        //border-bottom: 1px solid;
        display: block;
    }
    .form-control {
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 0 6px #EEEEEE;
        border: 0.5px solid #9D9D9D;
        margin-bottom: 16px;
        min-height: 44px;
        border-radius: 0;
        &:focus {
            background: #FFFFFF 0 0 no-repeat padding-box;
            box-shadow: 0 0 6px #F53C6F24;
            border: 0.5px solid #F53C6F;
        }
    }
    label {
        font-size:  14px;
        line-height: 20px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 10px;
    }
    button {
        min-width: 150px;
        color: white;
        font-size: 13px;
        line-height: 19px;
        height: 30px;
        border: 0;
        outline: none;
    }
    button.bg-light {
        background-color: #9D9D9D!important;
    }
    .radio-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
            border-color: #18B587;
        }
    }
}

.text-green {
    font: normal normal 400 16px/24px;
    color: #18B587;
}
::ng-deep {
    .mat-step-header .mat-step-icon {
        background-color: $red;
        color: white;
    }
    .mat-stepper-horizontal, .mat-stepper-vertical {
        background-color: #f8f8f8;
        padding-bottom: 100px;
    }
}
.reset-btn{
    color: $red;
}
.submit-btn{
    background-color: $metl-green;
}
