<div id="dialog-header">
    <h3>Invite contacts to this group</h3>
    <div>
        <img src="assets/img/x.svg" alt="close-dialog" class="close-box" (click)="closeDialog()">
    </div>
</div>
<div id="group-members-wrap">
    <div id="suggested-contacts">
        <div id="contact-search-wrap">
            <input placeholder="Find a contact">
            <i class="fas fa-search"></i>
        </div>

        <ul>
            <li *ngFor="let contact of userContacts;let i = index">
                <div class="details">
                    <label [for]="contact.id+'_'+i">
                        <img class="avatar" [src]="contact.avatar|getImgPath: 'user_avatars'">
                        <span>{{contact.first_name + ' ' + contact.last_name}}</span>
                    </label>
                </div>
                <div class="state">
                    <input type="checkbox" *ngIf="contact.connectionWithGroup === 'not joined'"
                           [id]="contact.id+'_'+i"
                           (change)="selectContact($event,contact)">
                    <span *ngIf="contact.connectionWithGroup === 'invited'" class="invited-contact">
                        <i class="fas fa-paper-plane" [matTooltip]="'Invitation sent'"></i>
                    </span>
                    <span *ngIf="contact.connectionWithGroup === 'joined'" class="joined-contact">
                        <i class="fas fa-check-circle" [matTooltip]="'Already joined'"></i>
                    </span>
                </div>
            </li>
        </ul>
    </div>

    <div id="selected-contacts">
        <ul>
            <li *ngFor="let contact of selectedContacts">
                <div class="details">
                    <img class="avatar" [src]="contact.avatar|getImgPath: 'user_avatars'">
                    <span>{{contact.first_name + ' ' + contact.last_name}}</span>
                </div>
                <div class="state">
                    <i class="fas fa-times"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="dialog-actions">
    <button id="close-dialog" (click)="closeDialog()">Cancel</button>
    <button id="send-invites" (click)="sendInvitationsToContacts()">Send invites</button>
</div>
