<h3>Invite contacts to this group</h3>
<div id="group-members-wrap">
    <div id="suggested-contacts">
        <div id="contact-search-wrap">
            <input placeholder="Find a contact">
            <i class="fas fa-search"></i>
        </div>

        <ul>
            <li *ngFor="let contact of userContacts;let i = index">
                <div class="details">
                    <label [for]="contact.id+'_'+i">
                        <img class="avatar" [src]="contact.avatar|getImgPath: 'user_avatars'">
                        <span>{{contact.first_name + ' ' + contact.last_name}}</span>
                    </label>
                </div>
                <div class="state">
                    <input type="checkbox" [id]="contact.id+'_'+i" (change)="selectContact($event,contact)">
                </div>
            </li>
        </ul>
    </div>

    <div id="selected-contacts">
        <ul>
            <li *ngFor="let contact of selectedContacts">
                <div class="details">
                    <img class="avatar" [src]="contact.avatar|getImgPath: 'user_avatars'">
                    <span>{{contact.first_name + ' ' + contact.last_name}}</span>
                </div>
                <div class="state">
                    <i class="fas fa-times"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="dialog-actions">
    <button id="close-dialog">Cancel</button>
    <button id="send-invites">Send invites</button>
</div>
