<div class="channel-subscribers-container" *ngIf="channelSubscribers$|async as channelSubscribers">
    <ng-container *ngFor="let user of channelSubscribers?.subscribers">
        <div class="subscriber">
            <div class="left">
                <div class="img user-avatar">
                    <img class="avatar" alt="user-avatar" [src]="user.avatar|getImgPath: 'user_avatars'">
                </div>
                <div class="text">
                    <div class="name" [routerLink]="'/users/'+user?.username">
                        {{user.first_name + ' ' + user.last_name}}
                    </div>
                </div>
            </div>
            <div class="right">
                <button [matMenuTriggerFor]="menu" class="show-actions">
                    <i class="fas fa-ellipsis-h"></i>
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item [disableRipple]="true">
                        Remove
                    </button>
                </mat-menu>
            </div>
        </div>
    </ng-container>
</div>
