.container {
    margin: 50px auto;
    max-width: 100%;
    width: 100%;
    height: 480px;
}

.vjs_video_3-dimensions {
    width: 100%;
}

.loading-spinner {
    display: flex;
    align-items: center;
}
