<div class="container">
    <mat-spinner *ngIf="videoInit" [diameter]="15"></mat-spinner>
    <video id="player" class="video-js" controls preload="auto" autoplay *ngIf="videoUrl" data-setup='{}'>
        <source [src]="videoUrl">
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</div>
