<hr>
<div class="d-flex align-items-center">
    <app-payments-filter-form (formReady)="getFilters($event)"></app-payments-filter-form>
</div>


<table mat-table [dataSource]="tableData" class="mat-elevation-z8 table border my-4" [hidden]="filteredPayouts.length===0">

    <ng-container *ngFor="let col of displayedColumns">
        <ng-container [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef>
                <div class="table-item d-flex align-items-center">{{normalizeColName(col)}}</div>
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="table-item">
                    <span *ngIf="col!=='action'">{{getColumnContentByItsName(col, element)}}</span>
                    <div *ngIf="col==='action'" class="action-column">

                    </div>
                </div>
            </td>
        </ng-container>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25]" [hidden]="filteredPayouts.length===0"
                   showFirstLastButtons></mat-paginator>
    <h3 [hidden]="filteredPayouts.length>0">No payouts found</h3>
</div>
