.user-icon {
    margin-right: 10px;
    cursor: pointer;
    @media screen and (min-width: 992px) and  (max-width: 1030px){
        margin: 0;
        padding: 0!important;
    }
}

.navbar-brand {
    cursor: pointer;
}

.right-side-actions {
    display: flex;
    align-items: center;

    #top-row-toggle {
        background: none;

        mat-icon {
            height: 2px;
            width: 2px;
        }
    }
}
