<nav class="home-header navbar navbar-expand-lg navbar-light">
    <img class="header-left-logo navbar-brand" src="assets/img/logo.png" (click)="router.navigate(['/'])">
    <div>

        <app-search-videos-form class="d-block d-lg-none mb-0 flex-1"
                                (search)="searchVideos($event)"></app-search-videos-form>
    </div>
    <div class="right-side-actions">
        <button class="navbar-toggler d-block d-md-none" type="button" (click)="closeSidenav.emit(false)">
            <span class="navbar-toggler-icon "></span>
        </button>
        <button data-toggle="collapse" data-target="#navbarSupportedContent" id="top-row-toggle"
                *ngIf="isSmallScreen">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <div class="header-right collapse navbar-collapse nav-menu" id="navbarSupportedContent">
        <app-search-videos-form class="d-none d-lg-block" *ngIf="!routerUrl?.includes('analytics')"
                                (search)="searchVideos($event)"></app-search-videos-form>
        <app-search-stocks-form class="d-none d-lg-block" *ngIf="routerUrl?.includes('analytics')"
                                (search)="searchStocks($event)"></app-search-stocks-form>
        <marquee class="home-black-block marquee" direction="left" height="40px" (click)="openModal(cryptoModal)"
                 *ngIf="stocks">
            <div class="marquee-content">
                <div class="home-black-item" *ngFor="let stock of stocks">
                    <p class="black-text">{{stock.symbol}}</p>
                    <p [ngClass]="getPercentageDetails(stock)?.color">{{getPercentageDetails(stock)?.value}}%</p>
                </div>
            </div>
            <!--            <i class="down-white fa fa-chevron-down"></i>-->
        </marquee>

        <div class="notification-block">
            <div class="nav-item dropdown" [hidden]="envName==='production'">
                <a class="header-bit-btn nav-lin" data-toggle="dropdown">Buy Bits</a>
                <div class="dropdown-menu">
                    <app-purchase-bits></app-purchase-bits>
                </div>
            </div>
            <div class="notification" [hidden]="envName==='production'">
                <i class="fas fa-bell"></i>
                <span>+99</span>
            </div>
            <a class="header-login-btn" *ngIf="!auth.loggedIn()" (click)="router.navigate(['auth/login'])">Login</a>

            <div class="nav-item dropdown" *ngIf="auth.loggedIn()">
                <img src="assets/img/user.svg" data-toggle="dropdown"
                     class="user-icon nav-link dropdown-toggle">
                <div class="dropdown-menu">
                    <span class="dropdown-item" *ngIf="toggleMyProfileLink()"
                          (click)="router.navigate(['user/profile'])">My Profile</span>
                    <span class="dropdown-item" *ngIf="toggleMyChannelLink()"
                          (click)="goToChannelPage()">My Channel</span>
                    <span class="dropdown-item" (click)="logout()">Logout</span>
                </div>
            </div>

            <!-- Crypto currency page will be opened in modal -->
            <ng-template #cryptoModal>
                <app-stocks-lists></app-stocks-lists>
            </ng-template>


            <div class="dotes">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <mat-menu #menu="matMenu">
                    <ng-container *ngFor="let l of additionalLinks">
                        <button mat-menu-item (click)="changePage(l)">
                            {{l.name}}
                        </button>
                    </ng-container>
                </mat-menu>

            </div>
        </div>
    </div>
</nav>
