<nav class="home-header navbar navbar-expand-lg navbar-light">
  <a class="header-left-logo navbar-brand" href="index.html">
    <img src="assets/img/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="header-right collapse navbar-collapse nav-menu" id="navbarSupportedContent">
    <div class="home-search">
      <input class="home-search-input" placeholder="Search">
      <i class="fas fa-search"></i>
    </div>
    <div class="home-black-block">
      <div class="home-black-item">
        <p class="black-text">EDF.PA</p>
        <p class="black-percent-red">3.36%</p>
      </div>
      <div class="home-black-item">
        <p class="black-text">MSFT</p>
        <p class="black-percent-yellow">1.24%</p>
      </div>
      <div class="home-black-item">
        <p class="black-text">GOOG</p>
        <p class="black-percent-green">-1.51</p>
      </div>
      <div class="home-black-item">
        <p class="black-text">EDF.PA</p>
        <p class="black-percent-red">3.36%</p>
      </div>
      <div class="home-black-item">
        <p class="black-text">MSFT</p>
        <p class="black-percent-yellow">1.24%</p>
      </div>
      <div class="home-black-item">
        <p class="black-text">GOOG</p>
        <p class="black-percent-green">-1.51</p>
      </div>
    </div>
    <div class="notification-block">
      <div class="notification">
        <i class="fas fa-bell"></i>
        <span>+99</span>
      </div>
      <a class="header-login-btn">Login</a>
      <div class="dotes">
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
  </div>
</nav>
