<div class="stock-content">
    <div class="major-indexes">
        <h2>Major indexes</h2>

        <div class="favorites">

            <div class="crypto-content">
                <div class="crypto-item crypto-item-green" *ngFor="let stock of indices">
                    <p class="crypto-text-1">{{stock.name}}</p>
                    <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
                    <div class="crypto-block">
                        <p class="crypto-text-1">-489,86</p>
                        <p class="crypto-text-1">-4,16%</p>
                    </div>
                    <img class="crypto-map" src="assets/img/map.png">
                </div>
            </div>
        </div>
    </div>
    <div class="stock-tabs">

        <ul class="nav nav-tabs">
            <li [class.active]="activeTab==='summary'">
                <a data-toggle="tab" (click)="changeTab('summary')" href="#summary">
                    Summary</a></li>

            <li [class.active]="activeTab==='historical'">
                <a data-toggle="tab" (click)="changeTab('historical')" href="#historical">
                    Historical data</a>
            </li>
        </ul>

        <div class="tab-content">

            <div id="summary" class="tab-pane fade show">
                <h3>Summary</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
            </div>
            <div id="historical" class="tab-pane fade">
                <h3>Historical data</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo.</p>
            </div>
        </div>
    </div>
    <!-- <img class="stock-content-img" src="assets/img/stock.jpg"> -->
</div>
