<div id="complete-purchase-modal">
    <div class="" role="document"> <!-- modal-dialog modal-dialog-centered modal-xl-->
        <div class="modal-content ">
            <div class="modal-header bg-gray border-0">
                <h5 class="modal-title" id="CompletePurchaseLongTitle">Complete Purchase</h5>
                <button type="button" class="close" (click)="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div>
                <div class="bg-gray px-4">
                    <div class="green-title mb-3">Purchase Summary</div>
                    <div class="d-flex align-items-center border-bottom pb-3">
                        <img src="assets/img/coin/gold.svg" alt="" width="16" height="16">
                        <div class="d-flex flex-column ml-3">
                            <span>{{purchase?.bitPrice}} Metl Coins Bundle</span>
                            <span>One-time charge on {{currentDate| date: 'dd MMM, yyyy'}}.</span>
                        </div>
                        <div class="d-flex flex-column ml-auto">
                            <span>Price</span>
                            <span>${{purchase?.currencyPrice.toFixed(2)}}</span>

                        </div>
                    </div>
                    <div class="d-flex align-items-center py-2">
                        <div class="d-flex flex-column ml-auto">
                            <span>Tax</span>
                            <span>Total</span>
                        </div>
                        <div class="d-flex flex-column ml-5">
                            <span>-</span>
                            <span>_</span>
                        </div>
                    </div>
                </div>
                <div class="p-4">
                    <div class="d-flex align-items-center mb-3">
                        <div class="black-title">Pay With</div>
                        <div class="ml-auto">
                            <img src="assets/img/purchase-icons/lock%20(2).svg" alt="" class="mr-1">Secure
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div role="button"
                             class="w-300 br-10 d-flex align-items-center justify-content-center mr-3">
                            <!--                            <img src="assets/img/purchase-icons/paypal.svg" alt="">-->
                            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        </div>
                        <div role="button"
                             class="w-300 br-10 bg-yellow d-flex align-items-center justify-content-center mr-3">
                            <img src="assets/img/purchase-icons/amazon-pay.png" alt="">
                        </div>
                        <div role="button" (click)="stripeCheckout()"
                             class="w-300 br-10 bg-gray d-flex align-items-center justify-content-center mr-3">
                            <img src="assets/img/purchase-icons/stripe.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <div class="border-bottom">
                        <div class="or">or</div>
                    </div>
                </div>
                <div class="p-4">
                    <div class="d-flex">
                        <div class="black-title mr-5">Pay With Credit Card</div>
                        <div>
                            <img class="mr-2" src="assets/img/purchase-icons/visa-card.png" alt="">
                            <img class="mr-2" src="assets/img/purchase-icons/master-card.png" alt="">
                            <img class="mr-2" src="assets/img/purchase-icons/954912.png" alt="">
                            <img class="mr-2" src="assets/img/purchase-icons/discover-credit-card-icon.png" alt="">
                        </div>
                    </div>
                    <form id="credit-card-form" [formGroup]="creditCardForm">
                        <div class="green-title text-uppercase my-3">BILLING INFORMATION</div>
                        <div class="d-flex justify-content-lg-between">
                            <div class="form-group col-lg-6 pl-lg-0 mb-4">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group col-lg-6 pr-lg-0 mb-4">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 pl-lg-0">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option disabled selected>Country</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="green-title text-uppercase my-3">CREDIT CARD INFORMATION</div>
                        <div class="d-flex credit-card-fields-container form-group">
                            <input type="text" class="form-control" style="width: 200px" formControlName="name"
                                   placeholder="Jane Doe">
                            <ngx-stripe-card
                                [options]="cardOptions"
                                [elementsOptions]="elementsOptions"
                            ></ngx-stripe-card>
                            <button (click)="createToken()">
                                CREATE TOKEN
                            </button>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end">
                        <div role="button" class="btn-green">Review Purchase</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
