<div id="complete-purchase-modal">
    <div class="" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="CompletePurchaseLongTitle">Complete Purchase</h5>
                <button type="button" class="close" (click)="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div>
                <div class="px-4">
                    <div class="green-title mb-3">Purchase Summary</div>
                    <div class="d-flex align-items-center border-bottom pb-3">
                        <img src="assets/img/coin/gold.svg" alt="" width="16" height="16">
                        <div class="d-flex flex-column ml-3">
                            <span>{{purchase?.name}}</span>
                            <span>One-time charge on {{currentDate| date: 'dd MMM, yyyy'}}.</span>
                        </div>
                        <div class="d-flex flex-column ml-auto">
                            <span>Price</span>
                            <span>${{purchase?.unit_amount.toFixed(2)}}</span>

                        </div>
                    </div>
                    <div class="d-flex align-items-center py-2">
                        <div class="d-flex flex-column ml-auto">
                            <span>Tax</span>
                            <span>Total</span>
                        </div>
                        <div class="d-flex flex-column ml-5">
                            <span>-</span>
                            <span>_</span>
                        </div>
                    </div>
                </div>
                <div class="purchase-methods" [hidden]="reviewedPurchase">
                    <div class="p-4">
                        <div class="d-flex align-items-center mb-3">
                            <div class="black-title">Pay With</div>
                            <div class="ml-auto">
                                <img src="assets/img/purchase-icons/lock%20(2).svg" alt="" class="mr-1">Secure
                            </div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div role="button"
                                 class="w-300 br-10 d-flex align-items-center justify-content-center mr-3">
                                <!--                            <img src="assets/img/purchase-icons/paypal.svg" alt="">-->
                                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                            </div>
                            <div role="button"
                                 class="w-300 br-10 bg-yellow d-flex align-items-center justify-content-center mr-3">
                                <img src="assets/img/purchase-icons/amazon-pay.png" alt="">
                            </div>
                            <div role="button" (click)="stripeCheckout()"
                                 class="w-300 br-10 d-flex align-items-center justify-content-center mr-3">
                                <img src="assets/img/purchase-icons/stripe.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="px-4">
                        <div class="border-bottom">
                            <div class="or">or</div>
                        </div>
                    </div>
                    <div class="p-4">
                        <div class="d-flex">
                            <div class="black-title mr-5">Pay With Credit Card</div>
                            <div>
                                <img class="mr-2" src="assets/img/purchase-icons/visa-card.png" alt="">
                                <img class="mr-2" src="assets/img/purchase-icons/master-card.png" alt="">
                                <img class="mr-2" src="assets/img/purchase-icons/954912.png" alt="">
                                <img class="mr-2" src="assets/img/purchase-icons/discover-credit-card-icon.png" alt="">
                            </div>
                        </div>
                        <div id="user-cards-list">
                            <form id="credit-card-form" [formGroup]="creditCardForm">
                                <select class="form-control" (change)="selectCard($event)">
                                    <option *ngFor="let card of authUser?.users_cards">
                                        {{card.name}}
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div role="button" class="btn-green" (click)="reviewPurchase()">Review Purchase</div>
                    </div>
                </div>
                <div class="purchase-review" [hidden]="!reviewedPurchase">
                    <div class="card p-4">
                        <div class="details w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="bank-name">{{selectedCard?.name}}</div>
                                <div class="brand">
                                    <img src="assets/img/purchase-icons/{{selectedCard?.brand.toLowerCase()}}-card.png"
                                         class="brand-img">
                                </div>
                            </div>
                            <div class="card-number my-4">**** **** **** {{selectedCard?.number_part}} </div>
                            <div class="expiration-date ml-auto">
                                <p>exp.date</p>
                                <p class="numbers">{{formatExpiryDate(selectedCard?.expiry_date)}}</p>
                            </div>
                            <div class="actions">
                                <button (click)="reviewPurchase()">Back</button>
                                <button (click)="stripeCheckout()">Purchase</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
