<ul class="chat-history" id="group-messages" #groupMessagesList [hidden]="selectedGroupMessages?.length === 0">
    <ng-container
        *ngFor="let msg of getMessagesByDate(selectedGroupMessages?.group_messages);trackBy:identifyDateKey">

        <li class="data-list"><span>{{msg.key|getDateText}}</span></li>
        <ng-container *ngFor="let m of msg.value;let ind = index">
            <li class="message-container" [ngClass]="getMessageClass(m.from_id)">
                <div class="message-date">
                    <div class="avatar-wrapper">
                        <div class="img">
                            <img class="avatar" [src]="m.from_avatar|getImgPath: 'user_avatars'">
                        </div>
                        <div class="name">{{m.from_first_name + ' ' + m.from_last_name}}</div>
                    </div>
                    <div class="date">{{m.created_at | date: 'HH:mm' }}</div>
                </div>
                <div class="message" [innerHTML]="m.message">
                    <!--                                {{m.message}}-->
                </div>
                <div class="seen">
                    <ng-container *ngFor="let seen of m.seen_by">
                        <img class="seen-avatar"
                             [matTooltip]="getSeenTooltip(seen)"
                             [src]="seen.avatar|getImgPath: 'user_avatars'">
                    </ng-container>
                </div>
            </li>
        </ng-container>
    </ng-container>
</ul>
