.chat-message-form {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;

    & > input {
        background: #F5F5F5;
    }

    &.disabled {
        background-color: #c7c4c4 !important;
    }

    &.embed {
        background-color: unset !important;

        .chat-form {
            width: 100%;
        }
    }

    .chat-form {
        width: 90%;

        textarea:not(.embed-textarea textarea) {
            width: 98%;
            padding: 12px 16px;
            background: transparent;
            border: none;
            height: 100px !important;

            &:focus {
                border: none !important;
                outline: none !important;
            }
        }
    }

    .icons {
        display: flex;
        align-items: center;
        padding-right: 16px;

        a {
            margin-left: 12px;

            &:first-child {
                margin: 0;
            }
        }
    }
}


.embed-textarea {
    width: 100%;
    display: flex;
    align-items: center;

    .add-btn {
        width: 25px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    textarea {
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 5px 10px;
        width: 100%;
        height: 40px !important;

        &:focus {
            outline: none;
            border: 0;
            border-bottom: 1px solid #ddd;
        }
    }

    .send-btn {
        background-color: transparent;
        border: 0;
        outline: 0;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 349px) {
    .embed-textarea {
        width: 235px;
    }
}
