@import '~assets/styles/general-chat-wrap';

.chat-message-form {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;

    & > input {
        background: #F5F5F5;
    }

    &.disabled {
        background-color: #c7c4c4!important;
    }

    .chat-form {
        width: 90%;

        textarea {
            width: 98%;
            padding: 12px 16px;
            background: transparent;
            border: none;
            height: 100px !important;

            &:focus {
                border: none !important;
                outline: none !important;
            }
        }
    }

    .icons {
        display: flex;
        align-items: center;
        padding-right: 16px;

        a {
            margin-left: 12px;

            &:first-child {
                margin: 0;
            }
        }
    }
}
