<div class="chat-message-form">
    <form [formGroup]="chatForm" class="chat-form">
                    <textarea cdkTextareaAutosize rows="4" class="flex-1 mx-3" formControlName="message"
                              placeholder="Type your message"
                              (keyup)="setTyping()" (focus)="setSeen()"
                              (keyup.enter)="sendMessage($event)">
                    </textarea>
    </form>
    <div class="icons" [hidden]="isProduction">
        <a href=""><img src="assets/img/gif-24px.svg" alt=""></a>
        <a href=""><img src="assets/img/mood-24px.svg" alt=""></a>
        <a href=""><img src="assets/img/send-24px.svg" alt=""></a>
    </div>
</div>
