<section class="login-content">
  <div class="login-content-left">
    <img class="login-logo" src="assets/img/metltvlogo.svg">
    <div class="login-abs">
      <a class="register-btn" (click)="router.navigate(['auth/login'])">Login</a>
      <a class="login-btn bg-white">Sign Up</a>
    </div>
  </div>
  <div class="login-content-right">
    <div class="login-block">
      <p class="login-title">Sign Up</p>
      <input class="login-input" placeholder="Full Name">
      <input class="login-input" placeholder="Email">
      <input class="login-input" placeholder="Password" type="password">
      <input class="login-input" placeholder="Reenter Password" type="password">
      <a class="login-submit">Sign Up</a>
    </div>
  </div>
</section>
