<section class="login-content">
  <div class="login-content-left">
    <img class="login-logo" src="assets/img/metltvlogo.svg">
    <div class="login-abs">
      <a class="register-btn" (click)="router.navigate(['auth/login'])">Login</a>
      <a class="login-btn bg-white">Sign Up</a>
    </div>
  </div>
  <div class="login-content-right">
    <div class="login-block">
      <p class="login-title">Sign Up</p>
      <form [formGroup]="registerForm">
        <input class="login-input" placeholder="Full Name" formControlName="full_name">
        <input class="login-input" placeholder="Email" formControlName="email">
        <input class="login-input" placeholder="Password" type="password" formControlName="password">
        <input class="login-input" placeholder="Reenter Password" type="password">
        <a class="login-submit" (click)="register()">Sign Up</a>
      </form>
    </div>
  </div>
</section>
