<form [formGroup]="playlistForm">
    <ul formArrayName="playlist_ids">
        <li *ngFor="let c of playlistIds.controls;let i = index" class="playlist">

            <div [formGroupName]="i">
                <input type="hidden" formControlName="id">
                <input type="checkbox" [id]="'playlist-'+(i+1)" formControlName="checked"
                       (change)="addToPlaylist($event, c)">
                <label [for]="'playlist-'+(i+1)">{{c.value.name}}</label>
                <mat-icon>{{c.value.privacy? 'lock':'public'}}</mat-icon>
            </div>
        </li>
    </ul>

    <button (click)="save()">Save</button>
</form>
