form {

    .playlist {
        label {
            margin-left: 10px;
        }


    }

    button {
        margin-top: 22px;
        padding: 6px 24px;
        background: #18B587;
        border-radius: 0;
        font-size: 16px;
        color: #ffffff
    }
}
