<div class="purchase-bits">
  <p class="purchase-text">Purchase Bits</p>
  <p class="purchase-text-2">You have <span class="purchase-text-3">0 Bits</span></p>
  <p class="purchase-text-4">29% off for first-time Bits buyers!</p>
  <a class="purchase-text-5">Buy 300 Bits for $3,00</a>
  <p class="purchase-text-2">Prices are shown in USD</p>
  <div class="bits-block">
    <div class="bits-block-item">
      <p class="bits-text-1">300 Bits</p>
      <p class="bits-text-2">29% discount</p>
      <a class="bits-text-3">$3,00</a>
    </div>
    <div class="bits-block-item">
      <p class="bits-text-1">300 Bits</p>
      <p class="bits-text-2">30% discount</p>
      <a class="bits-text-3">$3,00</a>
    </div>
    <div class="bits-block-item">
      <p class="bits-text-1">300 Bits</p>
      <p class="bits-text-2">2% discount</p>
      <a class="bits-text-3">$5,00</a>
    </div>
    <div class="bits-block-item">
      <p class="bits-text-1">300 Bits</p>
      <p class="bits-text-2">29% discount</p>
      <a class="bits-text-3">$3,00</a>
    </div>
    <div class="bits-block-item">
      <p class="bits-text-1">300 Bits</p>
      <p class="bits-text-2">29% discount</p>
      <a class="bits-text-3">$308,00</a>
    </div>
    <div class="bits-block-item">
      <p class="bits-text-1">300 Bits</p>
      <p class="bits-text-2">29% discount</p>
      <a class="bits-text-3">$3,00</a>
    </div>
  </div>
</div>
