@import 'variables';
.purchase-bits {
    width: 330px;
    height: 500px;
    background: $white 0 0 no-repeat padding-box;
    box-shadow: 0 0 10px #00000029;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #545454;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #a54862;
    }
}

.purchase-text {
    color: #545454;
    font-size: 12px;
    font-family: "Muli-Bold", sans-serif;
    margin-bottom: 4px;
}

.purchase-text-2 {
    color: #545454;
    font-size: 10px;
    font-family: "Muli-Light", sans-serif;
    margin-bottom: 4px;
}

.purchase-text-3 {
    color: $metl-green;
    font-size: 10px;
    font-family: "Muli-Bold", sans-serif;
    margin-left: 8px;
}

.purchase-text-4 {
    color: $metl-green;
    font-size: 10px;
    font-family: "Muli-Bold", sans-serif;
    margin-bottom: 8px;
}

.purchase-text-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 28px;
    font-size: 12px;
    font-family: "Muli-Light, sans-serif";
    color: white !important;
    margin-bottom: 8px;
    background: $red;
}

.bits-block {
    margin-top: 20px;
    width: 100%;
}

.bits-block-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #E6E6E6;
    margin-bottom: 10px;
}

.bits-text-1 {
    color: #545454;
    font-size: 10px;
    font-family: "Muli-Light", sans-serif;
    width: 58px;
    text-align: left;
}

.bits-text-2 {
    color: #545454;
    font-size: 10px;
    font-family: "Muli-Light", sans-serif;
    width: 65px;
}

.bits-text-3 {
    width: 46px;
    height: 17px;
    background: $metl-green 0 0 no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-size: 10px;
    font-family: "Muli-Light", sans-serif;
}
