<div class="post-item" *ngIf="post">
    <div class="posted">
        <p>
            Posted by <span>{{post.post_author.username}}</span>
            <ng-container *ngIf="post.post_group && !accessedFromGroup">
                <i class="fas fa-arrow-right group-pointer"></i>
                <span>{{post.post_group?.name}}</span>
            </ng-container>
        </p>
        <p>{{post.created_at| dateFromNow}}</p>
    </div>

    <div class="info">
        <div class="left-wrap">
            <div class="voting-container">
                <button class="vote-up-btn active">
                    <span class="material-icons">forward</span>
                </button>
                <div class="vote-count">{{post.votes}}</div>
                <button class="vote-down-btn">
                    <span class="material-icons">forward</span>
                </button>
            </div>
        </div>
        <div class="right-wrap">
            <p>{{post.description}}</p>

            <img class="post-cover" [src]="post.cover_img|getImgPath: 'post_covers'">

            <div class="post-menu">
                <div class="menu">
                    <a href=""><span class="material-icons">chat_bubble</span>Comments</a>
                    <a href=""><span class="material-icons">share</span>Share</a>
                </div>
                <div class="dotes">

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>
