.green-title {
    font: normal normal 600 20px/30px Muli;
    color: #18B587;
}

.btn-green {
    min-width: 200px;
    height: 36px;
    background-color: #18B587;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-red {
    min-width: 200px;
    height: 36px;
    background-color: #F53C6F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gray-btn {
    box-shadow: 0 3px 6px #00000029;
    background-color: #00000029;
    font: normal normal 600 14px/20px Muli;
    color: #000000;
    min-width: 200px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wallet-content{
    background-color: red;
    padding: 30px 24px;
    .title {
        font: normal normal 600 29px/43px Muli;
        color: #000000;
    }
    .sub-titles {
        font: normal normal 600 18px/26px Muli;
        color: #000000;
    }
    .nav-pills .nav-link {
        color: #545454;
        font: normal normal 600 18px/40px Muli;
        padding: 0;
        margin-right: 24px;
    }
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #545454;
        border-bottom: 4px solid #18B587;
        background-color: transparent;
        border-radius: 0;
    }
    .total-class {
        font: normal normal 600 25px/36px Muli;
        color: #545454;
    }
    .red-link-btn {
        font: normal normal 600 16px/24px Muli;
        color: #F53C6F;
    }

    .red-small-text {
        font: normal normal 400 11px/13px Muli;
        color: #F53C6F;
    }
    .color-red {
        color: #F53C6F!important;
    }
    table {
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px #00000029;
    }
    .lh-10 {
        line-height: 10px;
    }
    .page-item {
        margin: 0 5px;
        .page-link {
            background-color: #E1E1E1;
            color: #545454;
        }
        &.active {
            .page-link {
                z-index: 3;
                color: #fff;
                background-color: #F53C6F;
                border-color: #F53C6F;
            }
        }
    }
    label {
        font: normal normal 600 16px/24px Muli;
        color: #000000;
    }
    input[type="datetime-local"] {
        background-color: #81818112;
        border: 0;
    }
}
