@import '~assets/styles/general-chat-wrap';
@import '~assets/styles/chat-users-groups-container';
@import 'variables';
@import 'mixins';






.center {
    width: 50%;
    display: flex;
    @media only screen and (min-width: 374px)and (max-width:767px) {
        width: 100%;
    }

    @media only screen and (max-width:374px) {
        width: 80%
    }



    mat-form-field {
        width: 70%;
        padding: 5px;
    }

    .member-add{
        @media only screen and (min-width: 374px)and (max-width:767px) {
            justify-content: space-between;
        }
    }

    .members-list {
        display: flex;
        align-items: center;
        @media only screen and (max-width:374px) {
            display: block;
        }

        ul {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: horizontal;
            overflow: hidden;
            @media only screen and (max-width:374px) {
                margin-bottom: 10px !important;
            }
        }

        #show-more-members {
            width: 110px;
            color: $metl-green;
            margin-left: 10px;
        }
    }

    .member-add {
        display: flex;
        align-items: center;
        width: 100%;

        button {
            @include regularButton;
            width: 50px;

        }
    }


}


.group-member {
    position: relative;
    width: 42px;
    border-radius: 42px;
    margin-left: 5px;

    .status {
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 14px;
        top: 28px;
        right: 0;
        padding: 0;
        line-height: 0;

        &.offline {
            background-color: gray;
        }

        &.online {
            background-color: $metl-green;
        }
    }


    &.pending {
        background-color: rgba(0, 0, 0, 0.5);

        img {
            opacity: 0.5;
        }
    }

    mat-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: auto;
        margin-right: auto;
        display: none;
        cursor: pointer;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);


        mat-icon {
            display: block;
        }

        img {
            opacity: 0.5;
        }
    }
}

.seen-circle {
    background-color: $red !important;
    color: $white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 12px;
}
