@import '~assets/styles/general-chat-wrap';
@import '~assets/styles/chat-users-groups-container';
@import 'variables';
@import 'mixins';






.center {
    width: 50%;
    display: flex;
    @media only screen and (min-width: 374px)and (max-width:767px) {
        width: 100%;
    }

    @media only screen and (max-width:374px) {
        width: 80%
    }



    mat-form-field {
        width: 70%;
        padding: 5px;
    }

    .member-add{
        @media only screen and (min-width: 374px)and (max-width:767px) {
            justify-content: space-between;
        }
    }

    .member-add {
        display: flex;
        align-items: center;
        width: 100%;

        button {
            @include regularButton;
            width: 50px;

        }
    }


}




.seen-circle {
    background-color: $red !important;
    color: $white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 12px;
}
