<div class="chat-wrap">

    <div class="people-groups-container" [hidden]="isChatUsersListSize()"
         [class.responsive-list]="isChatUsersListSize()">
        <div id="groups-list" class="list-wrap">
            <button class="create-group-chat" [hidden]="showGroupChatForm" (click)="showGroupChatForm = true"><img
                src="assets/img/noun_create.png" alt=""> Create new group chat
            </button>
            <form [formGroup]="groupChatForm" [hidden]="!showGroupChatForm" id="group-chat-form">
                <input formControlName="name" placeholder="Group name">
                <button mat-icon-button (click)="addGroup()">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-icon-button (click)="showGroupChatForm = false">
                    <mat-icon>close</mat-icon>
                </button>
            </form>
            <ul class="list">
                <li class="list-chat-group" [class.active]="group.id===selectedGroup?.id"
                    *ngFor="let group of groupsMessages"
                    [class.unconfirmed]="!ifConfirmedToJoinTheGroup(group)"
                    (click)="makeGroupActive(group)">
                    <div class="left">
                        <img class="img" [src]="group.avatar|getImgPath:'group_avatars'">
                        <div class="text">
                            <div class="name">{{group.name}}</div>
                            <span>{{group.chat_group_messages[group.chat_group_messages.length - 1]?.message}}</span>
                        </div>
                    </div>
                    <div class="right">
                        <button class="seen-circle" *ngIf="group.unseens > 0">
                            <strong>{{group.unseens}}</strong>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="chat" *ngIf="selectedGroup">
        <div class="chat-top">
            <form [formGroup]="groupChatDetailsForm"
                  [hidden]="!selectedGroup || !ifConfirmedToJoinTheGroup(selectedGroup)">
                <div class="chat-about">
                    <div class="left">
                        <label for="group-avatar-input">
                            <img class="img" [src]="selectedGroup?.avatar|getImgPath:'group_avatars'">
                        </label>
                        <input id="group-avatar-input" type="file" [hidden]="true" (change)="changeAvatar($event)">
                        <div class="group-name">{{selectedGroup?.name}}</div>

                    </div>
                    <div class="center">
                        <div class="member-add" [hidden]="!showMembersInput">
                            <mat-form-field>
                                <mat-chip-list #tagList aria-label="Fruit selection" formControlName="member_ids">
                                    <mat-chip *ngFor="let member of inputGroupMembers"
                                              (removed)="removeInputMember(member)">
                                        {{member.first_name + ' ' + member.last_name}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>

                                    <input type="text" #chipsInput
                                           placeholder="Member name from your contacts"
                                           matInput
                                           maxlength="10"
                                           [formControl]="memberCtrl"
                                           [matChipInputFor]="tagList"
                                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                           [matAutocomplete]="auto">
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete"
                                                  (optionSelected)="autoCompleteMemberSelected($event)">

                                    <!--                            <mat-optgroup *ngFor="let contact of userContacts" [label]="group.name">-->
                                    <mat-option *ngFor="let contact of filteredContacts" [value]="contact">
                                        {{contact.first_name + ' ' + contact.last_name}}
                                    </mat-option>
                                    <!--                            </mat-optgroup>-->


                                </mat-autocomplete>

                                <mat-hint align="end">Please press 'Enter' after the name</mat-hint>

                            </mat-form-field>
                            <button (click)="addMember($event)">Add</button>
                        </div>
                        <div class="members-list" [hidden]="showMembersInput">
                            <ul *ngIf="groupMembers?.length > 0">
                                <li class="group-member" *ngFor="let m of groupMembers" [class.pending]="!m.chat_groups_members.confirmed">
                                    <img class="avatar" [matTooltip]="m.name"
                                         [src]="m.avatar|getImgPath: 'user_avatars'">
                                    <mat-icon *ngIf="m.id !== selectedGroup?.creator_id"
                                              (click)="removeSavedMember(m.id)">cancel
                                    </mat-icon>
                                    <div class="status" [ngClass]="getUserCurrentStatus(m) ? 'online':'offline'"></div>
                                </li>
                            </ul>
                            <a id="show-more-members" (click)="openAllMembersModal()">
                                Show more
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <button mat-icon-button [disableRipple]="true" (click)="showMembersInput = !showMembersInput">
                            <mat-icon>people</mat-icon>
                        </button>
                        <div class="remove" (click)="removeGroup()" *ngIf="authUser.id === selectedGroup?.creator_id">
                            <a><i class="fas fa-trash"></i></a>
                        </div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="dotes" [disableRipple]="true">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="showMembersInput = !showMembersInput">
                                Add members
                            </button>
                            <button mat-menu-item (click)="leaveGroup()"
                                    *ngIf="authUser.id !== selectedGroup?.creator_id">
                                Leave group
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </form>

            <div class="confirm-joining-group" [hidden]="!selectedGroup || ifConfirmedToJoinTheGroup(selectedGroup)">
                <p>Please accept or decline joining to the <strong>{{selectedGroup.name}}</strong> group</p>
                <div class="actions">
                    <button class="accept-btn" (click)="acceptGroupJoin()">Accept</button>
                    <button class="decline-btn" (click)="declineGroupJoin()">Decline</button>
                </div>
            </div>
        </div>
        <ul class="chat-history" id="group-messages" #groupMessagesList>
            <ng-container *ngIf="selectedGroupMessages?.length > 0">
                <ng-container *ngFor="let msg of selectedGroupMessages">

                    <li class="data-list"><span>{{msg.key|getDateText}}</span></li>
                    <ng-container *ngFor="let m of msg.value;let ind = index">
                        <li class="message-container" [ngClass]="getMessageClass(m.from_user)">
                            <div class="message-data mb-0 pl-0 d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="img">
                                        <img class="avatar" [src]="m.from_user.avatar|getImgPath: 'user_avatars'">
                                    </div>
                                    <div class="name">{{m.from_user.first_name + ' ' + m.from_user.last_name}}</div>
                                </div>
                                <div class="date">{{m.created_at | date: 'HH:mm' }}</div>
                            </div>
                            <div class="message">
                                {{m.message}}
                            </div>
                            <div class="seen">
                                <ng-container *ngFor="let seen of m.seen_by">
                                    <img class="seen-avatar"
                                         [matTooltip]="seen.first_name + ' ' + seen.last_name"
                                         [src]="seen.avatar|getImgPath: 'user_avatars'">
                                </ng-container>
                            </div>
                        </li>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ul>

        <small class="text-center font-italic d-block">{{typingText}}</small>
        <div class="chat-message" [hidden]="!selectedGroup">
            <form [formGroup]="chatForm" class="chat-form">
                <input class="flex-1 mx-3" formControlName="message" placeholder="Type your message"
                       (keyup)="setTyping()" (focus)="setSeen()"
                       (keyup.enter)="sendMessage($event)">
            </form>
            <div class="icons">
                <a href=""><img src="assets/img/gif-24px.svg" alt=""></a>
                <a href=""><img src="assets/img/mood-24px.svg" alt=""></a>
                <a href=""><img src="assets/img/send-24px.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
