@import '~assets/styles/general-chat-wrap';
@import 'variables';

.user-last-msg {
    width: 98%;
}

.right {
    i {
        cursor: pointer;
    }
}

.left-group {
    display: flex;
}

.seen-circle {
    background-color: transparent;

    i {
        color: $metl-green;
    }
}

.more-btn {
    button {
        background-color: transparent;
    }
}

.users-types {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

    button {
        background-color: #C9C9C9;
        padding: 5px;
        border-radius: 35px;
        width: 30px;
        height: 30px;
        color: white;
        margin-bottom:10px;

        &:hover {
            background-color: $metl-green;;
        }
    }
}
