<div class="chat-wrap">
    <div class="people-groups-container" [hidden]="isChatUsersListSize() && activeUser"
         [class.responsive-list]="isChatUsersListSize()">
        <div id="people-list" class="list-wrap">
            <div class="top-actions">
                <div id="back-to-active-users">
                    <button *ngIf="showBlockedUsers" (click)="toggleBlockedUsers(false)">
                        <mat-icon>arrow_backward</mat-icon>
                        <span>Active contacts</span>
                    </button>
                </div>
                <div class="three-dot-actions" *ngIf="filteredUsersMessages.length > 0">

                    <button [matMenuTriggerFor]="menu" class="show-actions">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [class.active]="!showBlockedUsers" (click)="toggleBlockedUsers(false)"
                                [disableRipple]="true">
                            <i class="fas fa-users"></i>
                            Active users
                        </button>
                        <button mat-menu-item [class.active]="showBlockedUsers" (click)="toggleBlockedUsers(true)"
                                [disableRipple]="true">
                            <i class="fa fa-users-slash"></i>
                            Blocked users
                        </button>
                    </mat-menu>
                </div>
            </div>
            <ul class="list align-items-center">
                <li *ngFor="let msg of usersMessages"
                    [class.active]="activeUser?.id === msg.user.id">

                    <ng-container
                        [ngTemplateOutlet]="itemTemplate"
                        [ngTemplateOutletContext]="{user: msg.user, lastMsg: msg?.messages[msg?.messages.length - 1]}">
                    </ng-container>

                    <ng-template #itemTemplate let-user="user" let-lastMsg="lastMsg">
                        <div class="d-flex user-last-msg align-items-center justify-content-between">
                            <div class="left-group" (click)="makeUserActive(user, lastMsg)">

                                <div class="img">
                                    <img class="avatar" [src]="user.avatar|getImgPath: 'user_avatars'">
                                </div>
                                <div class="text">
                                    <div class="name">{{user.first_name + ' ' + user.last_name}}</div>
                                    <div class="d-flex align-items-center">
                                        <span>{{lastMsg.message}}</span>
                                        <span
                                            class="ml-4">{{lastMsg.created_at | dateFromNow}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-auto more-btn">
                                <ng-container *ngIf="lastMsg.seen === 1">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" class="" [disableRipple]="true">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item
                                                (click)="unreadLastMsg(user, lastMsg)">
                                            Unread
                                        </button>
                                        <button mat-menu-item *ngIf="!showBlockedUsers" (click)="blockUser(user)">
                                            Block
                                        </button>
                                        <button mat-menu-item *ngIf="showBlockedUsers" (click)="blockUser(user)">
                                            Unblock
                                        </button>
                                    </mat-menu>
                                </ng-container>
                                <ng-container *ngIf="lastMsg.seen === 0">
                                    <button class="seen-circle">
                                        <i class="fas fa-circle"></i>
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat" [hidden]="(isChatUsersListSize() && !activeUser)">
        <div class="chat-about" *ngIf="activeUser">
            <div class="left">
                <button mat-icon-button *ngIf="isChatUsersListSize()" (click)="activeUser = null;">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div class="img">
                    <img class="avatar" [src]="activeUser.avatar|getImgPath: 'user_avatars'">
                </div>
                <div class="name">{{activeUser.first_name + ' ' + activeUser.last_name}}</div>
            </div>
            <div class="right">
                <!--                <div class="remove"><i class="fas fa-trash"></i></div>-->
                <!--                <div class="ml-auto more-btn">-->
                <!--                    <button class="dotes" mat-icon-button [matMenuTriggerFor]="menu" [disableRipple]="true">-->
                <!--                        <i class="fas fa-ellipsis-v"></i>-->
                <!--                    </button>-->
                <!--                    <mat-menu #menu="matMenu">-->
                <!--                        <button mat-menu-item>Unread</button>-->
                <!--                        <button mat-menu-item>Block</button>-->
                <!--                    </mat-menu>-->
                <!--                </div>-->
            </div>
        </div>

        <ul class="chat-history" id="direct-messages" #directMessagesList>
            <ng-container *ngFor="let msg of selectedUserMessages?.messages">

                <li class="data-list"><span>{{getDateText(msg.key)}}</span></li>
                <ng-container *ngFor="let m of msg.value;let ind = index">
                    <li class="message-container" [ngClass]="getMessageClass(m.from_user)">
                        <div class="message-data mb-0 pl-0 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="img">
                                    <img class="avatar" [src]="m.from_user.avatar|getImgPath: 'user_avatars'">
                                </div>
                                <div class="name">{{m.from_user.first_name + ' ' + m.from_user.last_name}}</div>
                            </div>
                            <div class="date">{{m.created_at | date: 'HH:mm' }}</div>
                        </div>
                        <div class="message">
                            {{m.message}}
                        </div>
                        <div class="seen" *ngIf="m.seen">
                            <img class="seen-avatar" [src]="getSeenAvatar(m)|getImgPath: 'user_avatars'">
                        </div>
                    </li>
                </ng-container>
            </ng-container>
        </ul>

        <small class="text-center font-italic d-block">{{typingText}}</small>
        <div class="chat-message" *ngIf="activeUser">
            <form [formGroup]="chatForm" class="chat-form">
                <input class="flex-1 mx-3" formControlName="message" placeholder="Type your message"
                       (keyup)="setTyping()" (focus)="setSeen()"
                       (keyup.enter)="sendMessage($event)">
            </form>
            <div class="icons">
                <a href=""><img src="assets/img/gif-24px.svg" alt=""></a>
                <a href=""><img src="assets/img/mood-24px.svg" alt=""></a>
                <a href=""><img src="assets/img/send-24px.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
