<div class="bottom-chat">
    <div class="w-100 h-100 position-relative">
        <div class="channel-user-name-container">
            <div>
                <img class="avatar" id="profile-image" alt="channel-user-avatar"
                     [src]="channelUser?.channel?.avatar|getImgPath: 'avatars'">
                <span>{{channelUser?.first_name + ' ' + channelUser?.last_name}}</span>
            </div>
            <div>
                <img src="../../../../../../assets/img/x.svg" class="close-box" alt="close-chat-box" (click)="closeChatBox()">
            </div>
        </div>

        <div class="chat-messages-container">
            <app-direct-chat-messages *ngIf="messages.length > 0" [authUser]="authUser"
                                      [embedMode]="true"></app-direct-chat-messages>
        </div>
    </div>
</div>
