.start-live-video {
    width: 100%;
    max-width: 548px;
    margin: 64px auto 0;
}

#start-streaming-form {
    font-family: 'Muli-Regular';

    #video-tags {
        margin-top: 24px;
    }

    #video-name {
        input {

            margin-top: 24px;
            width: 100%;
            height: 51px;
            background: #FFFFFF 0 0 no-repeat padding-box;
            box-shadow: 0 0 6px #EEEEEE;
            color: #8c8888;
            //border: 0.5px solid #F53C6F;
        }
    }

    #video-categories, #privacy {
        margin-top: 24px;

        select {
            width: 100%;
            height: 51px;
            background: #FFFFFF 0 0 no-repeat padding-box;
            box-shadow: 0 0 6px #EEEEEE;
            border: none;
            font: normal normal normal 16px/20px 'Muli-Regular';
            color: #8c8888;
            outline: none;

            option:disabled {
                color: silver;
            }
        }
    }

    #video-description {
        margin: 24px 0;

        textarea {
            width: 100%;
            height: 151px;
            background: #FFFFFF 0 0 no-repeat padding-box;
            box-shadow: 0 0 6px #EEEEEE;
            opacity: 1;
            border: none;
            outline: none;
            resize: none;
        }
    }

    label[for="custom-thumbnail"] {
        margin: 0;
        font-size: 18px;
        padding: 12px 16px;
        background: #EEEEEE 0 0 no-repeat padding-box;
        font: normal normal normal 18px/19px 'Muli-Regular';
        color: #8c8888;
        cursor: pointer;

        span {
            vertical-align: text-bottom;
            margin-right: 10px;
        }
    }

    #thumbnail {
        display: flex;
        align-items: center;

        mat-spinner {
            margin-left: 20px;
        }
    }


    #custom-thumbnail {
        display: none;
    }

    #uploaded-thumbnail-container {
        position: relative;

        mat-icon {
            position: absolute;
            right: 0;
        }

        #uploaded-thumbnail {
            max-width: 100%;
            object-fit: cover;
        }

        #remove-thumbnail {
            color: #545454;
            cursor: pointer;
        }
    }

    #video-tags {
        mat-form-field {
            width: 100%;
        }
    }

    .item {
        margin-bottom: 8px;

        &.d-flex {
            > div {
                margin-right: 40px;
            }
        }

        .title {
            display: flex;
            justify-content: space-between;
            color: #18B587;
            font-size: 14px;
            margin-bottom: 2px;

            .edit {
                font-size: 16px;
                color: #545454;
                cursor: pointer;

                span {
                    font-size: 20px;
                    margin-left: 4px;
                }
            }
        }

        .info {
            display: flex;
            align-items: center;

            &.border {
                border: 0 !important;

                span:not(.material-icons) {
                    border-bottom: 0.5px solid #DCDCDC;
                }
            }

            span:not(.material-icons) {
                flex: 1;
            }

            .material-icons {
                margin-right: 8px;
            }

            > span {
                color: #545454;
                font-weight: 600;
                font-size: 16px;
            }

            .material-icons {
                font-size: 20px;
            }
        }
    }

    .actions {
        .btn {
            margin-top: 32px;
            border: 0;
            border-radius: 0;
            padding: 16px 32px;
            background: #F53C6F;
            box-shadow: 0 0 6px #006DCC2E;
        }
    }
}
