#user-cards-list {
    display: flex;
    .card {
        width: 320px;
        height: 180px;
        display: flex;
        justify-content: space-between;
        flex-direction: unset;
        margin-right: 10px;

        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .brand {
            display: flex;
            align-items: flex-end;

            .brand-img {
                width: 43px;
            }
        }

        &#add-new-card {
            align-items: center;
            justify-content: center;

            mat-icon {
                font-size: 40px;
                cursor: pointer;
            }
        }
    }
}
