<div id="user-cards-list">
    <div class="card" [class.darken]="showActions" *ngFor="let card of userCards" (mouseover)="toggleActions(true)"
         (mouseleave)="toggleActions(false)">
        <div class="details">
            <div class="card-number">
                <p>Card number</p>
                <p>**** **** **** {{card.last4}}</p>
            </div>
            <div class="expiration-date">
                <p>Expiration date</p>
                <p>{{formatExpiryDate(card.exp_month + '/' + card.exp_year)}}</p>
            </div>
        </div>
        <div class="brand">
            <img src="assets/img/purchase-icons/{{card.brand.toLowerCase()}}-card.png" class="brand-img">
        </div>
        <div class="actions" [hidden]="!showActions">
            <mat-icon (click)="editCard(card)">settings</mat-icon>
            <mat-icon (click)="removeCard(card)">delete</mat-icon>
        </div>
    </div>
    <div class="card" id="add-new-card">
        <mat-icon (click)="router.navigate(['/user/cards/add'])">add</mat-icon>
    </div>
</div>


