#live-session-finished {
  position: absolute;
  top: -3px;
  left: 15px;
  width: 640px;
  height: 100%;
  color: #ffffff;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
}

