#verify-email {
    color: #545454;
    font-family: "Muli-Regular";

    h1 {
        font-size: 32px;
        margin-top: 40px;
        font-weight: bold;
    }

    h3 {
        font-size: 24px;
        margin-top: 16px;
        font-weight: bold;
    }

    p {
        margin-top: 16px;
    }

    input {
        width: 100%;
        height: 51px;
        box-shadow: 0 0 6px #F53C6F24;
        border: 0.5px solid #F53C6F;
        padding-left: 32px;
    }

    #resend-code {
        font: normal normal normal 16px/20px Muli;
        color: #18B587;
        margin-top: 16px;
        margin-bottom: 0;
        font-family: "Muli-Regular";
        cursor: pointer;
    }

    .thanks-for-verification {
        margin-bottom: 100px;
    }

    .wrong-code {
        text-align: center;
    }

    button {
        width: 100%;
        height: 51px;
        background: #F53C6F 0 0 no-repeat padding-box;
        box-shadow: 0 0 6px #006DCC2E;
        color: #FFFFFF;
        margin-top: 21px;
    }

    #thanks {
        text-align: center;
        padding-top: 116px;
    }
}
