<div id="verify-email">
    <ng-container *ngIf="!codeVerified">
        <h1>Sign up</h1>
        <h3>Enter verification code</h3>
        <p>We sent a 4 digit code to {{email}}. Confirm it belongs to you to keep your account secure</p>
        <form [formGroup]="verifyCodeForm">
            <input placeholder="Enter code" formControlName="code">
            <p id="resend-code">Resend code</p>
            <div class="loader-holder" *ngIf="verifyingCode">
                <mat-spinner [diameter]="25"></mat-spinner>
            </div>
            <p class="error wrong-code" *ngIf="codeWrong">The code is wrong</p>
            <button (click)="verifyCode()" *ngIf="!verifyingCode">Submit</button>
        </form>
    </ng-container>
    <div [hidden]="!codeVerified" id="thanks">
        <img src="assets/img/checked.svg">
        <p class="thanks-for-verification">
            Thanks for verifying your e-mail address.
        </p>
        <div class="loader-holder">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div>
    </div>
</div>
