<div class="single-playlist">
   <h2>Edit Playlist</h2>

   <div class="inner-wrap">
       <div class="left">
           <div class="playlist">
                <img src="assets/img/item-3.png" alt="">
                <button class="btn play-all">
                    <span class="material-icons">play_arrow</span>
                    Play All
                </button>

                <div class="info">
                    <h3>{{playlist?.name}} <span class="material-icons">create</span></h3>
                    <p>{{playlist?.description}}</p>
                    <h3>109 videos</h3>
                    <h3>Last updated on Oct 19, 2020</h3>
                    <div class="select">
                        <span class="material-icons">visibility_off</span>
                        <select>
                            <option [value]="">Public</option>
                            <option [value]="">Private</option>
                        </select>
                    </div>
                </div>

                <button class="btn add-video">Add Video</button>
           </div>
        </div>

        <div class="right">
            <div class="playlist-item">
                <div class="video-container">
                    <div class="img">
                        <img src="assets/img/jp-valeryunsplash.png">
                    </div>

                    <div  class="details">
                        <div class="title">
                            <h4 class="">Trump meets with Florida Sheriffs</h4>
                            <div class="dotes">
                                <button><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="shortened-details">
                            <span  class="channel-name">Fox News</span>
                            <span class="dot">.</span>
                            <span class="watchers-count">17k watching</span>
                            <span class="dot">.</span>
                            <span class="upload-time">Dec 07, 2020</span>
                        </div>
                        <p  class="shortened-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="playlist-item">
                <div class="video-container">
                    <div class="img">
                        <img src="assets/img/jp-valeryunsplash.png">
                    </div>

                    <div  class="details">
                        <div class="title">
                            <h4 class="">Trump meets with Florida Sheriffs</h4>
                            <div class="dotes">
                                <button><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="shortened-details">
                            <span  class="channel-name">Fox News</span>
                            <span class="dot">.</span>
                            <span class="watchers-count">17k watching</span>
                            <span class="dot">.</span>
                            <span class="upload-time">Dec 07, 2020</span>
                        </div>
                        <p  class="shortened-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="playlist-item">
                <div class="video-container">
                    <div class="img">
                        <img src="assets/img/jp-valeryunsplash.png">
                    </div>

                    <div  class="details">
                        <div class="title">
                            <h4 class="">Trump meets with Florida Sheriffs</h4>
                            <div class="dotes">
                                <button><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="shortened-details">
                            <span  class="channel-name">Fox News</span>
                            <span class="dot">.</span>
                            <span class="watchers-count">17k watching</span>
                            <span class="dot">.</span>
                            <span class="upload-time">Dec 07, 2020</span>
                        </div>
                        <p  class="shortened-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="playlist-item">
                <div class="video-container">
                    <div class="img">
                        <img src="assets/img/jp-valeryunsplash.png">
                    </div>

                    <div  class="details">
                        <div class="title">
                            <h4 class="">Trump meets with Florida Sheriffs</h4>
                            <div class="dotes">
                                <button><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="shortened-details">
                            <span  class="channel-name">Fox News</span>
                            <span class="dot">.</span>
                            <span class="watchers-count">17k watching</span>
                            <span class="dot">.</span>
                            <span class="upload-time">Dec 07, 2020</span>
                        </div>
                        <p  class="shortened-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="playlist-item">
                <div class="video-container">
                    <div class="img">
                        <img src="assets/img/jp-valeryunsplash.png">
                    </div>

                    <div  class="details">
                        <div class="title">
                            <h4 class="">Trump meets with Florida Sheriffs</h4>
                            <div class="dotes">
                                <button><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="shortened-details">
                            <span  class="channel-name">Fox News</span>
                            <span class="dot">.</span>
                            <span class="watchers-count">17k watching</span>
                            <span class="dot">.</span>
                            <span class="upload-time">Dec 07, 2020</span>
                        </div>
                        <p  class="shortened-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="playlist-item">
                <div class="video-container">
                    <div class="img">
                        <img src="assets/img/jp-valeryunsplash.png">
                    </div>

                    <div  class="details">
                        <div class="title">
                            <h4 class="">Trump meets with Florida Sheriffs</h4>
                            <div class="dotes">
                                <button><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="shortened-details">
                            <span  class="channel-name">Fox News</span>
                            <span class="dot">.</span>
                            <span class="watchers-count">17k watching</span>
                            <span class="dot">.</span>
                            <span class="upload-time">Dec 07, 2020</span>
                        </div>
                        <p  class="shortened-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="playlist-item">
                <div class="video-container">
                    <div class="img">
                        <img src="assets/img/jp-valeryunsplash.png">
                    </div>

                    <div  class="details">
                        <div class="title">
                            <h4 class="">Trump meets with Florida Sheriffs</h4>
                            <div class="dotes">
                                <button><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="shortened-details">
                            <span  class="channel-name">Fox News</span>
                            <span class="dot">.</span>
                            <span class="watchers-count">17k watching</span>
                            <span class="dot">.</span>
                            <span class="upload-time">Dec 07, 2020</span>
                        </div>
                        <p  class="shortened-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="playlist-item">
                <div class="video-container">
                    <div class="img">
                        <img src="assets/img/jp-valeryunsplash.png">
                    </div>

                    <div  class="details">
                        <div class="title">
                            <h4 class="">Trump meets with Florida Sheriffs</h4>
                            <div class="dotes">
                                <button><i class="fas fa-ellipsis-v"></i></button>
                            </div>
                        </div>
                        <div class="shortened-details">
                            <span  class="channel-name">Fox News</span>
                            <span class="dot">.</span>
                            <span class="watchers-count">17k watching</span>
                            <span class="dot">.</span>
                            <span class="upload-time">Dec 07, 2020</span>
                        </div>
                        <p  class="shortened-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
