<div class="single-playlist">
    <h2>Edit Playlist</h2>

    <div class="inner-wrap">
        <div class="left">
            <div class="playlist" *ngIf="playlist">
                <img *ngIf="playlist.thumbnail" [src]="apiUrl+'uploads/thumbnails/'+playlist.thumbnail">
                <img *ngIf="!playlist.thumbnail" [src]="'assets/img/video-thumbnail-default.png'">
                <button class="btn play-all">
                    <span class="material-icons">play_arrow</span>
                    Play All
                </button>

                <div class="info">
                    <form [formGroup]="playlistInfoForm" id="playlist-info-form">
                        <ng-container *ngIf="!editMode">

                            <h3>
                                {{playlist.name}}
                                <span class="material-icons" (click)="editPlaylistInfo(playlist)">create</span>
                            </h3>
                            <p>{{playlist.description}}</p>
                        </ng-container>
                        <ng-container *ngIf="editMode">
                            <input formControlName="name">
                            <span class="error" *ngIf="playlistInfoForm.get('name').hasError('required')">Playlist name is required</span>
                            <textarea formControlName="description"></textarea>
                        </ng-container>
                        <ng-container *ngIf="!editMode">
                            <h3>{{playlist.videos?.length}} videos</h3>
                            <h3 *ngIf="!editMode">Last updated on {{playlist.updated_at|date: 'd MMM, yyyy'}}</h3>
                            <div class="select" id="privacy-select">
                                <mat-icon *ngIf="!playlist.privacy">visibility_off</mat-icon>
                                <mat-icon class="material-icons" *ngIf="playlist.privacy">visibility_on</mat-icon>
                                <select (change)="updatePrivacy($event.target.value, playlist)">
                                    <option [value]="0" [selected]="!playlist.privacy">Private</option>
                                    <option [value]="1" [selected]="playlist.privacy">Public</option>
                                </select>
                            </div>
                        </ng-container>
                    </form>
                </div>

                <button class="btn cancel" *ngIf="editMode">Cancel</button>
                <button class="btn save-playlist-changes" *ngIf="editMode" (click)="savePlaylistInfoChanges()">Save</button>


                <button class="btn add-video" *ngIf="!editMode" (click)="openVideosModal()">Add Video</button>
            </div>
        </div>

        <div class="right" *ngIf="playlist">
            <div class="playlist" cdkDropList>
                <div class="playlist-item" cdkDrag [cdkDragPreviewClass]="'video-container'"
                     (cdkDragDropped)="dragDropped($event, video)"
                     *ngFor="let video of playlist.videos">
                    <div class="video-container">
                        <div class="img">
                            <div class="thumbnail">
                                <img *ngIf="video.thumbnail" [src]="apiUrl+'uploads/thumbnails/'+video.thumbnail"
                                     (click)="openVideoPage(video)">
                                <img *ngIf="!video.thumbnail" [src]="'assets/img/video-thumbnail-default.png'"
                                     (click)="openVideoPage(video)">
                            </div>
                        </div>

                        <div class="details">
                            <div class="title">
                                <h4 class="">{{video.name}}</h4>
                                <div class="dotes">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                            aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="addToAnotherPlaylist(video)">
                                            <mat-icon>playlist_add</mat-icon>
                                            <span>Add to another playlist</span>
                                        </button>
                                        <!--                                        <button mat-menu-item>-->
                                        <!--                                            <mat-icon>vertical_align_top</mat-icon>-->
                                        <!--                                            <span>Move to top</span>-->
                                        <!--                                        </button>-->
                                        <!--                                        <button mat-menu-item>-->
                                        <!--                                            <mat-icon>vertical_align_bottom</mat-icon>-->
                                        <!--                                            <span>Move to bottom</span>-->
                                        <!--                                        </button>-->
                                        <button mat-menu-item
                                                (click)="changePlaylistThumbnail(playlist.id, video.thumbnail)">
                                            <mat-icon>insert_photo</mat-icon>
                                            <span>Set as playlist thumbnail</span>
                                        </button>
                                        <button mat-menu-item (click)="removeVideoFromPlaylist(playlist.id, video.id)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Remove from playlist</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="shortened-details">
                                <span class="channel-name">{{video.channel.name}}</span>
                                <span class="dot">.</span>
                                <span class="watchers-count">17k watching</span>
                                <span class="dot">.</span>
                                <span class="upload-time">{{video.created_at|date: 'd MMM, yyyy'}}</span>
                            </div>
                            <p class="shortened-description">{{video.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
