.single-playlist {
    h2 {
        font-size: 32px;
        font-weight: bold;
        color: #18B587;
    }

    .inner-wrap {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .left {
            flex: 0 0 316px;

            .playlist {
                width: 100%;

                img {
                    width: 100%;
                    max-height: 190px;
                    object-fit: cover;
                }

                .play-all {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #18B587;
                    border-radius: 0;
                    font-size: 16px;
                    color: #ffffff;

                    span {
                        margin-right: 12px;
                    }
                }

                .add-video {
                    margin-top: 22px;
                    padding: 6px 24px;
                    background: #18B587;
                    border-radius: 0;
                    font-size: 16px;
                    color: #ffffff;
                }

                .info {

                    h3 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 16px;
                        margin-bottom: 0;
                        font-size: 16px;
                        font-family: "Muli-Bold";
                        color: #545454;

                        span {
                            font-size: 22px;
                            cursor: pointer;
                        }
                    }

                    p {
                        margin-top: 12px;
                        color: #545454;
                        font-size: 12px;
                    }

                    .select {
                        margin-top: 16px;

                        span {
                            vertical-align: sub;
                            font-size: 22px;
                            color: #545454;
                        }

                        select {
                            color: #545454;
                            font-size: 16px;
                            font-weight: 600;
                            border: 0;
                            padding: 0;
                            outline: none;
                            margin-left: 6px;
                        }
                    }

                    #privacy-select {
                        display: flex;
                    }
                }
            }
        }

        .right {
            flex: 1;
            margin-left: 32px;

            .playlist-item {
                margin-bottom: 30px;

                .video-container {
                    display: flex;

                    .img {
                        flex: 0 0 200px;

                        img {
                            width: 100%;
                            height: 115px;
                            object-fit: cover;
                            cursor: pointer;
                        }
                    }

                    .details {
                        flex: 1;
                        margin-left: 32px;

                        .title {
                            display: flex;
                            justify-content: space-between;

                            h4 {
                                margin: 0;
                                text-transform: capitalize;
                                font-family: "Muli-Bold";
                                color: #545454;
                                font-size: 16px;
                            }

                            .dotes {
                                button {
                                    width: 40px;
                                    font-size: 14px;
                                    background: transparent;
                                }
                            }
                        }

                        .shortened-details {
                            margin-top: 4px;
                            display: flex;

                            .channel-name {
                                font-family: "Muli-Bold";
                                color: #818181;
                                font-size: 14px;
                            }

                            .dot {
                                margin-left: 16px;
                                margin-top: -3px;
                            }


                            .upload-time, .watchers-count {
                                font-size: 14px;
                                color: #818181;
                            }

                            .watchers-count, .upload-time {
                                margin-left: 16px;
                            }
                        }

                        .shortened-description {
                            margin-top: 16px;
                            margin-bottom: 0;
                            color: #545454;
                        }

                    }
                }
            }
        }
    }
}
