<p>Share this link via</p>
<a target="_blank" [href]="getTweeterLink()">
    <img src="assets/img/twitter.svg" alt="">
</a>
<a [href]="getFacebookLink()"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Facebook">
    <img src="assets/img/facebook.svg" alt="">
</a>

<p>Or copy link</p>
<input id="link-address-holder" [value]="shareUrl" #urlHolder>
<button class="copy-url" (click)="copyInputMessage(urlHolder)">Copy</button>
