@import 'variables';
@import 'mixins';

#my-subscriptions {
    text-align: center;
    color: $green;
}



.channel-item {
    display: flex;
    //width: 936px;
    margin-bottom: 32px;
    flex-wrap: wrap;

    .avatar {
        width: 240px !important;
        height: 240px;
    }

    .info {
        margin-top: 4px;
        min-width: 250px;
        max-width: 350px;

        .name {
            color: #545454;
            font-size: 24px;
            font-family: 'Muli-Bold';
            cursor: pointer;
        }

        .dot {
            margin-left: 26px;
            margin-top: -3px;
        }

        p {
            font-size: 16px;
            font-family: 'Muli-Light';
        }


        .watchers-count, .videos-count {
            font-size: 14px;
            color: #818181;
        }

    }
}

