<ul *ngIf="userChannels">
    <li *ngFor="let channel of userChannels.subscriptions" class="channel-item">
        <div class="thumbnail">
            <img class="avatar" *ngIf="channel.avatar"
                 [src]="apiUrl+'uploads/avatars/'+channel.avatar">
            <img class="avatar" *ngIf="!channel.avatar"
                 [src]="'assets/img/default-user.png'">
        </div>
        <div class="info">
            <p class="name">{{channel.name}}</p>
            <div class="shortened-details">
                <span class="watchers-count">17k watching</span>
                <span class="dot">.</span>
            </div>
            <span class="videos-count">250 video</span>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed sda,sasddswd</p>
        </div>
    </li>
</ul>

