.subscribe-to-channel-btn {
    padding: 12px 28px;
    font-size: 16px;
    color: #FFFFFF;
    background: #F53C6F;
    border-radius: 0;
    box-shadow: 0 0 6px #006dcc2e;

    &.subscribed {
        background-color: #D6D6D6 !important;
    }
}

.channel-item {
    display: flex;
    //width: 936px;
    margin-bottom: 32px;
    flex-wrap: wrap;

    .avatar {
        width: 240px !important;
        height: 240px;
    }

    .info {
        margin-top: 4px;
        min-width: 250px;
        max-width: 350px;

        .name {
            color: #545454;
            font-size: 24px;
            font-family: 'Muli-Bold';
            cursor: pointer;
        }

        .dot {
            margin-left: 26px;
            margin-top: -3px;
        }

        p {
            font-size: 16px;
            font-family: 'Muli-Light';
        }


        .watchers-count, .videos-count {
            font-size: 14px;
            color: #818181;
        }

        .videos-count {
            //margin-left: 26px;
        }

    }
}

