@import 'variables';
@import 'mixins';
//@import "../../../channels/show-subscriptions/show-subscriptions.component";

#search-results-container {
    .channel-item {
        display: flex;
    }

    .subscribe-to-channel-btn {
        //margin-left: 20px;
        margin-top: 20px;
    }

    .video-container {
        margin-top: 20px;
    }

    .thumbnail {
        width: 100%;
        max-width: 432px;
        height: 243px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            max-width: 432px;

        }
    }

    .info {
        padding-left: 32px;
        max-width: 310px;
        //display: flex;
        //align-items: flex-start;

    }


    @media screen and (max-width: 1022px) {
        flex-direction: column;
        .thumbnail {
            max-width: 432px;
            width: 100%;
        }
        .info {
            padding-left: 0;
            margin-top: 8px;
        }
    }
}

.newAvatar {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    object-fit: cover;
}

.channel-name {
    margin: 0;
    text-transform: capitalize;
    font-family: "Muli-Bold", sans-serif !important;
    color: #545454;
    font-size: 16px;
    overflow: hidden;
    max-width: 400px;
    height: 20px;
    cursor: pointer;
}

.video-countStyle {
    font-family: "Muli-Bold";
    color: #818181;
    font-size: 14px;
    margin-top: 7px
}


@media screen and (max-width: 1022px) {
    .channel-item {
        flex-direction: column;
    }
}
