<div id="stock-tiles-holder" cdkDropList>
    <div class="stock-item" *ngFor="let stock of passedStocks" cdkDrag (cdkDragDropped)="dragDropped($event, stock)"
         [class.stock-item-green]="stock.changesPercentage > 0">
        <div class="stock-follow">
            <button [class.unfollow-btn]="isStockFollowed(stock)" (click)="updateFollowedStocksList(stock)">
                <mat-icon *ngIf="isStockFollowed(stock) else followTmpl">delete</mat-icon>
                <ng-template #followTmpl>Follow</ng-template>
            </button>
        </div>

        <div class="stock-details">
            <p class="stock-name">{{stock.name}}</p>
            <p class="stock-price"><span class="dollar-sign">$</span>{{stock.price}}</p>
            <div class="stock-price-details">
                <p class="stock-price-change">{{stock.change?.toFixed(2)}}</p>
                <p class="stock-price-change-percent">{{stock.changesPercentage}}%</p>
            </div>
        </div>

        <div class="small-chart-container" *ngIf="stock.hasOwnProperty('series') && stockChartSettings; let sChS;">
            <ngx-charts-line-chart [scheme]="sChS.colorScheme" [results]="[stock]" [view]="sChS.view"
                                   [autoScale]="sChS.autoScale" [timeline]="sChS.timeline"
                                   [animations]="sChS.animations" [tooltipDisabled]="sChS.tooltipDisabled">
            </ngx-charts-line-chart>
        </div>
    </div>
</div>
