@import 'variables';
@import 'mixins';

#stock-tiles-holder {
    padding: 32px 0 0;
    display: flex;
    flex-wrap: wrap;

    &.no-moving {
        .stock-item {
            cursor: pointer;
        }
    }

    .stock-item {
        @include stocksItem;
    }

    .stock-item-placeholder {
        width: 200px;
        height: 179px;
        margin-right: 13px;
        margin-bottom: 32px;
    }

}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);

    img {
        width: 200px !important;
    }

    @include stocksItem;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
    .placeholder-text {
        display: inline;
    }
}

.cdk-drag-animating {
    transition: transform 0ms cubic-bezier(0, 0, 0.2, 1);
}


