<ng-container *ngIf="selectedGroup">
    <app-user-tags></app-user-tags>
    <div id="group-wrap">
        <div id="group-cover-image">
            <img [src]="selectedGroup?.cover|getImgPath:'group_covers'">
        </div>

        <div class="row groupsRow">
            <div id="group-details">
                <div class="details-row">
                    <strong id="group-name">{{selectedGroup?.name}}</strong>
                </div>

                <div class="details-row">
                    <div id="privacy-type">
                        <mat-icon>{{groupPrivacy === 'public' ? groupPrivacy : 'lock' }}</mat-icon>
                        <span>{{groupPrivacy}}</span>
                    </div>
                    <div id="members-count">
                        <strong>
                            <span>{{getConfirmedMembersCount()}}</span>
                            members
                        </strong>
                    </div>
                </div>
            </div>

            <div id="group-actions">
                <ng-container *ngIf="showJoinBtn()">
                    <button id="join-group-btn" (click)="joinGroup()" *ngIf="userGroupConnStatus === 'not connected'">
                        Join
                    </button>
                    <button id="joined-group-btn" [matMenuTriggerFor]="menu"
                            *ngIf="userGroupConnStatus === 'confirmed'">
                        <span>Joined</span>
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>

                    <button id="waiting-for-confirmation-btn" *ngIf="userGroupConnStatus === 'unconfirmed'">
                        <mat-icon>check</mat-icon>
                        <span>Waiting for confirmation</span>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item id="unfollow-group">
                            <i class="fas fa-times-circle"></i>
                            <span>Unfollow group</span>
                        </button>
                        <button mat-menu-item id="leave-group" (click)="leaveGroup()">
                            <i class="fa fa-times"></i>
                            <span>Leave group</span>
                        </button>
                    </mat-menu>
                </ng-container>

                <button id="invite-to-group-btn" (click)="openMembersModal()">
                    <mat-icon>add</mat-icon>
                    Invite
                </button>
            </div>
        </div>

        <div class="row">
            <div id="group-tabs">
                <ul class="nav-tabs">
                    <li class="nav-item" *ngFor="let tab of groupTabs">
                        <a class="nav-link" [routerLink]="'/groups/'+passedGroupName+'/'+tab.link"
                           routerLinkActive="active"
                        >{{tab.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content" *ngIf="selectedGroup">
            <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
        </div>
    </div>
</ng-container>
<span *ngIf="!selectedGroup">The group is not found</span>
