<app-user-tags></app-user-tags>
<div id="group-wrap">
    <div id="group-cover-image">
        <img [src]="selectedGroup?.cover|getImgPath:'group_covers'">
    </div>

    <div class="row">
        <div id="group-details">
            <div class="details-row">
                <strong id="group-name">{{selectedGroup.name}}</strong>
            </div>

            <div class="details-row">
                <div id="group-type">
                    <mat-icon>public</mat-icon>
                    <span>Public</span>
                </div>
                <div id="members-count">
                    <strong>
                        <span>{{selectedGroup.chat_group_members.length}}</span>
                        members
                    </strong>
                </div>
            </div>
        </div>

        <div id="group-tabs">
            <ul>
                <li class="tab" *ngFor="let tab of groupTabs">{{tab.name}}</li>
            </ul>
        </div>

        <div id="group-actions">
            <ng-container *ngIf="showJoinBtn()">
                <button [matMenuTriggerFor]="menu">
                    Join
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <i class="fas fa-users"></i>
                        Unfollow group
                    </button>
                    <button mat-menu-item>
                        <i class="fas fa-users"></i>
                        Leave group
                    </button>
                </mat-menu>
            </ng-container>

            <button id="invite-to-group-btn">
                <mat-icon>add</mat-icon>
                Invite
            </button>
        </div>
    </div>
</div>
