@import 'variables';
@import 'mixins';
@import 'page-tabs';

#group-cover-image {
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.details-row {
    display: flex;
    align-items: center;

    &:first-of-type {
        margin-top: 20px;

        #group-name {
            font-size: 16px;
            font-family: "Muli-Bold", sans-serif;
            text-transform: capitalize;
            margin-bottom: 4px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    &:last-of-type {
        margin-top: 2px;

        #group-type {
            display: flex;
            align-items: center;
            color: #545454;
            font-size: 14px;
            font-family: "Muli-Light", sans-serif;

            span {
                margin-left: 10px;
            }
        }

        #members-count {
            margin-left: 20px;

            strong {
                font-size: 14px;
            }
        }
    }

}


#group-actions {
    display: flex;
    padding-top: 20px;

    button {
        @include regularButton;
    }

    #invite-to-group-btn {
        margin-left: 25px;
    }


}
