<div id="videos-list" *ngIf="userVideos">
    <ng-container *ngIf="!search">
        <div class="video-container flex-wrap" *ngFor="let video of userVideos.users_vids">
            <div class="thumbnail">
                <img [src]="video.thumbnail|getImgPath" (click)="openVideoPage(video, userVideos.username)">
                <span class="duration">{{video.duration}}</span>
            </div>
            <div class="details">
                <h4 class="title">{{video.name}}</h4>
                <div class="shortened-details">
                    <span class="channel-name"
                          (click)="openChannelPage(video.user.channel, video.user.username)">{{video.channel.name}}</span>
                    <span class="dot">&middot;</span>
                    <span class="watchers-count">
                        {{video.status === 'live' ? '17k watching' : video.views + ' view' + (video.views === 1 ? '' : 's')}}
                    </span>
                    <span class="dot">&middot;</span>
                    <span class="upload-time">{{video.created_at | dateFromNow}}</span>
                </div>
                <p class="shortened-description">
                   {{video.description}}
                </p>

                <div class="tags">
                    <ul>
                        <li *ngFor="let tag of video?.tags" (click)="getVideosByTag(tag.name)">
                            <span>{{tag.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-container>
</div>
