<ul *ngIf="userChannels">
    <li *ngFor="let channel of userChannels.subscriptions;trackBy:trackByElement" class="channel-item">
        <div class="thumbnail">
            <img class="avatar" [src]="channel.avatar|getImgPath:'avatars'">
        </div>
        <div class="info">
            <p class="name" (click)="openChannelPage(channel, channel?.user?.username)">{{channel.name}}</p>
            <div class="shortened-details">
                <p class="video-count">{{channel.videos.length + (channel.videos.length === 1 ? ' video' : ' videos')}}</p>
            </div>
            <p>{{channel.description}}</p>
            <button class="btn subscribe-to-channel-btn" *ngIf="channel?.user?.username !== authUser?.username"
                    [class.subscribed]="checkIfSubscribed(channel)"
                    (click)="subscribeToChannel(channel)">{{checkIfSubscribed(channel) ? 'Subscribed' : 'Subscribe'}}
            </button>
        </div>
    </li>
</ul>

