<app-categories></app-categories>
<!--<app-stock-profile></app-stock-profile>-->

<owl-carousel-o [options]="owlOptions">
    <ng-container *ngFor="let video of videos">
        <ng-template carouselSlide>
            <div class="item main-carousel-item">
                <div class="thumbnail" (click)="openVideoPage(video, video.user.username)">

                    <img class="thumbnail" *ngIf="video.thumbnail"
                         [src]="apiUrl+'uploads/thumbnails/'+video.thumbnail">
                    <img class="thumbnail" *ngIf="!video.thumbnail"
                         [src]="'assets/img/video-thumbnail-default.png'">
                    <span class="live-now" *ngIf="video.status==='live'">Live now</span>
                </div>
                <div class="main-item-block">
                    <img class="avatar" *ngIf="video.user.avatar"
                         [src]="apiUrl+'uploads/avatars/'+video.user.avatar">
                    <img class="avatar" *ngIf="!video.user.avatar"
                         [src]="'assets/img/default-user.png'">
                    <div>
                        <p class="main-text-1">{{video.name}}</p>
                        <p class="main-text-2">{{video.user.full_name}}</p>
                        <p class="main-text-3">17k watching</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
<p class="trending-text">Trending Streams</p>
<owl-carousel-o [options]="owlOptions">
    <ng-container *ngFor="let video of videos">
        <ng-template carouselSlide>
            <div class="item main-carousel-item"
                 (click)="openVideoPage(video, video.user.username)">
                <img class="thumbnail" *ngIf="video.thumbnail"
                     [src]="apiUrl+'uploads/thumbnails/'+video.thumbnail">
                <img class="thumbnail" *ngIf="!video.thumbnail"
                     [src]="'assets/img/video-thumbnail-default.png'">
                <span class="live-now" *ngIf="video.status==='live'">Live now</span>
                <div class="main-item-block">
                    <img class="avatar" *ngIf="video.user.avatar"
                         [src]="apiUrl+'uploads/avatars/'+video.user.avatar">
                    <img class="avatar" *ngIf="!video.user.avatar"
                         [src]="'assets/img/default-user.png'">
                    <div>
                        <p class="main-text-1">{{video.name}}</p>
                        <p class="main-text-2">{{video.user.full_name}}</p>
                        <p class="main-text-3">17k watching</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>

<p class="trending-text">Trending CLIPZ</p>

<owl-carousel-o [options]="owlOptions">
    <ng-container *ngFor="let video of videos">
        <ng-template carouselSlide>
            <div class="item main-carousel-item"
                 (click)="openVideoPage(video, video.user.username)">
                <img class="thumbnail" *ngIf="video.thumbnail"
                     [src]="apiUrl+'uploads/thumbnails/'+video.thumbnail">
                <img class="thumbnail" *ngIf="!video.thumbnail"
                     [src]="'assets/img/video-thumbnail-default.png'">
                <span class="live-now" *ngIf="video.status==='live'">Live now</span>
                <div class="main-item-block">
                    <img class="avatar" *ngIf="video.user.avatar"
                         [src]="apiUrl+'uploads/avatars/'+video.user.avatar">
                    <img class="avatar" *ngIf="!video.user.avatar"
                         [src]="'assets/img/default-user.png'">
                    <div>
                        <p class="main-text-1">{{video.name}}</p>
                        <p class="main-text-2">{{video.user.full_name}}</p>
                        <p class="main-text-3">17k watching</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
