@import 'variables';

.chat-content {
    height: 100%;
    margin-left: 20px;

    #chat-placeholder {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #545454;
        font-size: 12px;
        padding: 10px
    }

    .chat-information {
        max-height: 400px;
        overflow-y: scroll;

        .chat-block{
            .avatar{
                width: 24px !important;
                height: 24px !important;
            }
            .chat-block-1,
            .chat-block-2 {
                max-width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        }
    }

    .selectable {
        cursor: pointer;
    }

    .selected {
        border: 1px solid $red;
    }
}
