<div class="start-live-video-page">
    <div class="text">
        <h1>Start live video</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata</p>
        <button class="btn" (click)="startLiveVideo()"><span class="material-icons"> video_call </span>Start live
            video
        </button>
    </div>
</div>
