<div class="profile-list">
    <app-categories></app-categories>
    <ng-container *ngIf="channelUser">

        <div class="profile-block">
            <div [hidden]="true" *ngIf="channelUser.username === authUser.username">
                <input type="file" id="cover-image-input" (change)="coverChangeEvent($event)"/>
                <ngx-photo-editor
                    [imageChanedEvent]="coverChangedEvent"
                    (imageCropped)="coverCropped($event)"
                    [autoCrop]="false"
                    [viewMode]="3"></ngx-photo-editor>
            </div>
            <label for="cover-image-input">
                <img
                    [src]="channelUser.cover? apiUrl + 'uploads/covers/' + channelUser.cover:'assets/img/default-thumbnail.png'"
                    id="cover-image">
            </label>
        </div>

        <div class="sub-block">
            <div class="d-flex align-items-center">
                <label for="profile-image-input">
                    <img class="avatar list-img" *ngIf="channelUser.avatar"
                         [src]="apiUrl+'uploads/avatars/'+channelUser.avatar">
                    <img class="avatar" *ngIf="!channelUser.avatar"
                         [src]="'assets/img/default-user.png'" id="profile-image">
                </label>
                <div [hidden]="true" *ngIf="this.channelUser.username === this.authUser.username">
                    <input type="file" id="profile-image-input" (change)="profileChangeEvent($event)"/>
                    <ngx-photo-editor
                        [imageChanedEvent]="profileChangedEvent"
                        (imageCropped)="profileCropped($event)"
                        [aspectRatio]="4/3"
                        [viewMode]="1"
                        [resizeToWidth]="500"></ngx-photo-editor>

                </div>
                <div>
                    <p class="main-text-1">{{channelUser.channel.name}}</p>
                    <p class="main-text-4">{{subscribersCount + ' subscriber' + (subscribersCount === 1 ? '' : 's')}} </p>
                </div>
            </div>
            <div class="d-flex align-items-center" *ngIf="channelUser.username !== authUser.username">
                <i class="sub-bell fas fa-bell"></i>
                <a class="subscribe-btn" *ngIf="!subscribedToChannel" (click)="subscribeToChannel(channelUser.channel)">Subscribe</a>
                <a class="subscribe-btn subscribed" *ngIf="subscribedToChannel"
                   (click)="subscribeToChannel(channelUser.channel)">Subscribed</a>
            </div>
        </div>
        <div class="watchlist pWatchlist">
            <div class="profile-list user-profile-block">
                <ul class="nav nav-tabs" id="profileList" role="tablist">
                    <li class="nav-item" *ngFor="let tab of allTabs">
                        <a class="nav-link" [class.active]="tab === activeTab" id="{{tab.link}}-tab"
                           (click)="changeActiveTab(tab)" data-toggle="tab" href="#{{tab.link}}" role="tab"
                           aria-controls="pWatch"
                           aria-selected="true">{{tab.name}}</a>
                    </li>
                </ul>
                <form [formGroup]="searchVideosForm">
                    <div class="watchlist-search">
                        <input class="watchlist-input" placeholder="Search" formControlName="search"
                               (keyup.enter)="searchVideos()">
                        <i class="fas fa-search"></i>
                    </div>
                </form>
            </div>

            <ng-container *ngIf="activeTab.name === 'Watchlist'">
                <ng-container *ngFor="let videoList of watchlistVideos">
                    <ng-container *ngIf="videoList.videos.length > 0">

                        <p class="trending-text">{{videoList.full_name}}</p>
                        <owl-carousel-o [options]="owlOptions">
                            <ng-container *ngFor="let video of videoList.videos">
                                <ng-template carouselSlide>
                                    <div class="item main-carousel-item"
                                         (click)="openVideoPage(video, videoList.username)">
                                        <img class="main-item-img" *ngIf="video.thumbnail"
                                             [src]="apiUrl+'uploads/thumbnails/'+video.thumbnail">
                                        <img class="main-item-img" *ngIf="!video.thumbnail"
                                             [src]="'assets/img/video-thumbnail-default.png'">
                                        <span class="live-now" *ngIf="video.status==='live'">Live now</span>
                                        <div class="main-item-block">
                                            <img class="avatar" *ngIf="videoList.avatar"
                                                 [src]="apiUrl+'uploads/avatars/'+videoList.avatar">
                                            <img class="avatar" *ngIf="!videoList.avatar"
                                                 [src]="'assets/img/default-user.png'">
                                            <div>
                                                <p class="main-text-1">{{video.name}}</p>
                                                <p class="main-text-2">{{videoList.full_name}}</p>
                                                <p class="main-text-3">17k watching</p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="activeTab.name === 'Videos'">
                <p class="trending-text">Recent videos</p>
                <owl-carousel-o>
                    <ng-container *ngFor="let video of currentUser.videos">
                        <ng-template carouselSlide>
                            <div class="item main-carousel-item" (click)="openVideoPage(video, authUser.username)">
                                <img class="main-item-img" src="assets/img/video-thumbnail-default.png"
                                     *ngIf="!video.thumbnail || video.thumbnail==='undefined'">
                                <img class="main-item-img" src="{{apiUrl+'uploads/thumbnails/'+video.thumbnail}}"
                                     *ngIf="video.thumbnail && video.thumbnail!=='undefined'">
                                <div class="main-item-block">
                                    <img class="avatar" *ngIf="authUser.avatar"
                                         [src]="apiUrl + 'uploads/avatars/' + authUser.avatar">
                                    <img class="avatar" *ngIf="!authUser.avatar"
                                         [src]="'assets/img/default-user.png'">
                                    <div>
                                        <p class="main-text-1">{{video.name}}</p>
                                        <p class="main-text-2">{{authUser.full_name}}</p>
                                        <p class="main-text-3">17k watching</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </ng-container>
        </div>
    </ng-container>
    <div class="channel-not-found" *ngIf="!channelUser">
        <p>Channel with such name is not found</p>
    </div>
</div>
