.profile-block {
    label {
        width: 100%;
    }
}

.subscribed {
    background-color: #D6D6D6 !important;
}

#channel-about-form {
    width: 50%;

    #description, textarea {
        width: 100%;
    }

    textarea {
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 0 6px #0000000F;
        border: none;
        resize: none;
        height: 200px;
    }

    textarea:focus {
        border: none;
        outline: none;
        box-shadow: 0 0 6px #18B587;
    }

    button {
        width: 88px;
        height: 36px;
        background: #F53C6F;
        font-family: "Muli-Light";
        font-size: 16px;
        color: white !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
        cursor: pointer;
        float: right;
    }
}


.playlist-tab {
    .new-playlist {
        background: #18B587;
        border-radius: 0;
        color: #fff;
        padding: 8px 24px;
    }


    table {
        display: table;
        margin: 24px 0;
        width: 100%;
        //border: 1px solid #C9C9C9;
        tr {
            display: table-row;


            &:last-child {
                //border-right: 1px solid #C9C9C9;
                .td {
                    border-bottom: 0;
                }
            }

            td {
                cursor: pointer;
            }

            td, th {
                display: table-cell;
                vertical-align: middle;
                color: #545454;
                font-family: "Muli-Bold";
                font-size: 16px;
                padding: 12px 0;
                // border-bottom: 1px solid #C9C9C9;
                // border-right: 1px solid #C9C9C9;
                &:last-child {
                    //border-right: 0;
                    .material-icons {
                        margin: 0;
                    }
                }

                .material-icons {
                    margin-right: 12px;
                    vertical-align: middle;
                    cursor: pointer;
                }

                .img-info {
                    display: flex;

                    img {
                        width: 144px;
                    }

                    .info {
                        margin-left: 24px;

                        h3 {
                            font-size: 16px;
                            font-family: "Muli-Bold";
                        }

                        p {
                            max-width: 240px;
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

