@import 'variables';
@import "mixins";


.profile-block {
    label {
        width: 100%;
    }
}


.search-wrapper {
    display: flex;
    max-width: min-content;

    .right-side {
        display: flex;
    }
}

#search-videos-form {
    display: flex;

    .toggle-filters-btn {
        display: flex;
        margin-right: 20px;
        padding-top: 4px;
        height: 31px;

        .filter-toggle-btn {
            background-color: unset;
            height: 23px;
        }
    }


    .filters-active {
        background-color: $green !important;
        color: $white;
    }
}


.open-add-stock-modal {
    display: flex;
    align-items: center;
    height: 31px;
    margin-right: 20px;

    button {
        background-color: unset;
        height: 23px
    }
}

#channel-tabs-list {
    width: 624px;
    @media (max-width: 991px) {
        max-width: 624px;
        width: 100%;
    }
}
