
<ul class="categories border-none">
    <li><a class="active">Recommendations</a></li>
    <li><a>Today's picks</a></li>
    <li><a>AAPL</a></li>
    <li><a>Phil Ramerez</a></li>
    <li><a>True Money</a></li>
    <li><a>PICK 4</a></li>
    <li><a>Synergy fusion</a></li>
    <li><a>Sunshine trading stream</a></li>
    <li><a>Shot stocks</a></li>
    <li><a>SMP</a></li>
    <li><a>Strategy for U</a></li>
    <li><a>Automotive</a></li>
</ul>
<div class="chat-wrap">
    <div class="people-list">
        <div class="tab-wrap">
            <button class="tab" [class.active]="activeTab=='direct'" (click)="changeTab('direct')">Chat</button>
            <button class="tab" [class.active]="activeTab=='group'" (click)="changeTab('group')">Group</button>
        </div>
        <div *ngIf="activeTab=='direct'" class="list-wrap">

            <ul class="list">
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li class="active">
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="text">
                        <div class="name">Name</div>
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="activeTab=='group'" class="list-wrap">
            <h1>OK</h1>
        </div>
    </div>


    <div class="chat" *ngIf="activeTab=='direct'" >
        <div class="chat-about">
            <div class="left">
                <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                <div class="name">Full Name</div>
            </div>
            <div class="right">
                <div class="remove"><a href=""><i class="fas fa-trash"></i></a></div>
                <div class="dotes"><a href=""><i class="fas fa-ellipsis-v"></i></a></div>
            </div>
        </div>

        <ul class="chat-history">

            <li class="data_list"><span>Wednesday, February 5th</span></li>

            <li class="other-message">
                <div class="message-data">
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="name">Full Name</div>
                    <div class="date">15։12</div>
                </div>
                <div class="message">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </div>
            </li>

            <li class="my-message">
                <div class="message-data">
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="name">Full Name</div>
                    <div class="date">15։12</div>
                </div>
                <div class="message">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </div>
            </li>
            <li class="other-message">
                <div class="message-data">
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="name">Full Name</div>
                    <div class="date">15։12</div>
                </div>
                <div class="message">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </div>
            </li>

            <li class="my-message">
                <div class="message-data">
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="name">Full Name</div>
                    <div class="date">15։12</div>
                </div>
                <div class="message">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr
                </div>
            </li>
            <li class="other-message">
                <div class="message-data">
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="name">Full Name</div>
                    <div class="date">15։12</div>
                </div>
                <div class="message">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </div>
            </li>

            <li class="my-message">
                <div class="message-data">
                    <div class="img" style="background-image: url(assets/img/item-1.png); "></div>
                    <div class="name">Full Name</div>
                    <div class="date">15։12</div>
                </div>
                <div class="message">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </div>
            </li>

        </ul>

        <div class="chat-message">
            <input type="text" placeholder="Type your message">
            <div class="icons">
                <a href=""><img src="assets/img/gif-24px.svg" alt=""></a>
                <a href=""><img src="assets/img/mood-24px.svg" alt=""></a>
                <a href=""><img src="assets/img/send-24px.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="chat" *ngIf="activeTab=='group'">
        <span>Group chat name</span>
    </div>
</div>
