<app-user-tags></app-user-tags>
<div *ngIf="authUser">
    <div class="tab-wrap">
        <button class="tab" [class.active]="activeTab=='direct'" (click)="changeTab('direct')">Chat</button>
        <button class="tab" [class.active]="activeTab=='group'" (click)="changeTab('group')">Group Chat</button>
    </div>
    <app-direct-chat *ngIf="activeTab==='direct' && authUser" [authUser]="authUser"></app-direct-chat>
    <app-group-chat *ngIf="activeTab=='group' && groupsLoaded && authUser" [groups]="chatGroups" [authUser]="authUser" (groupRemoved)="getGroups()"></app-group-chat>

</div>
