@import 'mixins';

#regular-video-list-container{
    .shortened-description{
        -webkit-line-clamp: 4;
    }
}

 .playlist-container {
    display: flex;
    margin-bottom: 30px;

    .thumbnail {
        position: relative;
    }

    .details {
        padding-left: 32px;
        max-width: 310px;
    }

    @media screen and (max-width: 1022px) {
        flex-direction: column;
        .thumbnail {
            max-width: 432px;
            width: 100%;
        }
        .details {
            padding-left: 0;
            margin-top: 8px;
        }
    }
}
