@import "variables";

.stripe-card-container {
    width: 100%;
    max-width: 360px;

    .StripeElement {
        box-shadow: unset !important;
    }

    .field-row {
        margin: 20px 0;
        display: flex;
        align-items: center;

        button {
            width: 88px;
            height: 36px;
            font-family: "Muli-Light", sans-serif;
            font-size: 16px;
            color: #fff !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 16px;
            margin-right: 16px;
            cursor: pointer;
        }

        .save-card {
            background-color: $metl-green;
        }

        .back {
            background-color: #C9C9C9;
        }
    }
}
