form {
    textarea {
        resize: none;
    }
}

.avatar-author-name {
    min-width: 120px;
    height: 26px;
    background-color: #777;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments-like {
    color: #777;

    .fa {
        cursor: pointer;
    }
}

.comments-title {
    color: #0e9d6a;
    cursor: pointer;
}

.content-editable-textarea {
    flex: 1;

    &:focus {
        outline: none;
    }

    &.focused-border {
        border-bottom: 2px solid #18B587 !important;
    }
}

.btn.enter {
    background-color: #777;
    color: white;
    text-transform: uppercase;
}

.btn.text-btn {
    outline: none;
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
}
