form {
    textarea {
        resize: none;
    }
}
.avatar-author-name {
    min-width: 120px;
    height: 26px;
    background-color: #777;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.comments-like {
    color: #ccc;
    .fa {
        cursor: pointer;
    }
}
.comments-title {
    color: #0e9d6a;
    cursor: pointer;
}
.contenteditable-textarea {
    flex: 1;
    &:focus {
        outline: none;
    }
}
.btn.enter {
    background-color: #ccc;
    color: white;
    text-transform: uppercase;
}
.btn.text-btn{
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
}
