.session-container {
  height: 100vh;
}

#img-div {
  text-align: center;

  img {
    height: 200px;
  }
}

.join-session-btn {
  background-color: #18B587;
  width: 25%;
  margin-top: 33px;
  border: none;
}

#video-chat-container {
  display: flex;
  position: relative;
}


#streaming-not-started-yet {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Muli-Light";
  background: #EFEFEF;
}

.stream-container {
  overflow: hidden;
}

#start-streaming-form {
  > div {
    margin: 20px;

    > input, textarea {
      width: 100%;
    }
  }

  #video-name {
    border: 1px solid silver;
  }

  #video-tags {
    mat-form-field {
      width: 100%;
    }
  }

  .actions {
    text-align: center;
  }
}
