<button (click)="testSession()">Test session</button>

<ng-container *ngIf="session">
  <div id="video-chat-container" *ngIf="openViduToken">
      <ng-container *ngFor="let sub of subscribers">
        <p>{{userNickname}}</p>
    <app-vjs-player [options]="videoJSPlayerOptions" *ngIf="watcher"></app-vjs-player>
<!--    <video #target class="video-js" controls muted playsinline preload="none"></video>-->
    <app-video-js-record [openViduToken]="openViduToken" *ngIf="!watcher"></app-video-js-record>
    <app-chat-box [openViduToken]="openViduToken" [session]="session"
                  (sendMessage)="sendMessage($event)"></app-chat-box>
      </ng-container>
  </div>
</ng-container>

<div id="main-container" class="container">
  <div *ngIf="!session" id="join-form">
    <div id="img-div"><img src="assets/img/openvidu_grey_bg_transp_cropped.png"/></div>
    <div id="join-dialog" class="jumbotron vertical-center">
      <h1>Join a video session</h1>
      <form class="form-group" [formGroup]="joinSessionForm">
        <p>
          <label>Session</label>
          <input class="form-control" id="userName" formControlName="mySessionId" required>
        </p>
        <p>
          <label>Participant</label>
          <input class="form-control" id="sessionId" formControlName="myUserName" required>
        </p>
        <p class="text-center">
          <button class="btn btn-lg btn-success join-session-btn" type="button" (click)="joinSession()">Join!</button>
        </p>
      </form>
    </div>
  </div>

    <ng-container *ngIf="session">
<!--      <app-video-js-record [openViduToken]="openViduToken" *ngIf="!watcher"></app-video-js-record>-->
      <div *ngFor="let sub of subscribers" class="stream-container col-md-6 col-xs-6">
        <app-user-video [streamManager]="sub" (click)="updateMainStreamManager(sub)"></app-user-video>
      </div>
    </ng-container>
</div>
