<!-- Shown when session connected -->
<ng-container *ngIf="session">
    <div id="video-chat-container" *ngIf="openViduToken">

        <!-- Publisher video recording interface -->
        <ng-container *ngIf="!watcher">
            <div class="video-container">
                <app-video-js-record [openViduToken]="openViduToken" [thumbnailFile]="thumbnailFile"
                                     [videoSettings]="videoSettings"></app-video-js-record>
            </div>
            <app-chat-box [openViduToken]="openViduToken" [session]="session"
                          (sendMessage)="sendMessage($event)" [videoRecordingState]="recordingState"></app-chat-box>
        </ng-container>

        <!-- Subscriber video watching interface -->
        <ng-container *ngIf="watcher">

            <!-- Default screen when streaming not started -->
            <ng-container *ngIf="recordingState === 'idle'">

                <div id="streaming-not-started-yet">
                    <p>The video streaming session has not been started yet</p>
                </div>
                <app-chat-box [openViduToken]="openViduToken" [session]="session"
                              [videoRecordingState]="recordingState"
                              (sendMessage)="sendMessage($event)"></app-chat-box>
            </ng-container>

            <!-- Streaming started -->
            <ng-container *ngIf="recordingState != 'idle'">
                <div *ngFor="let sub of subscribers" class="stream-container col-md-6 col-xs-6">
                    <div class="video-container">
                        <app-user-video [streamManager]="sub" (click)="updateMainStreamManager(sub)"></app-user-video>
                    </div>
                </div>
                <app-chat-box [openViduToken]="openViduToken" [session]="session" [videoRecordingState]="recordingState"
                              (sendMessage)="sendMessage($event)"></app-chat-box>
            </ng-container>


        </ng-container>
    </div>
    <ng-container *ngIf="session">
        <i class="fa fa-users"></i>{{participants.length}}
        <ul>
            <li *ngFor="let participant of participants">{{participant}}</li>
        </ul>
    </ng-container>
</ng-container>

<!-- Showing start-streaming or join-streaming forms based on user role -->
<div id="main-container" class="container" *ngIf="!session">
    <ng-container *ngIf="!welcomedUser && !watcher">
        <button (click)="greetUser()">Start live video</button>
    </ng-container>
    <app-start-streaming-form *ngIf="!watcher && welcomedUser" (formReady)="getPublisherData($event)"></app-start-streaming-form>
    <app-join-streaming-form *ngIf="watcher && welcomedUser" (formReady)="getWatcherData($event)"></app-join-streaming-form>
</div>
