.session-container {
    height: 100vh;
}

#img-div {
    text-align: center;

    img {
        height: 200px;
    }
}

.join-session-btn {
    background-color: #18B587;
    width: 25%;
    margin-top: 33px;
    border: none;
}

#video-chat-container {
    display: flex;

    .video-container {
        flex: 1;
        display: flex;
    }

    app-video-js-record {
        flex: 1;

        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 60%;
    }
}


#streaming-not-started-yet {
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Muli-Light";
    background: #EFEFEF;
}

.stream-container {
    overflow: hidden;
}

.start-live-video-page{
    display: flex;
    justify-content: flex-end;
    max-width: 810px;
    margin: 160px auto 0;
    padding: 144px 0px 80px 280px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    .text{
        max-width: 532px;
    }
    h1{
      font-size: 24px;
      color: #18B587;
    }

    p{
        margin-top: 16px;
        margin-bottom: 0;
        font-size: 16px;
        color: #545454;
    }

    .btn{
        margin-top: 24px;
        padding: 8px 32px 8px 32px;
        display: flex;
        align-items: center;
        background: #F53C6F;
        font-size: 16px;
        color: #ffffff;
        border-radius: 0;
        transition: 0.3s ease-in-out;
        span{
            margin-right: 8px;
        }
    }
  }
