<!--<button (click)="testSession()">Test session</button>-->

<ng-container *ngIf="session">
  <div id="video-chat-container" *ngIf="openViduToken">
    <!--  <ng-container *ngFor="let sub of subscribers">-->
    <!--    <p>{{userNickname}}</p>-->
    <ng-container *ngIf="watcher">
<!--      <app-vjs-player [options]="videoJSPlayerOptions"></app-vjs-player>-->
<!--      <app-chat-box [openViduToken]="openViduToken" [session]="session"-->
<!--                    (sendMessage)="sendMessage($event)"></app-chat-box>-->
      <ng-container *ngIf="session">
        <ng-container *ngIf="recordingStarted">


          <!--      <app-video-js-record [openViduToken]="openViduToken" *ngIf="!watcher"></app-video-js-record>-->
          <div *ngFor="let sub of subscribers" class="stream-container col-md-6 col-xs-6">
            <app-user-video [streamManager]="sub" (click)="updateMainStreamManager(sub)"></app-user-video>
            <app-chat-box [openViduToken]="openViduToken" [session]="session"
                          (sendMessage)="sendMessage($event)"></app-chat-box>
          </div>
        </ng-container>
        <div id="streaming-not-started-yet">
          <p>The session video streaming has not been started yet</p>
        </div>
      </ng-container>
    </ng-container>
    <!--    <video #target class="video-js" controls muted playsinline preload="none"></video>-->
    <ng-container *ngIf="!watcher">
      <app-video-js-record [openViduToken]="openViduToken"></app-video-js-record>
      <app-chat-box [openViduToken]="openViduToken" [session]="session"
                    (sendMessage)="sendMessage($event)"></app-chat-box>
    </ng-container>
    <!--  </ng-container>-->
  </div>
</ng-container>

<div id="main-container" class="container">
  <div *ngIf="!session" id="join-form">
    <div id="img-div"><img src="assets/img/openvidu_grey_bg_transp_cropped.png"/></div>
    <div id="join-dialog" class="jumbotron vertical-center">
      <h1>Join a video session</h1>
      <form class="form-group" [formGroup]="joinSessionForm">
        <p>
          <label>Session</label>
          <input class="form-control" id="userName" formControlName="mySessionId" required>
        </p>
        <p>
          <label>Participant</label>
          <input class="form-control" id="sessionId" formControlName="myUserName" required>
        </p>
        <p class="text-center">
          <button class="btn btn-lg btn-success join-session-btn" type="button" (click)="joinSession()">Join!</button>
        </p>
      </form>
    </div>
  </div>


</div>
