<div class="placeholder-list-container d-flex justify-content-center justify-content-lg-start flex-wrap"
     *ngIf="videos?.length === 0 && videoLoading!='finished'">
    <div class="ph-item item mx-2 ml-lg-0  mr-lg-4" *ngFor="let placeholder of [1,2,3,4,5,6,7,8,9]">
        <div class="ph-col-12">
            <div class="ph-picture"></div>

            <div class="ph-row align-items-start">
                <div class="ph-avatar mr-3"></div>
                <div class="ph-col-4">
                    <div class="ph-col-2"></div>
                    <div class="ph-row mt-2">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8"></div>
                    </div>
                    <div class="ph-col-2"></div>
                </div>
                <div class="ph-col-4 empty"></div>
                <div class="ph-col-2"></div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="videos?.length > 0">
    <p class="trending-text">{{title}}</p>

    <div class="list-container d-flex justify-content-center justify-content-lg-start flex-wrap">
        <ng-container *ngFor="let video of videos">
            <div class="item mx-2 ml-lg-0  mr-lg-4" [class.one-item]="isSmallScreen(videos.length)">


                <ng-container
                    [ngTemplateOutlet]="itemTemplate"
                    [ngTemplateOutletContext]="{details: detailsSource || video.user}">
                </ng-container>

                <ng-template let-d="details" #itemTemplate>
                    <div class="thumbnail" (click)="openVideoPage(video, d.username)">
                        <!--                        <img class="thumbnail-image" [lazyload]="video.thumbnail|getImgPath">-->
                        <img class="thumbnail-image" [src]="video.thumbnail|getImgPath">
                        <span class="live-now" *ngIf="video.status==='live'">Live now</span>
                        <span class="duration">{{video.duration}}</span>
                    </div>
                    <div class="main-item-block video-info">

                        <div class="left-side">

                            <!--                            <img class="avatar" [lazyload]="d?.channel?.avatar|getImgPath: 'avatars'">-->
                            <img class="avatar" [src]="d?.channel?.avatar|getImgPath: 'avatars'">
                            <div>
                                <p class="main-text-1">{{video.name}}</p>
                                <p class="main-text-2" (click)="openChannelPage(d.username)">{{d?.channel.name}}</p>
                                <div class="shortened-details">
                                    <span class="watchers-count main-text-3">
                                        {{video.status === 'live' ? '17k watching' : video.views + ' view' + (video.views === 1 ? '' : 's')}}
                                    </span>
                                    <span class="dot">&middot;</span>
                                    <span class="upload-time">{{video.created_at| dateFromNow}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="right-side">
                            <ul>
                                <li *ngFor="let tag of video?.tags" (click)="getVideosByTag(tag.name)">
                                    <span>{{tag.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="remove-video" *ngIf="removable">
                        <mat-icon (click)="removeVideo(video)">delete</mat-icon>
                    </div>
                </ng-template>


            </div>
        </ng-container>
    </div>
</ng-container>
