<ul class="categories">
  <li><a class="active">Recommendations</a></li>
  <li><a>Today's picks</a></li>
  <li><a>AAPL</a></li>
  <li><a>Phil Ramerez</a></li>
  <li><a>True Money</a></li>
  <li><a>PICK 4</a></li>
  <li><a>Synergy fusion</a></li>
  <li><a>Sunshine trading stream</a></li>
  <li><a>Shot stocks</a></li>
  <li><a>SMP</a></li>
  <li><a>Strategy for U</a></li>
  <li><a>Automotive</a></li>
</ul>
<div class="profile-block">
  <img src="assets/img/profile.png">
</div>
<div class="sub-block">
  <div class="d-flex align-items-center">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">David Blaine</p>
      <p class="main-text-4">83,7 subscribers</p>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <i class="sub-bell fas fa-bell"></i>
    <a class="subscribe-btn">Subscribe</a>
  </div>
</div>
<div class="watchlist pWatchlist">
  <div class="profile-list">
    <ul class="nav nav-tabs" id="profileList" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pWatch-tab" data-toggle="tab" href="#pWatch" role="tab" aria-controls="pWatch"
           aria-selected="true">Watchlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pVideos-tab" data-toggle="tab" href="#pVideos" role="tab" aria-controls="pVideos"
           aria-selected="false">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pPlaylists-tab" data-toggle="tab" href="#pPlaylists" role="tab"
           aria-controls="pPlaylists" aria-selected="false">Playlists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pStore-tab" data-toggle="tab" href="#pStore" role="tab" aria-controls="pStore"
           aria-selected="false">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pAbout-tab" data-toggle="tab" href="#pAbout" role="tab" aria-controls="pAbout"
           aria-selected="false">About</a>
      </li>
    </ul>
    <div class="watchlist-search">
      <input class="watchlist-input" placeholder="Search">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <div class="tab-content" id="profileListContent">
    <div class="tab-pane fade show active" id="pWatch" role="tabpanel" aria-labelledby="pWatch-tab">
      <div class="watchlist-analytics">

        <ng-container *ngFor="let owlItem of owlTextsArray">
          <p class="trending-text">{{owlItem.name}}</p>
          <owl-carousel-o [options]="owlOptions">
            <ng-container *ngFor="let item of [0,1,2,3]">
              <ng-template carouselSlide>
                <div class="item main-carousel-item">
                  <img class="main-item-img" src="assets/img/item-1.png">
                  <span class="live-now">Live now</span>
                  <div class="main-item-block">
                    <img class="main-item-block-img" src="assets/img/item-4.png">
                    <div>
                      <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
                      <p class="main-text-2">Fox News</p>
                      <p class="main-text-3">17k watching</p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </ng-container>
      </div>
    </div>
    <div class="tab-pane fade" id="pVideos" role="tabpanel" aria-labelledby="pVideos-tab">
      <p class="trending-text">Trending CLIPZ</p>
      <div class="owl-carousel owl-theme main-carousel">
        <div class="item main-carousel-item">
          <img class="main-item-img" src="assets/img/item-1.png">
          <span class="live-now">Live now</span>
          <div class="main-item-block">
            <img class="main-item-block-img" src="assets/img/item-4.png">
            <div>
              <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
              <p class="main-text-2">Fox News</p>
              <p class="main-text-3">17k watching</p>
            </div>
          </div>
        </div>
        <div class="item main-carousel-item">
          <img class="main-item-img" src="assets/img/item-2.png">
          <span class="live-now">Live now</span>
          <div class="main-item-block">
            <img class="main-item-block-img" src="assets/img/item-4.png">
            <div>
              <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
              <p class="main-text-2">Fox News</p>
              <p class="main-text-3">17k watching</p>
            </div>
          </div>
        </div>
        <div class="item main-carousel-item">
          <img class="main-item-img" src="assets/img/item-3.png">
          <span class="live-now">Live now</span>
          <div class="main-item-block">
            <img class="main-item-block-img" src="assets/img/item-4.png">
            <div>
              <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
              <p class="main-text-2">Fox News</p>
              <p class="main-text-3">17k watching</p>
            </div>
          </div>
        </div>
        <div class="item main-carousel-item">
          <img class="main-item-img" src="assets/img/item-1.png">
          <span class="live-now">Live now</span>
          <div class="main-item-block">
            <img class="main-item-block-img" src="assets/img/item-4.png">
            <div>
              <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
              <p class="main-text-2">Fox News</p>
              <p class="main-text-3">17k watching</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pPlaylists" role="tabpanel" aria-labelledby="pPlaylists-tab">333</div>
    <div class="tab-pane fade" id="pStore" role="tabpanel" aria-labelledby="pStore-tab">
      <p class="trending-text">Trending Streams</p>
      <div class="owl-carousel owl-theme main-carousel">
        <div class="item main-carousel-item">
          <img class="main-item-img" src="assets/img/item-1.png">
          <span class="live-now">Live now</span>
          <div class="main-item-block">
            <img class="main-item-block-img" src="assets/img/item-4.png">
            <div>
              <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
              <p class="main-text-2">Fox News</p>
              <p class="main-text-3">17k watching</p>
            </div>
          </div>
        </div>
        <div class="item main-carousel-item">
          <img class="main-item-img" src="assets/img/item-2.png">
          <span class="live-now">Live now</span>
          <div class="main-item-block">
            <img class="main-item-block-img" src="assets/img/item-4.png">
            <div>
              <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
              <p class="main-text-2">Fox News</p>
              <p class="main-text-3">17k watching</p>
            </div>
          </div>
        </div>
        <div class="item main-carousel-item">
          <img class="main-item-img" src="assets/img/item-3.png">
          <span class="live-now">Live now</span>
          <div class="main-item-block">
            <img class="main-item-block-img" src="assets/img/item-4.png">
            <div>
              <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
              <p class="main-text-2">Fox News</p>
              <p class="main-text-3">17k watching</p>
            </div>
          </div>
        </div>
        <div class="item main-carousel-item">
          <img class="main-item-img" src="assets/img/item-1.png">
          <span class="live-now">Live now</span>
          <div class="main-item-block">
            <img class="main-item-block-img" src="assets/img/item-4.png">
            <div>
              <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
              <p class="main-text-2">Fox News</p>
              <p class="main-text-3">17k watching</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pAbout" role="tabpanel" aria-labelledby="pAbout-tab">555</div>
  </div>
</div>
