<hr>
<div class="d-flex align-items-center">
    <div class="mr-3 form-group">
        <label for="start2">Start</label>
        <input type="datetime-local" id="start2" class="form-control">
    </div>
    <div class="mr-3 form-group">
        <label for="end2">End</label>
        <input type="datetime-local" id="end2" class="form-control">
    </div>
</div>
<table class="table border my-4">
    <thead class="thead-light">
    <tr>
        <th class="color-red">
            <div class="d-flex align-items-center">
                <span>Date</span>
                <div class="d-flex flex-column ml-5">
                    <i class="fas fa-angle-up lh-10"></i>
                    <i class="fas fa-angle-down lh-10"></i>
                </div>
            </div>
        </th>
        <th>Amount Submitted</th>
        <th>Payment Method</th>
        <th class="color-red">Status</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Nov 29, 2018</td>
        <td>USD 109.04</td>
        <td>**** **** **** 56 56</td>
        <td>Rejected</td>
        <td></td>
        <td><i class="fas fa-angle-right color-red"></i></td>
    </tr>
    <tr>
        <td>Nov 29, 2018</td>
        <td>USD 109.04</td>
        <td>**** **** **** 56 56</td>
        <td>Rejected</td>
        <td></td>
        <td><i class="fas fa-angle-right color-red"></i></td>
    </tr>
    <tr>
        <td>Nov 29, 2018</td>
        <td>USD 109.04</td>
        <td>**** **** **** 56 56</td>
        <td>Rejected</td>
        <td></td>
        <td><i class="fas fa-angle-right color-red"></i></td>
    </tr>
    <tr>
        <td>Nov 29, 2018</td>
        <td>USD 109.04</td>
        <td>**** **** **** 56 56</td>
        <td>Rejected</td>
        <td></td>
        <td><i class="fas fa-angle-right color-red"></i></td>
    </tr>
    <tr>
        <td>Nov 29, 2018</td>
        <td>USD 109.04</td>
        <td>**** **** **** 56 56</td>
        <td>Rejected</td>
        <td>
            <a href="" class="red-small-text d-flex align-items-center">
                <img src="assets/img/pdf%20(1).svg" alt="">
                <small class="ml-2">Download <br> confirmation </small>
            </a>
        </td>
        <td><i class="fas fa-angle-right color-red"></i></td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
        </li>
    </ul>
</nav>
