<div class="comments-container" *ngIf="videoComments.length > 0">
    <ng-container *ngFor="let c of videoComments">
        <div class="comment d-flex mt-4">
            <div class="left-group" [class.w-100]="editComment">
                <ng-container *ngIf="(c.id!==selectedComment?.id && !showReplyForm)|| showReplyForm || !editComment">
                    <img class="avatar" [src]="c.user?.channel.avatar|getImgPath:'avatars'">
                    <div class="details">
                        <div class="d-flex align-items-center flex-wrap mb-2">
                            <div class="mr-3 user-name" [class.author.px-2]="isAuthor(c)">
                                {{c?.user?.full_name}} <i class="fas fa-check-circle ml-1" *ngIf="isAuthor(c)"></i>
                            </div>
                            <div class="comment-date">{{c.created_at | dateFromNow}}</div>
                        </div>

                        <div class="comment-text mb-2" [innerHTML]="c.comment">
                        </div>
                        <div class="likes-reply">
                            <div class="comments-like mb-2">
                                <i class="fa fa-thumbs-up mr-1" (click)="likeDislikeComment(c)"
                                   [class.liked]="checkUserCommentConnection(c)?.liked"></i>
                                <span class="likes-count"> {{getLikersCount(c.reactors) }} </span>
                                <i class="fa fa-thumbs-down ml-3" (click)="likeDislikeComment(c, false)"
                                   [class.disliked]="checkUserCommentConnection(c)?.disliked"></i>
                            </div>
                            <div class="reply-container">
                                <span class="reply" (click)="selectComment(c, true)">Reply</span>
                                <div class="add-reply" *ngIf="showReplyForm && c.id===selectedComment.id">
                                    <app-video-comments-form [videoData]="videoData" [reply]="true"
                                                             [selectedComment]="selectedComment"
                                                             (added)="commentAdded($event)"
                                                             class="w-100"></app-video-comments-form>
                                </div>
                            </div>
                        </div>
                        <p class="replies-toggler mt-3" *ngIf="c.replies.length > 0"
                           (click)="toggleReplies(c)">
                            <mat-icon>expand_{{showReplies && selectedComment === c ? 'more' : 'less'}}</mat-icon>
                            <span>{{getRepliesTogglerText(c)}}</span>
                        </p>
                        <div class="replies" *ngIf="showReplies && selectedComment === c">
                            <ng-container *ngFor="let reply of c.replies">
                                <div class="d-flex mt-4 reply">
                                    <div class="left-group">
                                        <ng-container *ngIf="(reply.id!==selectedReply?.id) || !editReply">
                                            <img class="avatar" [src]="reply.user?.channel.avatar|getImgPath:'avatars'">
                                            <div class="details">
                                                <div class="d-flex align-items-center flex-wrap mb-2">
                                                    <div class="mr-3 user-name" [class.author.px-2]="isAuthor(reply)">
                                                        <span>{{reply?.user?.full_name}}</span>
                                                        <i class="fas fa-check-circle ml-1" *ngIf="isAuthor(reply)"></i>
                                                    </div>
                                                    <div class="comment-date">{{reply.created_at | dateFromNow}}</div>
                                                </div>
                                                <div class="comment-text mb-2" [innerHTML]="reply.comment">
                                                </div>
                                                <div class="likes-reply">
                                                    <div class="comments-like mb-2">
                                                        <i class="fa fa-thumbs-up mr-1"
                                                           (click)="likeDislikeComment(reply, true, c)"
                                                           [class.liked]="checkUserCommentConnection(reply)?.liked"></i>
                                                        <span
                                                            class="likes-count"> {{getLikersCount(reply.reactors) }} </span>
                                                        <i class="fa fa-thumbs-down ml-3"
                                                           (click)="likeDislikeComment(reply, false, c)"
                                                           [class.disliked]="checkUserCommentConnection(reply)?.disliked"></i>
                                                    </div>
                                                    <div class="reply-container">
                                                        <span class="reply" (click)="replyToReply(c, reply)">Reply</span>
                                                        <div class="add-reply"
                                                             *ngIf="showReplyToReplyForm && reply.id===selectedReply?.id">
                                                            <app-video-comments-form [videoData]="videoData"
                                                                                     [selectedReply]="selectedReply"
                                                                                     [selectedComment]="selectedComment"
                                                                                     [reply2Reply]="true"
                                                                                     (added)="commentAdded($event)"
                                                                                     class="w-100"></app-video-comments-form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="right-group">
                                        <app-comment-actions [comment]="reply"
                                                             *ngIf="isMyComment(reply) && !editReply"
                                                             (remove)="removeComment($event)"
                                                             (commentSelected)="selectComment($event, false,true)">
                                        </app-comment-actions>
                                    </div>

                                </div>

                                <app-video-comments-form [editComment]="true" [selectedComment]="selectedReply"
                                                         class="w-100" [isReplyComment]="true" [parentComment]="c"
                                                         *ngIf="editReply && reply.id===selectedReply.id"
                                                         (updated)="getUpdatedComments($event)"
                                                         (cancelled)="editReply = false"
                                                         [videoData]="videoData">
                                </app-video-comments-form>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <app-video-comments-form [editComment]="true" [selectedComment]="selectedComment" class="w-100"
                                         *ngIf="editComment && c.id===selectedComment.id"
                                         (updated)="getUpdatedComments($event)" (cancelled)="editComment = false"
                                         [videoData]="videoData">
                </app-video-comments-form>
            </div>
            <div class="right-group">
                <app-comment-actions [comment]="c" *ngIf="isMyComment(c) && !editComment"
                                     (remove)="removeComment($event)"
                                     (commentSelected)="selectComment($event)">
                </app-comment-actions>
            </div>
        </div>
    </ng-container>
</div>
