@import 'variables';

.comments-container {
    margin-top: 50px;

    .comment {
        & > .left-group {
            flex-direction: column;
        }

        .replies {
            margin-left: 70px;
        }
    }

    .comment, .reply {
        justify-content: space-between;

        .left-group {
            display: flex;
            width: 100%;
        }

        .right-group {

        }
    }
}




