.video-container {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 480px;
    position: relative;
}


.watermark {
    position: absolute;
    right: 3%;
    bottom: 13%;
    width: 12%;
    color: white;
}
