@import 'variables';

.groups-type-title {
    border-bottom: 1px solid $light_gray;
    margin: 20px;
}

ul {
    display: flex;

    .group-item-wrap {
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
            color: $metl-green;
        }

        img {
            width: 200px;
        }
    }
}
