@import 'variables';

#tags-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

    .right-group {
        display: flex;
        align-items: center;

        #video-tags {
            width: 250px;

            mat-form-field {
                width: 100%;
            }
        }

        #save-tags {
            background-color: $green;
            color: $white;
            display: flex;
            align-items: center;
            font-size: 16px;
            border-radius: 0;
            transition: 0.3s ease-in-out;
            margin-left: 30px;
            @media screen and (max-width: 767px){
                margin-left: 0;
            }
        }
    }
}
