<ul class="categories">
  <li><a class="active">Recommendations</a></li>
  <li><a>Today's picks</a></li>
  <li><a>AAPL</a></li>
  <li><a>Phil Ramerez</a></li>
  <li><a>True Money</a></li>
  <li><a>PICK 4</a></li>
  <li><a>Synergy fusion</a></li>
  <li><a>Sunshine trading stream</a></li>
  <li><a>Shot stocks</a></li>
  <li><a>SMP</a></li>
  <li><a>Strategy for U</a></li>
  <li><a>Automotive</a></li>
</ul>
<div class="ads-block">
  <div class="ads-block-left">
    <iframe width="100%" height="345" src="https://www.youtube.com/embed/yKhh4k4_seA">
    </iframe>
    <div class="main-tags">
      <div class="main-tags-text">
        <p>#STOCKS</p>
        <p>#INVESTING</p>
        <p>#HIGHGROWTH</p>
      </div>
      <div class="main-tags-like">
        <div class="main-tags-share">
          <i class="fas fa-thumbs-up"></i>
          <p>4.5k</p>
        </div>
        <div class="main-tags-share">
          <i class="fas fa-thumbs-down"></i>
          <p>4.5k</p>
        </div>
        <div class="main-tags-share">
          <i class="fas fa-share-alt"></i>
          <p>Share</p>
        </div>
        <div class="main-tags-share">
          <i class="fas fa-plus-square"></i>
          <p>Save</p>
        </div>
      </div>
    </div>
    <p class="ads-text-1">The top 7 stocks to buy in July 2020 (High Growth)</p>
    <p class="ads-text-2">175,000 views 3 years ago</p>
    <div class="main-item-block">
      <img class="list-img" src="assets/img/item-4.png">
      <div>
        <p class="main-text-1">Chillhop Music</p>
        <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
      </div>
    </div>
    <p class="ads-text-2"></p>
    <div class="ads-maps">
      <div>
        <canvas id="myChart"></canvas>
        <canvas id="myChart2"></canvas>
        <canvas id="myChart3"></canvas>
        <canvas id="myChart4"></canvas>
      </div>
    </div>
  </div>
  <div class="ads-block-right">
    <div class="chat-content">
      <div class="chat-title">
        <div class="dropdown">
          <div class="dropdown-toggle" id="dropdownChat" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
            Chat
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownChat">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <img src="assets/img/dotes.png">
      </div>
      <div class="chat-information">
        <div class="chat-block">
          <img src="assets/img/item-12.png">
          <p class="chat-block-1">Nickname</p>
          <p class="chat-block-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="chat-block">
          <img src="assets/img/item-12.png">
          <p class="chat-block-1">Nickname</p>
          <p class="chat-block-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="chat-block">
          <img src="assets/img/item-12.png">
          <p class="chat-block-1">Nickname</p>
          <p class="chat-block-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="chat-block">
          <img src="assets/img/item-12.png">
          <p class="chat-block-1">Nickname</p>
          <p class="chat-block-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="chat-block">
          <img src="assets/img/item-12.png">
          <p class="chat-block-1">Nickname</p>
          <p class="chat-block-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="chat-block">
          <img src="assets/img/item-12.png">
          <p class="chat-block-1">Nickname</p>
          <p class="chat-block-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="chat-block">
          <img src="assets/img/item-12.png">
          <p class="chat-block-1">Nickname</p>
          <p class="chat-block-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="chat-block">
          <img src="assets/img/item-12.png">
          <p class="chat-block-1">Nickname</p>
          <p class="chat-block-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
      </div>
      <div class="chat-footer">
        <input class="chat-input" placeholder="Comment">
        <div class="chat-footer-smile">
          <i class="fas fa-smile smile"></i>
          <div class="smile-block">
            <p class="smile">0/200</p>
            <i class="send fas fa-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="ads-info">
      <img src="assets/img/default.png">
      <div>
        <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
        <p class="main-text-2">Fox News</p>
        <p class="main-text-3">17k watching</p>
      </div>
    </div>
    <div class="ads-info">
      <img src="assets/img/default.png">
      <div>
        <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
        <p class="main-text-2">Fox News</p>
        <p class="main-text-3">17k watching</p>
      </div>
    </div>
    <div class="ads-info">
      <img src="assets/img/default.png">
      <div>
        <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
        <p class="main-text-2">Fox News</p>
        <p class="main-text-3">17k watching</p>
      </div>
    </div>
    <div class="ads-info">
      <img src="assets/img/default.png">
      <div>
        <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
        <p class="main-text-2">Fox News</p>
        <p class="main-text-3">17k watching</p>
      </div>
    </div>
    <div class="ads-info">
      <img src="assets/img/default.png">
      <div>
        <p class="main-text-1">Trump meets with Florida Sheriffs dsfdsc</p>
        <p class="main-text-2">Fox News</p>
        <p class="main-text-3">17k watching</p>
      </div>
    </div>
    <img class="ads" src="assets/img/ads.png">
    <img class="ads" src="assets/img/ads.png">
  </div>
</div>



