<div class="body-content-left">
  <div class="left-menu">
    <div class="left-menu-top">
      <img src="assets/img/item-5.png">
      <p>Home</p>
    </div>
    <div class="left-menu-main">
      <img src="assets/img/item-6.png">
      <p>Trendings</p>
    </div>
    <div class="left-menu-main">
      <img src="assets/img/item-7.png">
      <p>Subscriptions</p>
    </div>
    <div class="line-item"></div>
    <div class="left-menu-main">
      <img src="assets/img/item-8.png">
      <p>Chat</p>
    </div>
    <div class="left-menu-main">
      <img src="assets/img/item-9.png">
      <p>Stock Profile</p>
    </div>
    <div class="left-menu-main">
      <img src="assets/img/item-10.png">
      <p>Saved Videos</p>
    </div>
    <div class="left-menu-main">
      <img src="assets/img/item-11.png">
      <p>CLIPZ</p>
    </div>
  </div>
<div class="left-list">
  <p class="subscriptions-text">Subscriptions</p>
  <div class="main-item-block">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">Chillhop Music</p>
      <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
    </div>
  </div>
  <div class="main-item-block">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">Chillhop Music</p>
      <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
    </div>
  </div>
  <div class="main-item-block">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">Chillhop Music</p>
      <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
    </div>
  </div>
  <div class="main-item-block">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">Chillhop Music</p>
      <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
    </div>
  </div>
  <div class="main-item-block">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">Chillhop Music</p>
      <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
    </div>
  </div>
  <div class="main-item-block">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">Chillhop Music</p>
      <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
    </div>
  </div>
  <div class="main-item-block">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">Chillhop Music</p>
      <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
    </div>
  </div>
  <div class="main-item-block">
    <img class="list-img" src="assets/img/item-4.png">
    <div>
      <p class="main-text-1">Chillhop Music</p>
      <p class="main-text-4">Lorem ipsum dolor sit amet, consetetur</p>
    </div>
  </div>
</div>
</div>
