.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#left-sidebar {
    width: 100%;
}

#left-menu {
    margin-bottom: 40px;
}



.subscription {
    cursor: pointer;
}



@media (max-width: 991px) {
    #left-sidebar {
        width: 300px;
    }

}
