<form [formGroup]="searchStocksForm" [class.modal-form]="modal" [class.portable]="portable">
    <div class="search-wrapper" id="stocks-search">
        <input [id]="modal ? 'stocks-search-input': 'stocks-search-modal-input'"
               [class.white]="modal"
               [placeholder]="(modal? 'Press \'Enter\' key to search stocks':'Search for stocks...')"
               formControlName="search" #searchInput
               (keyup)="searchStocks()" #trigger="matAutocompleteTrigger" [formControl]="myControl"
               (keyup.enter)="openStockPage(searchInput.value, trigger)"
               [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete" [hidden]="modal">

            <ng-container *ngIf="loadingSearch==='finished' && portable then regularList else groupedList">
            </ng-container>

            <ng-template #groupedList>
                <mat-optgroup *ngFor="let group of searchResults" [label]="group.name">
                    <mat-option *ngFor="let stock of group.stocks" [value]="stock.name"
                                (click)="openStockPage(stock, trigger)">
                        <p>{{stock.symbol}}</p>
                        <p>{{stock.name}}</p>
                    </mat-option>
                </mat-optgroup>
            </ng-template>

            <ng-template #regularList>
                <mat-option *ngFor="let stock of searchResults" [value]="stock.symbol" [@.disabled]="true"
                            (click)="sendBack(stock, trigger)">
                    <span class="stock-symbol">{{stock.symbol}}</span>
                    <span class="stock-name">{{stock.name}}</span>
                </mat-option>
            </ng-template>


        </mat-autocomplete>
        <i class="fas fa-search"></i>
    </div>
    <mat-spinner [diameter]="25" *ngIf="loadingSearch ==='loading'"></mat-spinner>
</form>
