@import 'variables';
@import 'mixins';
@import "search-wrap";

form {
    display: flex;
    align-items: center;
}

.stock-name {
    margin-left: 20px;
}

.portable {
    & {
        width: 72%;
    }

    input {
        background: $white;
    }
}

.modal-form {
    .home-search, input {
        background: transparent !important;
    }

    input {
        border-bottom: 1px solid $white;
    }

    ::placeholder {
        color: $white !important;
    }

    .home-search {
        i {
            top: 8px;
            color: #ffffff;
            font-size: 20px;
        }
    }
}
