@import 'variables';
@import 'mixins';
@import "search-wrap";

form {
    display: flex;
    align-items: center;

    &.white-form {
        & {
            width: 72%;
        }

        input {
            background: $white;
        }
    }

    .search-wrapper {
        margin-right: 0;
    }


}


small {
    margin-left: 20px;
}
