@import 'variables';
@import 'mixins';
@import "search-wrap";

form {
    display: flex;
    align-items: center;

    &.white-form {
        & {
        }

        input {
            background: $white;
        }
    }

    &.transparent-form {
        * {
            background: transparent !important;
            color: $white;
        }

        input {
            border-bottom: 1px solid $white;
        }

        ::placeholder {
            font-size: 12px;
            color: $white !important;
        }

        .search-wrapper {
            i {
                top: 8px;
                color: #ffffff;
                font-size: 20px;
            }
        }
    }

    .search-wrapper {
        margin-right: 0;
    }


}


small {
    margin-left: 20px;
}
