.groupMessageDiv{
    display: flex;
    align-items: center;
    margin-right: 145px;
}

.groupMessageImg{
    width: 97px;
    height: 92px;
    object-fit: contain;
}

.group-name-wrap{
    margin-top: 10px;
    font-family: 'Muli-SemiBold';
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
}


