<mat-sidenav-container>
    <mat-sidenav [mode]="getMode(sidenav)" #sidenav
                 id="sidenav" [opened]="!router.url.includes('auth')">
        <app-left-sidebar (closeSidenav)="closeSidenav($event, sidenav)" *ngIf="isSmallScreen"></app-left-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="ml-0 ml-md-0">
        <app-navbar (search)="getSearch($event)" *ngIf="!router.url.includes('auth')"
                    (closeSidenav)="closeSidenav($event, sidenav)"></app-navbar>
        <!--        <app-navbar (toggleSide)="sidenav.toggle()"></app-navbar>-->

        <!--        <mat-spinner [diameter]="30" *ngIf="loader.dataLoading"></mat-spinner>-->

        <section class="body-content" [class.full-width]="router.url.includes('auth')">
            <div class="body-content-left" *ngIf="isSidebarShown()">
                <div class="position-relative">
                    <div class="close-left-menu">&times;</div>
                    <app-left-sidebar></app-left-sidebar>
                </div>
            </div>
            <div class="body-content-right"
                 [ngClass]="{'full-width': checkIfPolicyPage() || router.url.includes('auth')}">
                <div class="position-relative">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>

