<div class="d-flex">
    <div class="mr-lg-5 mr-4">
        <div class="sub-titles mb-3">Saved Payment Methods</div>
        <div class="d-flex">
            <ul>
                <li *ngFor="let card of userCards">
                    <img src="assets/img/credit-card.svg" alt="" width="22" height="15">
                    <span class="ml-2">**** **** **** {{card.last4}}</span>
                </li>
            </ul>
        </div>
        <div role="button" class="red-link-btn" (click)="router.navigate(['wallet/cards/add'])">
            + Add New Card
        </div>
    </div>
    <ng-container>

        <div class="mr-lg-5 mr-4">

            <div class="sub-titles mb-3">Purchased Metl Coins</div>
            <div class="d-flex align-items-center">
                <div class="mr-5">
                    <small>{{totals?.purchased.toFixed(2)}}</small>
                    <div class="d-flex">
                        <img src="assets/img/coin/gold.svg" alt="" height="16" width="16" class="mr-1">
                        <img src="assets/img/coin/light_blue.svg" alt="" width="16" height="16">
                    </div>
                </div>
                <div class="total-class">
                    ${{(totals?.purchased_worth).toFixed(2)}}
                </div>
            </div>
        </div>
        <div class="mr-lg-5 mr-4">
            <div class="sub-titles mb-3">Received Metl Coins</div>
            <div class="d-flex align-items-center">
                <div class="mr-5">
                    <small>{{totals?.received.toFixed(2)}}</small>
                    <div class="d-flex">
                        <img src="assets/img/coin/gold.svg" alt="" height="16" width="16" class="mr-1">
                        <img src="assets/img/coin/light_blue.svg" alt="" height="16" width="16" class="mr-1">
                        <img src="assets/img/coin/green.svg" alt="" height="16" width="16" class="mr-1">
                        <img src="assets/img/coin/blue.svg" alt="" width="16" height="16">
                    </div>
                </div>
                <div class="total-class">
                    ${{(totals?.received_worth).toFixed(2)}}
                </div>
            </div>
        </div>
    </ng-container>
</div>


<hr>
<div class="d-flex align-items-center">
    <app-payments-filter-form (formReady)="getFilters($event)"></app-payments-filter-form>
    <mat-spinner [diameter]="15" *ngIf="loader.dataLoading"></mat-spinner>
</div>
<div class="d-flex justify-content-between flex-wrap">
    <div class="sub-titles mb-3">Payment History</div>
    <div id="external-accounts">
        <div role="button" class="btn-green mr-2 p-3" (click)="changeTabToPayouts()">Manage Account(s) for Payouts</div>
        <div role="button" class="btn-red"
             (click)="tellChild()">Export to Excel
        </div>
    </div>
</div>


<app-mat-reusable-table [data]="payments" [columns]="displayedColumns" [tab]="'payments'"
                        [changing]="changingValue"></app-mat-reusable-table>
