<!--<app-video-filters *ngIf="showFilters" (filter)="getFilteredVideos($event)"></app-video-filters>-->
<!--<ng-container *ngFor="let videoList of watchlistVideos">-->
<!--    <ng-container *ngIf="videoList.videos.length > 0">-->

<!--        <app-video-carousel-holder [videos]="videoList.videos" [title]="videoList.channel.name"-->
<!--                                   [detailsSource]="videoList"></app-video-carousel-holder>-->
<!--    </ng-container>-->
<!--</ng-container>-->
<div class="favorites">

    <div class="crypto-content">
        <div class="crypto-item crypto-item-green">
            <div class="cryptoRemove">
                <span class="material-icons">delete</span>
            </div>
            <p class="crypto-text-1">Bitcoin 24h</p>
            <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
            <div class="crypto-block">
                <p class="crypto-text-1">-489,86</p>
                <p class="crypto-text-1">-4,16%</p>
            </div>
            <img class="crypto-map" src="assets/img/map.png">
        </div>

        <div class="crypto-item crypto-item-green">
            <div class="cryptoRemove">
                <span class="material-icons">delete</span>
            </div>
            <p class="crypto-text-1">Bitcoin 24h</p>
            <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
            <div class="crypto-block">
                <p class="crypto-text-1">-489,86</p>
                <p class="crypto-text-1">-4,16%</p>
            </div>
            <img class="crypto-map" src="assets/img/map.png">
        </div>

        <div class="crypto-item">
            <div class="cryptoRemove">
                <span class="material-icons">delete</span>
            </div>
            <p class="crypto-text-1">Bitcoin 24h</p>
            <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
            <div class="crypto-block">
                <p class="crypto-text-1">-489,86</p>
                <p class="crypto-text-1">-4,16%</p>
            </div>
            <img class="crypto-map" src="assets/img/map.png">
        </div>

        <div class="crypto-item">
            <div class="cryptoRemove">
                <span class="material-icons">delete</span>
            </div>
            <p class="crypto-text-1">Bitcoin 24h</p>
            <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
            <div class="crypto-block">
                <p class="crypto-text-1">-489,86</p>
                <p class="crypto-text-1">-4,16%</p>
            </div>
            <img class="crypto-map" src="assets/img/map.png">
        </div>

        <div class="crypto-item">
            <div class="cryptoRemove">
                <span class="material-icons">delete</span>
            </div>
            <p class="crypto-text-1">Bitcoin 24h</p>
            <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
            <div class="crypto-block">
                <p class="crypto-text-1">-489,86</p>
                <p class="crypto-text-1">-4,16%</p>
            </div>
            <img class="crypto-map" src="assets/img/map.png">
        </div>

        <div class="crypto-item">
            <div class="cryptoRemove">
                <span class="material-icons">delete</span>
            </div>
            <p class="crypto-text-1">Bitcoin 24h</p>
            <p class="crypto-text-2"><span class="crypto-text-abs">$</span>11,300.38</p>
            <div class="crypto-block">
                <p class="crypto-text-1">-489,86</p>
                <p class="crypto-text-1">-4,16%</p>
            </div>
            <img class="crypto-map" src="assets/img/map.png">
        </div>
    </div>
</div>
