<div class="page-container">

    <div class="metltv-background">
        <img class="login-logo" (click)="router.navigate(['/'])" src="assets/img/metltvlogo.svg">
    </div>
    <div id="forgot-pass-form-container">
        <form [formGroup]="resetPassForm" *ngIf="emailPassed">
            <h3>Reset Password</h3>
            <input type="password" placeholder="Password" formControlName="password">
            <span class="error" *ngIf="pass.hasError('required') && isSubmitted">
                Please write the new password</span>
            <span class="error" *ngIf="pass.hasError('patternInvalid')">
                   Password should not contain spaces
                </span>
            <span class="error" *ngIf="pass.hasError('maxlength')||pass.hasError('minlength')">
                   Password should be between 6-15 characters
            </span>

            <input type="password" placeholder="Reenter Password" formControlName="confirm_password">
            <span class="error" *ngIf="confirmPass.hasError('notMatch')">Passwords don't match</span>
            <span class="error" *ngIf="confirmPass.hasError('required') && isSubmitted">
                Please re-type the new password</span>
            <button (click)="changePassword()">Submit</button>
        </form>
    </div>
</div>
