@import "../forgot-password/forgot-password.component";


#token-expired-container {
    text-align: center;
    width: 100%;
    max-width: 500px;

    button {
        @include redButton;
    }
}


