@import "../forgot-password/forgot-password.component";


#token-expired-container {
    text-align: center;
    width: 100%;
    max-width: 500px;

    img{
        width: 150px;
    }

    h3{
        margin-top: 48px;
        font-size: 32px;
        color: #545454;
        font-weight: bold;
    }

    p{
        margin: 24px 0 0;
        color: #545454;
        font-size: 16px;
    }

    button {
        @include redButton;
        margin: 40px auto 0;
        max-width: 430px;
    }
}


