<div class="bottom_chat">
    <div class="w-100 h-100 position-relative">
        <div class="d-flex justify-content-between border-bottom py-3">
            <div>
                <img class="avatar" id="profile-image"
                     [src]="channelUser.channel.avatar|getImgPath: 'avatars'">
                <span>{{channelUser.first_name + ' ' + channelUser.last_name}}</span>
            </div>
            <div>
                <img src="assets/img/x.svg" alt="">
            </div>
        </div>
        <div class="textarea d-flex align-items-end">
            <button class="add-btn">+</button>
            <textarea cols="1" rows="1" class="flex-1 mx-3" placeholder="Message"></textarea>
            <button class="send-btn"> <img src="assets/img/send.svg"> </button>
        </div>
    </div>
</div>
