.bottom_chat {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 0 20px 30px 20px;
    box-shadow: 0 0 3px #c9c9c9;
    width: 350px;
    height: 400px;
    background-color: white;
    z-index: 9999;

    .chat-information {
        width: 100%;
        max-height: 400px;
        overflow-y: scroll;

        height: calc(100% - 115px);
        padding: 14px 12px 30px 12px;


        .chat-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;


            .avatar {
                width: 24px !important;
                height: 24px !important;
            }

            .chat-block-1 {
                margin: 0;
                color: #9B9B9B;
                font-size: 14px;
                font-family: "Muli-Light", sans-serif;
                width: 86px !important;
            }

            .chat-block-2 {
                margin-bottom: 0;
                margin-left: 16px;
                flex: 1;
                color: #545454;
                font-size: 14px;
                font-family: "Muli-Light", sans-serif;
            }

            .chat-block-1,
            .chat-block-2 {
                max-width: 85%;
                overflow: hidden;
                text-overflow: ellipsis;
                //white-space: nowrap;
            }
        }
    }

    .typing-text-container {
        margin-top: -12px;
    }

    .textarea {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;

        .add-btn {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        input {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;

            &:focus {
                outline: none;
                border: 0;
                border-bottom: 1px solid #ddd;
            }
        }

        .send-btn {
            background-color: transparent;
            border: 0;
            outline: 0;
        }
    }
}

.flex-1 {
    flex: 1;
}

.close-box {
    cursor: pointer;
}

.my-message {
    margin-bottom: 16px;

    .chat-block-2 {
        background: #18B587;
        color: #FFFFFF !important;
        padding: 5px;
    }

    & > div {
        justify-content: flex-end;
    }

    img {
        display: none;
    }
}

.other-message {
    margin-bottom: 16px;

    .chat-block-2 {
        background: #F5F5F5;
        color: #545454;
        padding: 5px;
    }

    img {
        margin-right: 0 !important;
    }
}

.abs {
    position: absolute;
    font-size: 11px;
    top: -14px;
    right: 0;
}
