.bottom_chat {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 0 20px 30px 20px;
    box-shadow: 0 0 3px #c9c9c9;
    width: 350px;
    height: 400px;
    background-color: white;
    z-index: 9999;
    .textarea {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        .add-btn {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        textarea {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:focus {
                outline: none;
                border: 0;
                border-bottom: 1px solid #ddd;
            }
        }
        .send-btn {
            background-color: transparent;
            border: 0;
            outline: 0;
        }
    }
}
.flex-1 {
    flex: 1;
}
