<form [formGroup]="chatForm">
    <div class="bottom_chat">
        <div class="w-100 h-100 position-relative">
            <div class="d-flex justify-content-between border-bottom py-3">
                <div>
                    <img class="avatar" id="profile-image"
                         [src]="channelUser.channel.avatar|getImgPath: 'avatars'">
                    <span>{{channelUser.first_name + ' ' + channelUser.last_name}}</span>
                </div>
                <div>
                    <img src="assets/img/x.svg" class="close-box" alt="" (click)="closeChatBox()">
                </div>
            </div>

            <div class="chat-information">
                <div class="loader" *ngIf="loadingMessages">
                    <mat-spinner [diameter]="30"></mat-spinner>
                </div>
                <ng-container *ngIf="!loadingMessages">
                    <div class="chat-block" *ngFor="let message of messages">

                        <ng-container>
                            <img class="avatar" [class.selectable]="message.from!==this.authUser.username"
                                 [src]="message.avatar|getImgPath:'user_avatars'">
                            <p class="chat-block-1">{{message?.from_user?.first_name + ' ' + message?.from_user?.last_name}}</p>
                        </ng-container>

<!--                        <ng-container *ngIf="!message.from">-->
<!--                            <p>to</p>-->
<!--                            <img class="avatar" [class.selectable]="message.to_user.from!==this.authUser.username"-->
<!--                                 [src]="message.to_user.avatar|getImgPath:'user_avatars'">-->
<!--                            <p class="chat-block-1">{{message?.to_user.first_name + ' ' + message?.to_user.last_name}}</p>-->
<!--                        </ng-container>-->
                        <p class="chat-block-2" [ngClass]="getMessageClass(message?.from_user)">{{message.message}}</p>
                    </div>
                </ng-container>
            </div>


            <div class="textarea d-flex align-items-end">
                <button class="add-btn">+</button>
                <input class="flex-1 mx-3" formControlName="message" placeholder="Message"
                       (keyup.enter)="sendMessage($event)">

                <button class="send-btn"><img src="assets/img/send.svg"></button>
            </div>
        </div>
    </div>
</form>
