.playlist-tab {
    .new-playlist {
        background: #18B587;
        border-radius: 0;
        color: #fff;
        padding: 8px 24px;
    }

    #no-playlists-found {
        margin-top: 20px;
    }


    table {
        display: table;
        margin: 24px 0;
        width: 100%;
        //border: 1px solid #C9C9C9;
        tr {
            display: table-row;


            &:last-child {
                //border-right: 1px solid #C9C9C9;
                .td {
                    border-bottom: 0;
                }
            }

            td {
                &:last-child {
                    text-align: right;

                    .material-icons {
                        transition: 0.3s;

                        &:hover {
                            color: #18B587;
                        }
                    }
                }
            }

            td, th {
                display: table-cell;
                vertical-align: middle;
                color: #545454;
                font-family: "Muli-Bold", sans-serif;
                white-space: nowrap;
                font-size: 16px;
                padding: 12px 0;
                // border-bottom: 1px solid #C9C9C9;
                // border-right: 1px solid #C9C9C9;
                &:last-child {
                    //border-right: 0;
                    .material-icons {
                        margin: 0;
                    }
                }

                .material-icons {
                    margin-right: 12px !important;
                    vertical-align: middle;
                    cursor: pointer;
                }

                .img-info {
                    display: flex;
                    align-items: flex-start;

                    img {
                        width: 144px;
                        cursor: pointer;
                    }

                    .info {
                        margin-left: 24px;

                        h3 {
                            max-width: 240px;
                            font-size: 16px;
                            font-family: "Muli-Bold";
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                        p {
                            max-width: 240px;
                            font-size: 12px;
                            font-weight: normal;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 991px) {
            display: block;
            overflow-x: auto;
        }
    }
}

.playlists-items {
    display: flex;
    flex-wrap: wrap;

    .item {
        flex: 0 0 calc(33.3% - 21px);
        margin-right: 32px;
        margin-bottom: 32px;
        cursor: pointer;

        &:nth-child(3n+3) {
            margin-right: 0;
        }

        .top-wrap {
            position: relative;
            height: 216px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .overlay-info {
                padding: 16px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(0 0 0 / 0.38);

                p {
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 8px;
                }
            }
        }

        .info {
            margin-top: 24px;

            h2 {
                color: #545454;
                font-size: 16px;
                font-weight: bold;
            }

            p {
                margin-top: 8px;
                margin-bottom: 0;
                color: #545454;
                font-size: 15px;
                font-weight: 500;
            }
        }

        @media screen and (max-width: 991px) {
            flex: 0 0 calc(50% - 21px);
        }
        @media screen and (max-width: 767px) {
            flex: 0 0 100%;
        }
    }
}
