<mat-spinner [diameter]="100" class="session-loader" *ngIf="loader.dataLoading"></mat-spinner>
<div id="video-stream-container" *ngIf="!loader.dataLoading">


    <!-- Shown when session connected -->
    <ng-container *ngIf="openViduToken">
        <div id="video-chat-container">

            <!-- Publisher video recording interface -->
            <div class="video-container">
                <app-video-js-record [openViduToken]="openViduToken" [thumbnailFile]="thumbnailFile"
                                     [videoSettings]="videoSettings"
                                     (recordingStarted)="getRecordedVideoId($event)"></app-video-js-record>
            </div>

            <div class="chat-container">
                <app-chat-box [openViduToken]="openViduToken" [messages]="messages" [session]="session" [videoId]="videoId" *ngIf="videoId"
                              (sendMessage)="sendMessage($event)" [videoRecordingState]="recordingState"></app-chat-box>
            </div>
        </div>
        <div id="participants-count">
            <i class="fa fa-users"></i>{{participants.length}}
            <ul>
                <li *ngFor="let participant of participants">{{participant}}</li>
            </ul>
        </div>
        <app-stocks-marquee [stocks]="userStocks" [videoStreaming]="true"></app-stocks-marquee>
    </ng-container>
    <div class="no-stored-session-data" *ngIf="!sessionData && !videoSettings">
        <div class="d-flex flex-column justify-content-center align-items-center mx-auto py-5 mt-5">

            <img src="../../../../../assets/img/errorPage.svg" alt="no-stored-session-data-img" width="500" height="370">
            <p class="text-center"><b>There is no session data defined.</b> <br> Please return to the <a
                routerLink="/user/video/start-live-video">'Start
                live video' page</a></p>
        </div>
    </div>
    <div class="stream-errors" *ngIf="!openViduToken && sessionData && videoSettings">
        <div class="d-flex flex-column justify-content-center align-items-center mx-auto py-5 mt-5">
            <img src="../../../../../assets/img/errorLoading.svg" alt="no-stored-session-data-img" width="150" height="200">
            <p class="text-center"><b>There was a problem while loading streaming session.</b> <br>
                <small>Please <a class="reload" (click)="reloadPage()">reload</a> the page or try again later.</small>
            </p>
        </div>
        <div class="d-none">
            <div class="d-flex flex-column justify-content-center align-items-center mx-auto py-5 mt-5">
                <img src="../../../../../assets/img/dataError.svg" alt="stream-errors-img" width="334" height="471">
                <p class="text-center top"><b>There was a problem while loading streaming session.</b> <br>
                    <small>Please <a class="reload" (click)="reloadPage()">reload</a> the page or try again
                        later.</small>
                </p>
            </div>
        </div>
    </div>
</div>

