<div id="stocks-list-holder">
    <div class="stocks-list" cdkDropList>

        <ng-container *ngFor="let stock of onlyFirst10Stocks(passedStocks)">
            <div class="stock-item" cdkDrag
                 (cdkDragDropped)="dragDropped($event)">
                <!--                <div class="remove-stock" *ngIf="editUserStocks" (click)="updateFollowedStocksList(stock)">-->
                <!--                    <i class="fas fa-trash"></i>-->
                <!--                </div>-->
                <div class="stock-details" (click)="openStockProfile(stock.symbol)">
                    <div class="stock-name-symbol">
                        <p class="stock-symbol">{{stock.symbol.replace('^', '')}}</p>
                        <p class="stock-name">{{stock.name}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>
