<div class="stream-preview-dialog">
    <h2>Stream Preview</h2>
    <img src="assets/img/item-2.png" alt="">
    <div class="info-wrap">
        <div class="item-wrap">
            <div class="item">
                <div class="title">
                    <span>Title</span>
                    <div class="edit">Edit <span class="material-icons">create</span></div>
                </div>
                <div class="info">
                    <span>Lorem ipsum dolor sit amet, consetetur</span>
                </div>
            </div>

            <div class="item">
                <div class="title">
                    <span>Category</span>
                </div>
                <div class="info">
                    <span>People and blogs</span>
                </div>
            </div>

            <div class="item">
                <div class="title">
                    <span>Scheduled for</span>
                </div>
                <div class="info">
                    <span>Oct 29, 2020, 10:01 AM</span>
                </div>
            </div>

            <div class="item">
                <div class="title">
                    <span>Privacy</span>
                </div>
                <div class="info">
                    <span class="material-icons">public</span><span>Public</span>
                </div>
            </div>

            <div class="item d-flex">
                <div>
                    <div class="title">
                        <span>Viewers waiting</span>
                    </div>
                    <div class="info">
                        <span>100</span>
                    </div>
                </div>
                <div>
                    <div class="title">
                        <span>Likes</span>
                    </div>
                    <div class="info">
                        <span>0</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="info border">
                    <span class="material-icons">videocam</span> <span>Venus USB2.0 Camera</span>
                </div>
            </div>
            <div class="item">
                <div class="info border">
                    <span class="material-icons">mic</span> <span>Default - Microphone</span>
                </div>
            </div>
        </div>

        <div class="btn-wrap">
            <button class="btn share">Share</button>
            <button class="btn go-live" (click)="goLive()">Go Live</button>
        </div>
    </div>
</div>
