.stream-preview-dialog{
    overflow: auto;
    max-height: 100%;
    padding: 24px;
    width: 100%;
    max-width: 554px;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background: #fff;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    &::-webkit-scrollbar-thumb {
        background: #545454;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(65, 65, 65); 
    }

    h2{
        font-size: 16px;
        font-weight: bold;
        color: #18B587;
    }

    img{
        margin-top: 24px;
        width: calc(100% + 48px);
        margin-left: -24px;
    }

    .item-wrap{
        margin-top: 16px;
        .item{
            margin-bottom: 8px;

            &.d-flex{
                >div{
                    margin-right: 40px;
                }
            }
            .title{
                display: flex;
                justify-content: space-between;
                color: #18B587;
                font-size: 14px;
                margin-bottom: 2px;
 
                .edit{
                    font-size: 16px; 
                    color: #545454;
                    cursor: pointer;
                    span{
                        font-size: 20px;
                        margin-left: 4px;
                    }
                }
            }

            .info{
                display: flex;
                align-items: center;

                &.border{
                    border: 0 !important;
                    span:not(.material-icons){
                        border-bottom: 0.5px solid #DCDCDC;
                    }
                }
                span:not(.material-icons){
                    flex: 1;
                }
                .material-icons{
                    margin-right: 8px;
                }

                >span{
                    color: #545454;
                    font-weight: 600;
                    font-size: 16px;
                }
                .material-icons{
                    font-size: 20px;
                }
            }
        }
    }

    .btn-wrap{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        .btn{
            margin-left: 24px;
            padding: 12px 32px;
            background: #F53C6F;
            color: #ffffff;
            font-size: 16px;
            border-radius: 0;
            box-shadow: 0px 0px 6px #006DCC2E;
            &.share{
                padding: 12px;
                font-weight: bold;
                color: #18B587;
                background: transparent;
                box-shadow: initial;
            }
        }
    }
}