<div class="playlist-wrap" *ngIf="playlistOpened && playlistData && playlistData.videos.length > 0">
    <h2>{{playlistData.name}}</h2>
    <div class="list-wrap">
        <div class="playlist-video" [class.selected]="videoId === video.id"
             *ngFor="let video of playlistData.videos" (click)="openVideoPage(video, playlistData?.id)">

            <div class="thumbnail-container">
                <img [src]="video.thumbnail|getImgPath">
            </div>

            <div class="details-container">
                <p class="main-text-1" (click)="openVideoPage(video, playlistData?.id)">{{video.name}}</p>
                <p class="main-text-3">{{video.channel.name}}</p>
            </div>

            <div class="remove-btn-container" *ngIf="authUser.id === playlistData.channel.id"
                 (click)="removeVideoFromPlaylist(video,playlistId)">
                <span class="material-icons">delete</span>
            </div>
        </div>
    </div>
</div>

<div class="suggested-videos" *ngFor="let video of videoSuggestions">
    <div class="suggested-video">

        <div class="thumbnail-container">
            <img [src]="video.thumbnail|getImgPath" (click)="openVideoPage(video)">
        </div>

        <div class="details-container">
            <p class="main-text-1">{{video.name}}</p>
            <p class="main-text-2">{{video.channel.name}}</p>
            <div class="details-row">
                <span class="watchers-count main-text-3">
                    {{video.status === 'live' ? '17k watching' : video.views + ' view' + (video.views === 1 ? '' : 's')}}
                </span>
                <span class="dot">&middot;</span>
                <span class="upload-time main-text-3">{{video.created_at|dateFromNow}}</span>
            </div>
        </div>
    </div>

</div>

<img class="ads" src="assets/img/ads.png">
<img class="ads" src="assets/img/ads.png">
