.playlist-wrap {
    box-shadow: 0 0 6px #0000001A;

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #E3E3E3;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #CBCBCB;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    h2 {
        padding: 6px 12px;
        background: #F8F8F8;
        font-size: 16px;
        color: #545454;
    }

    .list-wrap {
        margin-bottom: 40px;
        max-height: 440px;
        overflow: auto;
        padding: 0 12px 16px;
        margin-top: 16px;

        .ads-info {
            &:last-child {
                margin: 0;
            }
        }

        .playlist-video {
            cursor: pointer;
        }

        img {
            width: 68px;
            height: 51px;
        }

        .video-name {
            font-size: 14px;
        }

        .remove {
            margin-left: 12px;
            margin-top: 8px;
            cursor: pointer;

            &:hover {
                span {
                    color: #18B587;
                }
            }

            span {
                font-size: 16px;
                color: #545454;
                transition: 0.3s;
            }
        }
    }


}

.suggested-video {
    img, .video-name {
        cursor: pointer;
    }
}

.selected {
    background-color: #F4F4F4;
}


.details-row {
    display: flex;
    align-items: center;

    .dot {
        margin: 0 5px;
    }
}

.suggested-videos {
    margin-top: 15px;
}
