<div class="about-tab">
    <form [formGroup]="aboutForm" id="channel-about-form">

        <div class="info">
            <h2 *ngIf="channelUser.channel?.description">Description</h2>

            <div class="date">
                <span>Joined {{channelUser.channel.created_at|date: 'd MMM, yyyy'}}</span>
                <button class="btn" (click)="editModeOn()"
                        *ngIf="!editMode && authUser.username === channelUser.username">Edit
                </button>
            </div>
        </div>

        <div class="description" *ngIf="!editMode && channelUser?.channel.description">
            <p>{{getDesc(channelUser.channel.description)}}</p>
        </div>

        <ng-container *ngIf="editMode">

            <textarea formControlName="description"></textarea>

            <button class="save" (click)="saveChannelDescription()">Save</button>
        </ng-container>
    </form>
</div>

