@import 'variables';
.show-actions {
    background-color: unset;
    margin-left: 40px;

    button {
        span {
            margin-left: 20px;
        }
    }

    .remove-member-btn {
        margin-left: 10px;
        cursor: pointer;
        color: $red;
    }
}
