<div class="stripe-card-container">
    <form [formGroup]="saveCardForm">
        <div class="field-row">
            <input formControlName="name" class="form-control">
        </div>
        <ngx-stripe-card [hidden]="editCase"
                         [options]="cardOptions"
                         [elementsOptions]="elementsOptions"
        ></ngx-stripe-card>

        <div class="field-row">
            <mat-spinner *ngIf="loader.dataLoading" [diameter]="15"></mat-spinner>
            <button (click)="saveCard()">{{editCase ? 'Update' : 'Add'}} card</button>
        </div>
    </form>
</div>
