<div id="profile-wrap" *ngIf="profileUser">
    <div id="profile-cover-image">
        <img [src]="profileUser?.cover|getImgPath:'covers'">
    </div>

    <div class="row">
        <div id="user-details">
            <div class="details-row">
                <div id="details-block">
                    <div class="avatar-container">
                        <label for="profile-image-input">
                            <img class="avatar" id="profile-image"
                                 [src]="profileUser.avatar|getImgPath: 'user_avatars'">
                        </label>
                    </div>

                    <div>
                        <strong id="user-full-name">{{profileUser?.first_name + ' ' + profileUser?.last_name}}</strong>
                        <p class="connections-count">{{connectionsCount + ' connection' + (connectionsCount === 1 ? '' : 's')}} </p>
                    </div>
                </div>

                <div id="profile-actions-block">

                    <ng-container *ngIf="!ownProfile">

                        <a class="add-friend-btn" (click)="connectWithUser()"
                           *ngIf="usersConnectionStatus==='idle'">
                            <mat-icon>person_add</mat-icon>
                            <span>Connect</span>
                        </a>

                        <a class="waiting-for-confirmation-btn"
                           *ngIf="usersConnectionStatus==='pending'" [matMenuTriggerFor]="pendingMenu">
                            <mat-icon>check</mat-icon>
                            <span>Waiting for confirmation</span>
                        </a>

                        <mat-menu #pendingMenu="matMenu">
                            <button mat-menu-item (click)="cancelUsersConnecting(usersConnection)">
                                <mat-icon>close</mat-icon>
                                <span>Cancel</span>
                            </button>
                        </mat-menu>

                        <button class="users-connected-btn" *ngIf="usersConnectionStatus==='connected' "
                                [matMenuTriggerFor]="menu">
                            <mat-icon>check</mat-icon>
                            <span>Connected</span>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="disconnectUser()">
                                <mat-icon>close</mat-icon>
                                <span>Disconnect</span>
                            </button>
                        </mat-menu>

                        <a (click)="toggleBottomChatBox()" class="toggle-chat-box-btn" *ngIf="isMessageBtnShown()">
                            <mat-icon>chat</mat-icon>
                            <span>Message</span>
                        </a>
                    </ng-container>

                    <button type="button" id="edit-profile" *ngIf="ownProfile"
                            [routerLink]="'/users/'+authUser.username+'/edit'">
                        <mat-icon>edit</mat-icon>
                        Edit profile
                    </button>
                </div>

            </div>

            <div class="details-row">

            </div>

            <div [hidden]="true">
                <input type="file" id="profile-image-input"/>
                <input type="hidden">
            </div>
        </div>

        <div id="group-actions">

        </div>
    </div>

    <div class="row">
        <div id="group-tabs">
            <ul class="nav-tabs">
                <li class="nav-item" *ngFor="let tab of profileTabs" [hidden]="!ownProfile && tab.ownPageOnly">
                    <a class="nav-link" [routerLink]="'/users/'+this.profileUser.username+'/tab/'+tab.link"
                       routerLinkActive="active"
                    >{{tab.name}}</a>
                </li>
            </ul>
        </div>

        <div id="search-in-current-tab">

        </div>
    </div>

    <div class="tab-content" *ngIf="authUser && connections.length > 0 && profileUserStocks">
        <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
    </div>
</div>
