@import 'mixins';

.page-container {
    display: flex;
    //justify-content: space-between;
    width: 100%;
    height: 100vh;
}


.metltv-background {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url('assets/img/back-login.png');
}

    #forgot-pass-form-container {
        //width: 57%;
        width: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 150px;
        background: white;


        form {
            width: 430px;

            h3 {
                color: #545454;
                font-size: 32px;
                font-family: "Muli-Bold";
                margin-bottom: 16px;
            }

            h4 {
                color: #545454;
                font-size: 24px;
                font-family: "Muli-Bold";
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                height: 51px;
                box-shadow: 0 0 6px #006DCC2E;
                padding: 15px 32px;
                margin-bottom: 8px;
                margin-top: 20px;
                color: #CECECE;
                font-size: 16px;
                font-family: "Muli-Regular";
            }


            .actions {
                display: flex;
                align-items: center;
                margin-bottom: 32px;
                margin-top: 47px;

                button {
                    @include redButton;
                }

                mat-spinner {
                    margin-left: 20px;
                }
            }
        }
    }


@media (max-width: 1400px) {
    .forgotPasswordLogo {
        width: 250px;
        margin-left: 100px;
    }
    .metltv-background{
        align-items: start;
    }
}

    @media (max-width: 1200px) {
        .forgotPasswordLogo {
            margin-left: 40px;
        }
        #forgot-pass-form-container{
            padding-left: 80px;
    }
    }

@media (max-width: 991px) {
    .forgotPasswordPart {
        flex-direction: column;
        height: auto;
        justify-content: unset;
    }
    #forgot-pass-form-container{
        padding-left: 0;
        width: 100%;
        align-items: center;
        margin-top: 60px;
    }
    .metltv-background{
        align-items: start;
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .forgotPasswordLogo {
        width: 150px;
    }

    #forgot-pass-form-container {
        display: flex;
        align-self: center;
    form {
        width: 90%;
        h3{
            font-size: 27px;
            text-align: center;
        }
        h4 {
            font-size: 18px;
            text-align: center;
        }
        button {
            max-width: 480px;
            width: 100%;
            height: 45px;
            font-size: 16px;
            margin-right: 0;
        }

        input{
            max-width: 480px;
            width: 100%;
        }
    }

    }

}


