@import 'mixins';

.page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.metltv-background {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url('assets/img/back-login.png');
}

#forgot-pass-form-container {
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    background: white;

    form {
        width: 430px;

        h3 {
            color: #545454;
            font-size: 32px;
            font-family: "Muli-Bold";
            margin-bottom: 16px;
        }

        h4 {
            color: #545454;
            font-size: 24px;
            font-family: "Muli-Bold";
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            height: 51px;
            box-shadow: 0 0 6px #006DCC2E;
            padding: 15px 32px;
            margin-bottom: 8px;
            margin-top: 20px;
            color: #CECECE;
            font-size: 16px;
            font-family: "Muli-Regular";
        }


        .actions {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            margin-top: 47px;

            button {
                @include redButton;
            }

            mat-spinner {
                margin-left: 20px;
            }
        }
    }
}


