@import 'mixins';

.video-item {
    @include videoItem;
}

.input-wrap {
    @include inputWrap;
}

#search-by-url-input {
    margin-bottom: 20px;
}

mat-hint {
    display: block;
    text-align: right;
    font-size: 14px;
}

.tags {
    //margin-top: 10px;

    li {
        display: inline-block;
        margin-right: 5px;

        span {
            @include tagItem;
        }
    }
}
