@import '../../../auth/register/register.component';

@import 'variables';


form {
    display: flex;

    @media screen  and (max-width: 1250px) {
        flex-direction: column-reverse;
    }


    .left-side, .right-side {
        flex: 1;
        min-width: 360px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        @media only screen and (min-width: 769px)and (max-width:1024px) {
            padding: 0 !important;
        }
        @media screen and (max-width: 410px) {
            min-width: 260px;
        }
        @media screen and (min-width: 375px) and (max-width: 510px) {
            flex: none !important;
            width: calc(100% - 5px)!important;
            min-width: 270px !important;
        }
        @media screen and (min-width: 320px) and (max-width: 375px) {
            flex: none !important;
            width: calc(100% - 15px)!important;
            min-width: 270px !important;
        }
    }


    .save-profile-changes {
        width: 100%;
        height: 51px;
        background-color: #18B587;
        padding: 15px 32px;
        color: #fff !important;
        font-size: 16px;
        font-family: "Muli-Regular";
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .right-side {

        //margin-left: 30px;
        // Drop zone styles
        .profile-img {
            max-width: 400%;
            width: 100%;
            height: 400px;
            position: relative;
            @media only screen and (max-width:1250px) {
                background-position: 50% 50% !important;

            }
            @media only screen and (max-width:425px) {
                height: 250px;
            }




            .remove-profile-img {
                cursor: pointer;
                position: absolute;
                right: 7px;
                top: 6px;
                color: white;
                background: #F53C6F;
                padding: 5px;
            }
        }

        //@media screen and (max-width: 767px) {
        //    margin-left: 0;
        //}


    }
}


@media screen  and (max-width: 1250px) {
    .left-side{
        margin-top: 20px !important;
    }
}



