<!--<img class="avatar" [src]="c.user?.channel.avatar|getImgPath:'avatars'">-->
<!--<div class="details">-->
<!--    <div class="d-flex align-items-center mb-2">-->
<!--        <div class="mr-3 user-name" [class.author.px-2]="isAuthor(c)">-->
<!--            {{c?.user?.full_name}} <i class="fas fa-check-circle ml-1" *ngIf="isAuthor(c)"></i>-->
<!--        </div>-->
<!--        <div class="comment-date">{{c.created_at | dateFromNow}}</div>-->
<!--    </div>-->

<!--    <div class="comment-text mb-2" [innerHTML]="c.comment">-->
<!--    </div>-->
<!--    <div class="likes-reply">-->
<!--        <div class="comments-like mb-2">-->
<!--            <i class="fa fa-thumbs-up mr-3"></i>-->
<!--            <span> 22k </span>-->
<!--            <i class="fa fa-thumbs-down ml-3"></i>-->
<!--        </div>-->
<!--        <div class="reply-container">-->
<!--            <span class="reply" (click)="selectComment(c, true)">Reply</span>-->
<!--            <div class="add-reply" *ngIf="showReplyForm && c.id===selectedComment.id">-->
<!--                <app-video-comments-form [videoData]="videoData" [reply]="true"-->
<!--                                         [selectedComment]="selectedComment"-->
<!--                                         (added)="commentAdded($event)"-->
<!--                                         class="w-100"></app-video-comments-form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <p class="replies-toggler mt-3" *ngIf="c.replies.length > 0"-->
<!--       (click)="toggleReplies(c)">-->
<!--        <mat-icon>expand_{{showReplies && selectedComment === c ? 'more' : 'less'}}</mat-icon>-->
<!--        <span>{{getRepliesTogglerText(c)}}</span>-->
<!--    </p>-->
