<ng-container *ngIf="shownItems==='notifications'">
    <app-notifications-list [shownInSidebar]="true" [notificationsCategory]="'new'"></app-notifications-list>
    <app-notifications-list [shownInSidebar]="true" [notificationsCategory]="'early'"></app-notifications-list>
</ng-container>

<ng-container *ngIf="shownItems==='messages'">
    <h3 class="contacts-delimiter">Contacts</h3>
    <app-users-list *ngIf="usersMessages" [authUser]="authUser"
                    [sidebarMode]="true" (openBottomChatBox)="openBottomChatBox.emit($event)"></app-users-list>
    <h3 class="groups-delimiter">Groups</h3>
    <app-groups-list [authUser]="authUser"></app-groups-list>
</ng-container>
