@import 'variables';
@import 'mixins';

.connections-container {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    width: 100%;
    max-width: 1122px;
    @media only screen and (max-width: 768px) {
        display: block;
        margin-top: 60px;
    }

    .subTabsContainer {
        display: flex;
        width: 100%;
        max-width: 1122px;
    }

    .connection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D8D8D8;
        opacity: 1;
        padding: 23px 21px;
        max-width: 493px;
        width: 100%;
        margin-bottom: 15px;
        margin-right: 15px;
        @media only screen and (max-width: 1440px) {
            margin-top: 15px
        }
        @media only screen and (max-width: 1024px) {
            padding: 11px 10px;
        }

        .left {
            display: flex;

            .user-avatar {
                position: relative;
                margin: auto;

                .avatar {
                    width: 60px !important;
                    height: 60px;
                    margin-right: 21px;
                    @media only screen and (max-width: 500px) {
                        width: 40px !important;
                        height: 40px !important;
                    }
                    @media only screen and (max-width: 320px) {
                        margin-right: 11px !important;
                        width: 35px !important;
                        height: 35px !important;
                    }
                }
            }

            .text {
                display: flex;
                align-items: center;
                font-family: "Muli-Regular", sans-serif;
                letter-spacing: 0;
                color: #5B5B5B;
                opacity: 1;
                @media only screen and (max-width: 320px) {
                    font-size: 15px !important;
                }

                .name {
                    cursor: pointer;
                }
            }
        }

        .right {
            button:not(.connection-actions button) {
                background: transparent;
                width: 28px;
                height: 6px;
                opacity: 1;
            }

            .connection-actions {
                display: flex;
                width: 200px;
                justify-content: space-around;
                margin-left: 50px;
                @media only screen and (max-width: 500px) {
                    margin-left: 20px;
                    width: 80%;
                }

                button {
                    @include regularButton;
                    font-size: 14px;
                }
            }
        }
    }
}

.iconDis {
    width: 18px !important;
    height: 18px !important;
}
