@import 'variables';

.filter-groups {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
    padding: 0 16px;
    //max-width: 500px;
    box-shadow: 0 0 6px #00000029;
    transition: all ease 1s;


    ul {
        margin: 0;
    }

    .filter-group {
        margin: 16px 32px 16px 0;

        .filter-name {
            margin: 0;
            padding-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            color: #545454;
        }

        .filter-item {
            min-width: 184px;
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-family: 'Muli-Light';
            transition: 0.2s;
            cursor: pointer;

            font-size: 14px;
            font-weight: 600;

            &:hover {
                span {
                    color: #18B587;
                }
            }

            .remove-filter {
                width: 21px;
                height: 21px;
                margin-left: 12px;

                &.mat-icon-button {
                    line-height: 20px;
                }

                * {
                    width: 100%;
                    height: 100%;
                }
            }

            span {
                width: 100%;
                display: block;
                transition: 0.2s;
            }

            .remove-filter {
                mat-icon {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

        .selected {
            color: $metl-green !important;
        }
    }
}
