<div class="profile-block">
    <div [hidden]="true" *ngIf="channelUser.username === authUser.username">
        <input type="file" id="cover-image-input" (change)="coverChangeEvent($event)"/>
        <ngx-photo-editor
            [imageChanedEvent]="coverChangedEvent"
            (imageCropped)="coverCropped($event)"
            [autoCrop]="false"
            [viewMode]="3"></ngx-photo-editor>
    </div>
    <label for="cover-image-input">
        <img
            [src]="channelUser.cover? apiUrl + 'uploads/covers/' + channelUser.cover:'assets/img/default-thumbnail.png'"
            id="cover-image">
    </label>
</div>

<div class="sub-block">
    <div class="d-flex align-items-center">
        <label for="profile-image-input">
            <img class="avatar list-img" *ngIf="channelUser.avatar"
                 [src]="apiUrl+'uploads/avatars/'+channelUser.avatar">
            <img class="avatar" *ngIf="!channelUser.avatar"
                 [src]="'assets/img/default-user.png'" id="profile-image">
        </label>
        <div [hidden]="true" *ngIf="this.channelUser.username === this.authUser.username">
            <input type="file" id="profile-image-input" (change)="profileChangeEvent($event)"/>
            <ngx-photo-editor
                [imageChanedEvent]="profileChangedEvent"
                (imageCropped)="profileCropped($event)"
                [aspectRatio]="4/3"
                [viewMode]="1"
                [resizeToWidth]="500"></ngx-photo-editor>

        </div>
        <div>
            <p class="main-text-1">{{channelUser.channel.name}}</p>
            <p class="main-text-4">{{subscribersCount + ' subscriber' + (subscribersCount === 1 ? '' : 's')}} </p>
        </div>
    </div>
    <div class="d-flex align-items-center" *ngIf="channelUser.username !== authUser.username">
        <i class="sub-bell fas fa-bell"></i>
        <a class="subscribe-btn" *ngIf="!subscribedToChannel" (click)="subscribeToChannel(channelUser.channel)">Subscribe</a>
        <a class="subscribe-btn subscribed" *ngIf="subscribedToChannel"
           (click)="subscribeToChannel(channelUser.channel)">Subscribed</a>
    </div>
</div>
