@import 'variables';

@mixin redButton {
    width: 100%;
    height: 51px;
    background: $red;
    padding: 15px 32px;
    color: $white !important;
    font-size: 16px;
    font-family: "Muli-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}


// Playlist videos modal
@mixin videoItem {
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;

    &.selected {
        border: 1px solid #18B587;
    }

    &.added {

        .img {
            position: relative;
            overflow: hidden;

            span.added-placeholder {
                position: absolute;
                right: -24px;
                top: 8px;
                font-size: 13px;
                transform: rotate(45deg);

                &::before {
                    content: "Added";
                    background: #f53c6f;
                    color: #ffffff;
                    padding: 20px 24px 6px;
                }
            }
        }

        .shortened-description {
            -webkit-line-clamp: 1 !important;
        }
    }


    .tags {
        margin-top: 10px;

        li {
            display: inline-block;
            margin-right: 5px;

            span {
                @include tagItem;
            }
        }
    }

}


@mixin inputWrap {
    label {
        font-size: 16px;
        color: #545454;

    }

    .input {
        position: relative;
        margin-top: 8px;

        &.search {
            max-width: 400px;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                font-size: 22px;
                color: #545454;
                cursor: pointer;
            }
        }

        input {
            width: 100%;
            padding: 8px 16px;
            background: #81818121;
            color: #545454;
            border: 0;
            outline: none;
        }
    }
}

@mixin tagItem {
    height: 22px;
    border-radius: 11px;
    padding: 2px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;
    transition: 0.3s ease-in-out;
    color: #545454 !important;
    font-size: 14px;
    font-family: "Muli-Regular";
    cursor: pointer;
}


// Playlist item for 'Videos' section
@mixin playlistItem {

    .playlist-container {
        width: 432px;
        display: flex;
        margin-bottom: 30px;

        .thumbnail-container {
            position: relative;
            cursor: pointer;

            .thumbnail {
                position: relative;

                .short-details {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    color: white;

                    .name {
                        font-weight: bold;
                    }
                }

                img {
                    width: 400px;
                    height: 249px;
                    object-fit: cover;
                    cursor: pointer;
                    @media screen and (max-width: 991px) {
                        max-width: 432px !important;
                        width: 100% !important;
                    }
                }
            }

            .fake-bg {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                background: rgba(1, 1, 1, 0.2);
            }
        }
    }
}

@mixin stocksWatchlist {
    #sidebar-watchlist {
        .nav-item {
            width: 100px;
        }
    }
    .stocks-watchlist {
        margin-top: 40px;

        .nav-tabs {
            border-bottom: 0;

            .nav-item {
                color: #FFFFFF !important;
                font-size: 12px;
                box-shadow: 0 0 6px #0000000F;
                font-family: "Muli-Bold";
                margin-bottom: 16px;
            }
        }

        .nav-link {
            padding: 5px;
            height: 31px;
            //border-right: 1px solid silver;
            background: #fff;
            color: #545454 !important;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                border: 0;
            }

            &.active {
                background: #F53C6F !important;
                color: #FFFFFF !important;
            }
        }

        .dropdown {
            cursor: pointer;

            .dropdown-item {
                width: 100%;
                padding: 0 12px;
                color: #777777;
                font-size: 14px;
            }

            .dropdown-toggle {
                color: #777;
                font-size: 14px;
                font-family: Muli-Light;
            }
        }

        .watchlist-search {
            display: flex;
            position: relative;
            width: 100%;
            height: 31px;
            background: #FFFFFF 0 0 no-repeat padding-box;
            box-shadow: 0 0 6px #0000000F;
            margin-bottom: 12px;

            i {
                position: absolute;
                color: #6A6A6A;
                right: 11px;
                top: 10px;
            }

            .watchlist-input {
                font-family: "Muli-Light";
                background: #fff;
                color: #545454;
                font-size: 16px;
                padding-left: 10px;
            }

        }
    }
}




