@import 'variables';

@mixin redButton {
    width: 100%;
    height: 51px;
    background: $red;
    padding: 15px 32px;
    color: $white !important;
    font-size: 16px;
    font-family: "Muli-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

@mixin videoItem {
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;

    &.selected {
        border: 1px solid #18B587;
    }

    &.added {

        .img {
            position: relative;
            overflow: hidden;

            span.added-placeholder {
                position: absolute;
                right: -24px;
                top: 8px;
                font-size: 13px;
                transform: rotate(45deg);

                &::before {
                    content: "Added";
                    background: #f53c6f;
                    color: #ffffff;
                    padding: 20px 24px 6px;
                }
            }
        }
        .shortened-description {
            -webkit-line-clamp: 1!important;
        }
    }


    .video-container {
        display: flex;
        align-items: flex-start;

        .img {
            position: relative;
            flex: 0 0 200px;

            img {
                width: 100%;
                height: 115px;
                object-fit: cover;
                cursor: pointer;
                margin-bottom: 0;
            }

            .duration {
                position: absolute;
                bottom: 9px;
                right: 10px;
                color: white;
                background-color: #000;
                padding: 0 2px;
            }
        }

        .thumbnail {
            position: relative;
            margin-bottom: 24px;

            img {
                width: 432px;
                height: 249px;
                object-fit: cover;
                cursor: pointer;
                @media screen and (max-width: 991px) {
                    max-width: 432px !important;
                    width: 100% !important;
                }
            }

            .duration {
                position: absolute;
                bottom: 9px;
                right: 10px;
                color: white;
                background-color: #000;
                padding: 0 2px;
            }


        }


        .details {
            flex: 1;
            margin-left: 32px;

            .title {
                display: flex;
                justify-content: space-between;

                h4 {
                    margin: 0;
                    text-transform: capitalize;
                    font-family: "Muli-Bold";
                    color: #545454;
                    font-size: 16px;
                }

                .dotes {
                    button {
                        width: 40px;
                        font-size: 14px;
                        background: transparent;
                    }
                }
            }

            .shortened-details {
                margin-top: 4px;
                display: flex;

                .channel-name {
                    font-family: "Muli-Bold";
                    color: #818181;
                    font-size: 14px;
                }

                .dot {
                    margin-left: 16px;
                    margin-top: -3px;
                }


                .upload-time, .watchers-count {
                    font-size: 14px;
                    color: #818181;
                }

                .watchers-count, .upload-time {
                    margin-left: 16px;
                }
            }

            .shortened-description {
                margin-top: 16px;
                margin-bottom: 0;
                color: #545454;
                white-space: pre-wrap;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                max-width: 250px;
            }

            .channel-details {
                margin-top: 4px;

                .channel-name {
                    font-weight: bold;
                    color: #818181;
                    font-size: 14px;
                    cursor: pointer;
                }


                .videos-count {
                    font-size: 14px;
                    color: #818181;
                }
            }

        }
    }

    .tags {
        margin-top: 10px;

        li {
            display: inline-block;
            margin-right: 5px;

            span {
                @include tagItem;
            }
        }
    }

}

@mixin inputWrap {
    label {
        font-size: 16px;
        color: #545454;

    }

    .input {
        position: relative;
        margin-top: 8px;

        &.search {
            max-width: 400px;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                font-size: 22px;
                color: #545454;
                cursor: pointer;
            }
        }

        input {
            width: 100%;
            padding: 8px 16px;
            background: #81818121;
            color: #545454;
            border: 0;
            outline: none;
        }
    }
}

@mixin tagItem{
    height: 22px;
    border-radius: 11px;
    padding: 2px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;
    transition: 0.3s ease-in-out;
    color: #545454 !important;
    font-size: 14px;
    font-family: "Muli-Regular";
    cursor: pointer;
}

@mixin playlistItem{
    .playlist-container {
        .thumbnail-container {
            position: relative;
            cursor: pointer;

            .thumbnail {
                position: relative;

                .short-details {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    color: white;

                    .name {
                        font-weight: bold;
                    }
                }
            }

            .fake-bg {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                background: rgba(1, 1, 1, 0.2);
            }
        }
    }
}

