@import 'variables';

@mixin redButton {
    width: 100%;
    height: 51px;
    background: $red;
    padding: 15px 32px;
    color: $white !important;
    font-size: 16px;
    font-family: "Muli-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

@mixin videoItem {
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;

    &.selected {
        border: 1px solid #18B587;
    }

    .video-container {
        display: flex;

        .img {
            flex: 0 0 200px;

            img {
                width: 100%;
                height: 115px;
                object-fit: cover;
                cursor: pointer;
            }
        }

        .details {
            flex: 1;
            margin-left: 32px;

            .title {
                display: flex;
                justify-content: space-between;

                h4 {
                    margin: 0;
                    text-transform: capitalize;
                    font-family: "Muli-Bold";
                    color: #545454;
                    font-size: 16px;
                }

                .dotes {
                    button {
                        width: 40px;
                        font-size: 14px;
                        background: transparent;
                    }
                }
            }

            .shortened-details {
                margin-top: 4px;
                display: flex;

                .channel-name {
                    font-family: "Muli-Bold";
                    color: #818181;
                    font-size: 14px;
                }

                .dot {
                    margin-left: 16px;
                    margin-top: -3px;
                }


                .upload-time, .watchers-count {
                    font-size: 14px;
                    color: #818181;
                }

                .watchers-count, .upload-time {
                    margin-left: 16px;
                }
            }

            .shortened-description {
                margin-top: 16px;
                margin-bottom: 0;
                color: #545454;
            }

        }
    }


}

@mixin inputWrap {
    label {
        font-size: 16px;
        color: #545454;

    }

    .input {
        position: relative;
        margin-top: 8px;

        &.search {
            max-width: 400px;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                font-size: 22px;
                color: #545454;
                cursor: pointer;
            }
        }

        input {
            width: 100%;
            padding: 8px 16px;
            background: #81818121;
            color: #545454;
            border: 0;
            outline: none;
        }
    }
}
