@import 'variables';

.chat {
    margin-left: 32px;
    flex: 1;
    min-width: 350px;
    //margin-top: -50px;
    @media (max-width: 1111px) {
        margin-top: 0;
        margin-left: 0;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #DCDCDC;
        border-radius: 4px
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(174, 174, 174);
    }


    @media screen and (max-width: 1029px) {
        margin-left: 0;
        margin-top: 24px;
        min-width: 100%;
    }
}

.chat-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    padding: 12px 16px;
    @media only screen and (max-width: 767px) {
        display: block;
        position: relative;
    }
}

.left {
    display: flex;
    align-items: center;


    .img {
        margin-right: 16px;
    }

    .group-name {
        color: #18B587;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
    }
}

.right {
    display: flex;
    align-items: center;
    @media only screen and (min-width: 374px) and (max-width: 767px) {
        position: absolute;
        top: 24px;
        right: 0;
    }


    .remove {
        i {
            color: $red;
        }
    }

    > div {
        margin-left: 16px;
    }
}

.chat-history {
    //margin-top: 16px;
    overflow-x: auto;
    height: 600px;
    @media (min-width: 767px) and (max-width: 1024px) {
        height: 420px;
    }
    @media (max-width: 767px) {
        height: 340px;
    }


    li {
        margin-bottom: 32px;
        padding-right: 48px;

        &.data-list {
            height: 1px;
            margin: 16px 0 32px;
            background: #C9C9C9;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 48px;

            span {
                background: #ffffff;
                color: #C9C9C9;
                padding: 0 32px;
                font-size: 12px;
            }
        }

        &.my-message {
            padding-right: 8px;
            margin-left: 48px;

            .message {
                background: #18B587;
                color: #FFFFFF;
            }

            .message-date {
                justify-content: flex-end;
            }
        }

        .message-date {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            padding-left: 16px;
            justify-content: space-between;

            .img {
                margin-right: 16px;
            }

            .name {
                color: #545454;
                font-size: 16px;
                font-weight: 500;
                margin-right: 16px;
            }

            .date {
                font-size: 13px;
                font-weight: 300;
                color: #545454;
            }
        }

        .message {
            background: #F5F5F5;
            color: #545454;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            padding: 16px;
            font-family: "Muli-Light";
        }

        .seen {
            text-align: right;

            .seen-avatar {
                //pointer-events: none;
                width: 20px;
                height: 20px;
                border-radius: 20px;
            }
        }
    }
}
