@import 'variables';

.chat-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

    .img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .people-groups-container {
        flex: 0 0 316px;
        background: #F5F5F5;

        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background: #DCDCDC;
            border-radius: 4px
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgb(174, 174, 174);
        }

        .list-wrap {
            // max-height: 600px;
            // overflow-x: auto;
        }

        .create-group-chat {
            padding: 0 15px;
            margin: 4px 0 16px;
            background: transparent;
            color: #18B587;
            font-size: 16px;
            font-family: "Muli-Bold";

            img {
                width: 20px;
                margin-right: 2px;
            }
        }

        .list {
            max-height: 600px;
            overflow-x: auto;

            li {
                padding: 6px 10px;
                display: flex;
                border-left: solid 5px transparent;
                cursor: pointer;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &.active {
                    border-left: solid 5px #18B587;
                    background: #ffffff;

                    .text {
                        .name {
                            color: #18B587;
                        }

                        span {
                            color: #18B587;
                        }
                    }
                }

                &:hover {
                    border-left: solid 5px #F53C6F;
                    background: #ffffff;

                    .text {
                        .name {
                            color: #F53C6F;
                        }

                        span {
                            color: #F53C6F;
                        }
                    }
                }


                .img {
                    margin-right: 22px;
                }

                .text {
                    .name {
                        text-transform: capitalize;
                        font-size: 16px;
                        font-weight: 500;
                        color: #545454;
                    }

                    span {
                        margin-top: 4px;
                        display: block;
                        font-size: 14px;
                        font-weight: 300;
                        color: #ACACAC;
                    }
                }
            }
        }

        @media screen and (max-width: 1029px) {
            flex: 1;
        }
    }

    .chat {
        margin-left: 32px;
        flex: 1;
        min-width: 350px;
        margin-top: -50px;
        @media (max-width: 1111px) {
            margin-top: 0;
            margin-left: 0;
        }

        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background: #DCDCDC;
            border-radius: 4px
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgb(174, 174, 174);
        }

        .chat-about {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #F5F5F5;
            padding: 12px 16px;

            .left {
                display: flex;
                align-items: center;

                .img {
                    margin-right: 16px;
                }

                .group-name {
                    color: #18B587;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }

            .right {
                display: flex;
                align-items: center;

                .remove {
                    i {
                        color: $red;
                    }
                }

                > div {
                    margin-left: 16px;
                }
            }
        }

        .chat-history {
            //margin-top: 16px;
            overflow-x: auto;
            height: 600px;

            li {
                margin-bottom: 32px;
                padding-right: 48px;

                &.data-list {
                    height: 1px;
                    margin: 16px 0 32px;
                    background: #C9C9C9;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        background: #ffffff;
                        color: #C9C9C9;
                        padding: 0 32px;
                        font-size: 12px;
                    }
                }

                &.my-message {
                    padding-right: 8px;
                    margin-left: 48px;

                    .message {
                        background: #18B587;
                        color: #FFFFFF;
                    }

                    .message-data {
                        justify-content: flex-end;
                    }
                }

                .message-data {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    padding-left: 16px;

                    .img {
                        margin-right: 16px;
                    }

                    .name {
                        color: #545454;
                        font-size: 16px;
                        font-weight: 500;
                        margin-right: 16px;
                    }

                    .date {
                        font-size: 13px;
                        font-weight: 300;
                        color: #545454;
                    }
                }

                .message {
                    background: #F5F5F5;
                    color: #545454;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    padding: 16px;
                    font-family: "Muli-Light";
                }

                .seen {
                    text-align: right;

                    .seen-avatar {
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                    }
                }
            }
        }

        .chat-message {
            background: #F5F5F5;
            display: flex;
            justify-content: space-between;

            & > input {
                background: #F5F5F5;
            }

            .chat-form {
                width: 90%;

                input {
                    width: 100%;
                    padding: 12px 16px;
                    background: transparent;
                }
            }

            .icons {
                display: flex;
                align-items: center;
                padding-right: 16px;

                a {
                    margin-left: 12px;

                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }

        @media screen and (max-width: 1029px) {
            margin-left: 0;
            margin-top: 24px;
            min-width: 100%;
        }
    }
}

.more-btn {
    //display: none;
}

.responsive-list {
    flex: 0 0 100% !important;

    .more-btn {
        display: block;
    }
}

.responsive-list + .chat {
    //display: none!important;
}

.other-message {

}

.my-message {
    .img, .name {
        display: none;
    }
}
