@import 'variables';

.search-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 36px;
    background: #EFEFEF;
    margin-right: 24px;
    align-items: center;
    @media (max-width: 767px) {
        max-width: 500px;
        width: 100%;
}
    @media only screen and (max-width: 320px) {
        max-width: 500px;
        width: 100%;
    }



    i {
        position: absolute;
        color: #6A6A6A;
        right: 11px;
        top: 10px;
        z-index: 333;
        cursor: pointer;
    }

    mat-spinner {
        position: absolute;
        right: 10px;
        z-index: 2;
    }

    input {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 8px 32px 8px 16px!important;
        font-family: "Muli-Light";
        background: #EFEFEF;
        color: #545454;
        font-size: 16px;

        &.white {
            color: $white;
        }
    }
}

