<app-categories></app-categories>
<div class="ads-block">
    <div class="ads-block-left">
        <ng-container *ngIf="videoData">
            <app-vjs-player [videoData]="videoData" [options]="videoJSPlayerOptions"></app-vjs-player>

            <div class="main-tags">
                <div class="main-tags-text">
                    <p *ngFor="let tag of videoData.tags">#{{tag.name}}</p>
                </div>
                <div class="main-tags-like">
                    <div class="main-tags-share" (click)="updateLikes(videoData, true)">
                        <i class="fas fa-thumbs-up" [class.liked]="userVideoConnection?.liked ==='liked'"></i>
                        <p>{{videoData.likes}}</p>
                    </div>
                    <div class="main-tags-share" (click)="updateLikes(videoData, false)">
                        <i class="fas fa-thumbs-down"
                           [class.disliked]="userVideoConnection?.liked ==='disliked'"></i>
                        <p>{{videoData.dislikes}}</p>
                    </div>
                    <div class="main-tags-share">
                        <i class="fas fa-share-alt"></i>
                        <p>Share</p>
                    </div>
                    <div class="main-tags-share" (click)="saveVideo(videoData)"
                         [class.saved]="userVideoConnection?.saved === 'saved'">
                        <i class="fas fa-plus-square"></i>
                        <p>{{userVideoConnection?.saved === 'saved' ? 'Saved' : 'Save'}}</p>
                    </div>
                </div>
            </div>
            <p class="ads-text-1">{{videoData?.name}}</p>
            <p class="ads-text-2">{{videoData?.views}} views</p>
            <div class="main-item-block channel-block" (click)="openChannelPage(videoData)">
                <img class="thumbnail" src="assets/img/video-thumbnail-default.png"

                     *ngIf="!videoData?.thumbnail || videoData?.thumbnail==='undefined'">
                <img class="thumbnail" src="{{apiUrl+'uploads/thumbnails/'+videoData?.thumbnail}}"
                     *ngIf="videoData.thumbnail && videoData.thumbnail!=='undefined'">
                <div>
                    <p class="main-text-1">{{videoData?.channel.name}}</p>
                    <p class="main-text-4">{{videoData?.channel.subscribers_count + ' subscriber' + (videoData?.channel?.subscribers_count === 1 ? '' : 's')}}</p>
                </div>
            </div>
            <p class="ads-text-2"></p>
        </ng-container>
        <div class="ads-maps">
            <div>
                <canvas id="myChart"></canvas>
                <canvas id="myChart2"></canvas>
                <canvas id="myChart3"></canvas>
                <canvas id="myChart4"></canvas>
            </div>
        </div>
    </div>
    <div class="ads-block-right">
        <app-video-suggestions></app-video-suggestions>
    </div>
</div>



