@import "variables";

.saved {
    i, p {
        color: #18B587 !important;
    }
}

#add-tags {
    background-color: $green;
    color: $white;
    padding: 5px;
    margin-left: 10px;
}

.tag {
    cursor: pointer;
}

.details-row {
    display: flex;
    align-items: center;

    .dot {
        margin: 0 10px;
    }
}

.channel-block {
    cursor: pointer;
    border-top: 0.5px solid #C9C9C9;
    border-bottom: 0.5px solid #C9C9C9;
    padding: 12px 0;
}

.ads-block-right {

}

.tags-container {
    .editable-details {
        display: flex;
        justify-content: space-between;
    }

}
