<app-user-tags (tagSelected)="getVideosByTag($event)"></app-user-tags>
<div class="ads-block">
    <div class="ads-block-left">
        <ng-container *ngIf="videoData">
            <div class="videoWrap">
                <app-vjs-player [videoData]="videoData" [options]="videoJSPlayerOptions"></app-vjs-player>
            </div>

            <div class="main-tags">
                <div class="main-tags-text">
                    <span *ngIf="videoData.tags?.length === 0">No tags defined for this video</span>
                    <ng-container *ngIf="videoData.tags?.length > 0">
                        <p *ngFor="let tag of videoData.tags">#{{tag.name}}</p>
                    </ng-container>
                </div>

                <div class="main-tags-like">
                    <div class="main-tags-share" (click)="updateLikes(videoData, true)">
                        <i class="fas fa-thumbs-up" [class.liked]="userVideoConnection?.liked ==='liked'"></i>
                        <p>{{videoData.likes}}</p>
                    </div>
                    <div class="main-tags-share" (click)="updateLikes(videoData, false)">
                        <i class="fas fa-thumbs-down"
                           [class.disliked]="userVideoConnection?.liked ==='disliked'"></i>
                        <p>{{videoData.dislikes}}</p>
                    </div>
                    <div class="main-tags-share">
                        <i class="fas fa-share-alt"></i>
                        <p>Share</p>
                    </div>
                    <div class="main-tags-share" (click)="saveVideo(videoData)"
                         [class.saved]="userVideoConnection?.saved === 'saved'">
                        <i class="fas fa-plus-square"></i>
                        <p>{{userVideoConnection?.saved === 'saved' ? 'Saved' : 'Save'}}</p>
                    </div>


                </div>
            </div>
            <div class="tags-container">
                <p class="ads-text-1">{{videoData?.name}}</p>
                <button id="add-tags" *ngIf="!showTagsForm && authUser.id === videoData.author_id"
                        (click)="showTagsForm = !showTagsForm">Edit tags
                </button>
                <app-tags-form [tags]="videoData?.tags" *ngIf="showTagsForm"
                               (tagsAdded)="saveTags($event)"></app-tags-form>
            </div>
            <div class="details-row">
                <span class="ads-text-2">{{videoData?.views + ' view' + (videoData?.views === 1 ? '' : 's')}}</span>
                <span class="dot">&middot;</span>
                <span class="ads-text-2">{{videoData.created_at|dateFromNow}}</span>
            </div>
            <div class="main-item-block channel-block" (click)="openChannelPage(videoData)">
                <img class="thumbnail" [src]="videoData.thumbnail|getImgPath">
                <div>
                    <p class="main-text-1">{{videoData?.channel.name}}</p>
                    <p class="main-text-4">{{videoData?.channel.subscribers_count + ' subscriber' + (videoData?.channel?.subscribers_count === 1 ? '' : 's')}}</p>
                </div>
            </div>
            <p class="ads-text-2"></p>
        </ng-container>
        <div class="ads-maps">
            <div>
                <canvas id="myChart"></canvas>
                <canvas id="myChart2"></canvas>
                <canvas id="myChart3"></canvas>
                <canvas id="myChart4"></canvas>
            </div>
        </div>
    </div>
    <div class="ads-block-right">
        <app-video-suggestions></app-video-suggestions>
    </div>
</div>



