<div id="video-stream-container">

    <mat-spinner [diameter]="100" class="session-loader" *ngIf="loader.dataLoading"></mat-spinner>
    <ng-container *ngIf="openViduToken">
        <div id="video-chat-container">

            <!-- Publisher video recording interface -->
            <app-video-js-record [openViduToken]="openViduToken" [thumbnailFile]="thumbnailFile"
                                 [videoSettings]="videoSettings"></app-video-js-record>
            <app-chat-box [openViduToken]="openViduToken" [session]="session" (sendMessage)="sendMessage($event)"
                          [videoRecordingState]="recordingState"></app-chat-box>
        </div>

        <div id="participants-count" *ngIf="!loader.dataLoading">
            <i class="fa fa-users"></i>{{participants.length}}
            <ul>
                <li *ngFor="let participant of participants">{{participant}}</li>
            </ul>
        </div>

        <!-- Hidden block only here to avoid Openvidu error-->
        <div *ngFor="let sub of subscribers" class="stream-container col-md-6 col-xs-6">
            <div class="video-container">
                <app-user-video [streamManager]="sub"></app-user-video>
            </div>
        </div>
    </ng-container>
</div>


<ng-container *ngIf="!openViduToken && !loader.dataLoading">
    <h1>There was a problem white loading streaming session</h1>
</ng-container>
