#video-stream-container {

    #video-chat-container {
        display: flex;

        app-video-js-record {
            flex: 1;

            position: relative;
            width: 100%;
            overflow: hidden;
            padding-top: 60%;
        }
    }
}
