<div id="videos-list">
    <ng-container *ngIf="!search">
        <div class="video-container" *ngFor="let video of items.videos">
            <div class="thumbnail">
                <img class="thumbnail" [src]="video.thumbnail|getImgPath"
                     (click)="openVideoPage(video, video.user.username)">
            </div>
            <div class="details">
                <h4 class="title">{{video.name}}</h4>
                <div class="shortened-details">
                    <span class="channel-name" (click)="openChannelPage(video.user.channel, video.user.username)">
                        {{video.user.channel.name}}
                    </span>
                    <span class="dot">.</span>
                    <span class="watchers-count">{{video.status ==='live'? '17k watching': video.views + ' view' +(video.views ===1?'':'s')}}</span>
                    <span class="dot">.</span>
                    <span class="upload-time">{{getUploadDateTime(video.created_at)}}</span>
                </div>
                <p class="shortened-description">
                    {{video.description}}
                </p>

                <div class="saved-video" *ngIf="video.users_vids[0]?.users_videos.saved">
                    <mat-icon>turned_in</mat-icon>
                    <span>Saved</span>
                </div>
            </div>
        </div>
        <div class="playlist-container" *ngFor="let playlist of items.playlists">
            <ng-container *ngIf="playlist.videos.length > 0">
                <div class="thumbnail-container" (click)="openPlaylistPage(playlist, playlist.videos[0].id)">
                    <div class="thumbnail">
                        <div class="short-details">
                            <mat-icon>playlist_add_check</mat-icon>
                            <p class="name">{{playlist.name}}</p>
                            <p class="video-count">{{playlist.videos.length + (playlist.videos.length === 1 ? ' video' : ' videos')}}</p>
                        </div>
                        <img *ngIf="playlist.thumbnail" [src]="apiUrl+'uploads/thumbnails/'+playlist.thumbnail">
                        <img *ngIf="!playlist.thumbnail" [src]="'assets/img/video-thumbnail-default.png'">
                    </div>
                    <div class="fake-bg thumbnail"></div>
                </div>
                <div class="details">

                </div>
            </ng-container>
        </div>
    </ng-container>
    <div *ngIf="search">
        <ng-container *ngFor="let channel of channelsVideos">
            <div class="channel-container">
                <div class="channel-avatar-container">
                    <img *ngIf="channel.user.avatar" class="channel-avatar"
                         [src]="apiUrl+'uploads/avatars/'+channel.user.avatar"
                         (click)="openChannelPage(channel,channel.user.username)">
                    <img *ngIf="!channel.user.avatar" class="channel-avatar"
                         [src]="'assets/img/video-thumbnail-default.png'"
                         (click)="openChannelPage(channel,channel.user.username)">
                </div>
                <div class="details">
                    <h4 class="title">{{channel.name}}</h4>
                    <div class="shortened-details">
                        <span class="channel-name">{{channel.name}}</span>
                        <span class="dot">.</span>
                        <span class="watchers-count">17k watching</span>
                        <!--                        <span class="dot">.</span>-->
                        <!--                        <span class="upload-time">{{getUploadDateTime(channel.created_at)}}</span>-->
                    </div>
                    <p class="shortened-description">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet,
                        consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed sda,sasddswd
                    </p>

                    <button class="btn">Subscribe</button>
                </div>
            </div>
            <div class="video-container" *ngFor="let video of channel.videos">
                <div class="thumbnail">
                    <img *ngIf="video.thumbnail" [src]="apiUrl+'uploads/thumbnails/'+video.thumbnail"
                         (click)="openVideoPage(video,channel.user.username)">
                    <img *ngIf="!video.thumbnail" [src]="'assets/img/video-thumbnail-default.png'"
                         (click)="openVideoPage(video,channel.user.username)">
                </div>
                <div class="details">
                    <h4 class="title">{{video.name}}</h4>
                    <div class="shortened-details">
                        <span class="channel-name">{{channel.name}}</span>
                        <span class="dot">.</span>
                        <span class="watchers-count">17k watching</span>
                        <span class="dot">.</span>
                        <span class="upload-time">{{getUploadDateTime(video.created_at)}}</span>
                    </div>
                    <p class="shortened-description">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedLorem ipsum dolor sit amet,
                        consetetur sadipscing elitr, sed Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed sda,sasddswd
                    </p>
                </div>
            </div>

        </ng-container>
    </div>
</div>
