//@import '~assets/styles/chat-users-groups-container';
@import 'variables';
@import 'mixins';

.chat-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;


    form {
        width: 100%;
    }


}

.chat-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    padding: 12px 16px;
    width: 100%;

    @media only screen and (max-width: 767px) {
        display: block;
        position: relative;
    }
}

app-group-chat-members {
    max-width: 310px;
    width: 100%;
}
