@import 'variables';

.remove-video {
    position: absolute;
    top: 16px;
    left: 16px;
    color: $red;
    transition: 0.3s;
    cursor: pointer;
}

.overlay {
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    height: 182px;
    opacity: 0.38;
}
