.add-playlist-modal {
    overflow: auto;
    max-height: 100%;
    padding: 32px;
    width: 100%;
    max-width: 890px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background: #fff;
    z-index: 1001;

    input, textarea, .select select {
        width: 100%;
        padding: 12px 24px;
        background: #F4F4F4;
        color: #545454;
        margin-bottom: 32px;
        border: 0;
        outline: none;
    }

    textarea {
        height: 162px;
        min-height: 96px;
        max-height: 280px;
        resize: none;
    }

    .select {
        select {
            width: auto;
            min-width: 284px;
        }
    }

    .btn-wrap {
        display: flex;
        justify-content: flex-end;

        .btn {
            margin-left: 24px;
            background: #18B587;
            color: #FFFFFF;
            font-size: 16px;
            border-radius: 0;
            padding: 8px 24px;
            line-height: initial;

            &.cancel {
                background: #C9C9C9;
            }
        }
    }
}
