<div class="add-playlist-modal">
    <form [formGroup]="addPlaylistForm">
        <input type="text" placeholder="Playlist Title" formControlName="name">

        <textarea id="playlist-description" cols="30" rows="10" formControlName="description"
                  placeholder="Playlist Description"></textarea>

        <div class="select">
            <select id="visibility" formControlName="privacy">
                <option [value]="''">Visibility</option>
                <option [value]="0">Public</option>
                <option [value]="1">Private</option>
            </select>
        </div>

        <div class="btn-wrap">
            <button class="btn cancel" (click)="cancel()">Cancel</button>
            <button class="btn create" (click)="createPlaylist()">Create</button>
        </div>
    </form>
</div>

