<section class="crypto-section" id="stocks-lists-modal">
    <div class="spinner-container" *ngIf="stocksLoading==='loading'">
        <mat-spinner [diameter]="25"></mat-spinner>
        <span>Loading stocks lists...</span>
    </div>
    <div class="favorites" *ngIf="stocksLoading==='finished'">
        <div class="top-wrap">
            <h2>My Watchlist</h2>

            <div class="stock-type-selector">
                <select (change)="stockTypeChanged($event)">
                    <option *ngFor="let type of stockTypes" [value]="type.value">{{type.name}}</option>
                </select>
                <i class="fas fa-times" (click)="closeModal()"></i>
            </div>
        </div>

        <app-stocks-list-sample [stocks]="compareWithMainStockList(userStocks)" (updatedStocksList)="updateFollowedStocks($event)"
                                [userStocks]="compareWithMainStockList(userStocks)"
                                *ngIf="filteredStocks.length > 0"></app-stocks-list-sample>
    </div>


    <div class="all-stocks" *ngIf="stocksLoading==='finished'">
        <div class="top-wrap">
            <h2>All Stocks</h2>

            <div class="center-group" [hidden]="true">
                <app-search-stocks-form [modal]="true" (search)="getSearchResults($event)"></app-search-stocks-form>
                <!--                <mat-spinner [diameter]="20" *ngIf="stocksLoading==='loading'"></mat-spinner>-->

            </div>

            <div class="paginator">
                <mat-paginator *ngIf="stocks.length > 0" (page)="handle($event)"
                               #paginator
                               [length]="stocks.length" [pageIndex]="pageIndex"
                               [pageSize]="pageSize" [hidePageSize]="true"
                               [pageSizeOptions]="[2,5,10,25,100]">
                </mat-paginator>
            </div>
        </div>


        <app-stocks-list-sample [stocks]="filteredStocks" *ngIf="filteredStocks.length > 0"
                                [userStocks]="compareWithMainStockList(userStocks)"
                                (updatedStocksList)="updateFollowedStocks($event)"></app-stocks-list-sample>
    </div>

</section>

