@import 'variables';
@import 'mixins';

.crypto-section {
    background: #0E1D43 0 0 no-repeat padding-box;
    width: 100%;
    padding: 60px 200px;
    margin: -1.75rem auto;
    min-height: calc(100vh - 2px);

    .top-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFFFFF;
        font-size: 24px;
        flex-wrap: wrap;


        .left-group, .center-group, .right-group {
            width: 30%;
        }

        h2 {
            margin: 0;
        }

        i {
            font-size: 20px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: #F53C6F;
            }
        }

    }
}

.favorites {
    .right-group {
        display: flex;
        justify-content: flex-end;
    }
}

.addStockWrap {
    .crypto-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0D1B3E;
        color: #FFFFFF;
        border: 1px dashed #FFFFFF;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background: #2b4380;
        }
    }
}


.crypto-map {
    width: 100%;
}


.modal-dialog {
    margin: 0 !important;
}

.all-stocks {
    .mat-paginator {
        background: transparent;
        color: white;
        font-family: 'Muli-Regular';
        font-size: 12px;
    }
}

app-search-stocks-form {
    padding-top: 10px !important;
}

select {
    background: transparent;
    //border: none !important;
    border-bottom: 1px solid $white !important;
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: 'Muli-Light';
    font-size: 18px;
    color: $white !important;

    &:focus {
        outline: none;
    }

    option {
        color: $black !important;

    }
}

.center-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stock-type-selector {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;

    mat-spinner {
        color: $white;
    }


    span {
        font-size: 14px;
        margin-left: 20px;
        color: $white;
    }
}

@media (max-width: 1400px) {
    .crypto-section {
        padding: 60px 150px;
    }
}

@media (max-width: 991px) {
    .crypto-section {
        padding: 60px 50px;
        justify-content: space-around;
    }
    .crypto-content {
        justify-content: space-around;
    }
}
