.filter-groups {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;

    .filter-group {

        .filter-name {
            margin: 5px;
            color: #545454;
        }

        .filter-item {
            display: flex;
            align-items: center;
            padding: 5px;
            font-family: 'Muli-Light';
            cursor: pointer;

            .remove-filter {
                mat-icon {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}
