<div class="tabs-container">
    <mat-tab-group [disableRipple]="true" #tabGroup [selectedIndex]="selectedTabIndex" [@.disabled]="true"
                   (selectedTabChange)="tabChange($event)" *ngIf="authUser">
        <mat-tab label="Connections">
            <app-connections-tab [authUser]="authUser" [connections]="connections"
                                 [hidden]="connections.length === 0"></app-connections-tab>
        </mat-tab>
        <mat-tab label="Connection requests">
            <app-connection-requests-tab [authUser]="authUser" [connectionRequests]="connectionRequests"
                                         [hidden]="connectionRequests.length === 0"></app-connection-requests-tab>
        </mat-tab>
        <mat-tab label="Subscribers">
            <app-subscribers-tab [authUser]="authUser"></app-subscribers-tab>
        </mat-tab>
        <mat-tab label="Subscriptions">
            <app-subscriptions-tab [authUser]="authUser"></app-subscriptions-tab>
        </mat-tab>
    </mat-tab-group>

    <div class="search-block">
        <input placeholder="Search">
    </div>
</div>
